extends ./../../../../main

block variables
    - var title = 'Костюм'

block content
    main.page
        //- banner
        section.page__banner
            -
                var props = {
                    imgPath: "/images/content/index/banner/",
                    sub: "ДОМ МОДЫ LEONID GRIVKO",
                    title: "Пошив мужских <br> костюмов на заказ",
                    txt: "по индивидуальным меркам <br> с гарантией идеальной посадки",
                    dopCls: "banner--small",
                    form: true
                };
            include ../../../../components/banner/index
        //- breadcrumbs
        section.page__breadcrumbs
            .container
                include ../../../../components/breadcrumbs/index
        //- suit
        section.page__suit.mb80
            .container
                -
                    var props = {
                      img: "/images/content/men/services/trousers/img.png"
                    };
                include ../../../../components/suit/index
        //- prices
        section.page__prices.mb40
            -
                var props = {
                    title: "Цены",
                    listClass: "catalog__list--3",
                    list: [
                        {
                            img: "/images/content/men/services/trousers/prices/1.jpg",
                            title: "Classic",
                            price: "от 75 000 руб.",
                            txt: "Костюм для повседневной носки, сшитый по индивидуальным лекалам из итальянских и английских тканей высокого качества. <br> Основные операции при пошиве осуществляются с помощью современных технологий.",
                            href: "/"
                        },
                        {
                            img: "/images/content/men/services/trousers/prices/2.jpg",
                            title: "Premium",
                            price: "от 95 000р.",
                            txt: "Лучший выбор, чтобы подчеркнуть высокий статус. Изделие шьется из английских и итальянских тканей по традиционной технологии с использованием большого объёма ручной работы. Костюм отличает особая мягкость и удобство.",
                            href: "/"
                        },
                        {
                            img: "/images/content/men/services/trousers/prices/3.jpg",
                            title: "Luxury",
                            price: "от 190 000р.",
                            txt: "Шедевр для настоящих ценителей эксклюзива. Сшит по старинной английской технологии из лучших английских и итальянских тканей. Костюм практически весь собирается портным вручную.",
                            href: "/"
                        },

                    ],
                    desc: "Костюм, который идеально выглядит и сидит — <br> не давит, не тянет, не висит и не полнит — это реальность."
                };
            include ../../../../components/catalog/index
        //- appointment
        section.page__appointment.mb80
            .container
                include ../../../../components/appointment/index
        //- tech
        section.page__tech.mb80
            .container
                include ../../../../components/corsettech/index
        //- cloths
        section.page__cloths.mb80
            .container
                include ../../../../components/cloths/index
        //- principles
        section.page__principles.mb80
            .container
                include ../../../../components/principles/index
        //- gallery
        section.page__gallery.mb80
            .container
                -
                    var props = {
                        title: "Работы LEONID GRIVKO",
                        list: [
                            "/images/content/women/tailoring/gallery/1.jpg",
                            "/images/content/women/tailoring/gallery/2.jpg",
                            "/images/content/women/tailoring/gallery/3.jpg",
                            "/images/content/women/tailoring/gallery/4.jpg",
                            "/images/content/women/tailoring/gallery/5.jpg",
                            "/images/content/women/tailoring/gallery/6.jpg",
                            "/images/content/women/tailoring/gallery/7.jpg",
                            "/images/content/women/tailoring/gallery/8.jpg",
                        ]
                    };
                include ../../../../components/gallery/index
        //- revs
        section.page__revs.mb80
            .container
                include ../../../../components/revs/index
        //- appointment
        section.page__appointment.mb80
            .container
                include ../../../../components/appointment/index
        //- gift
        section.page__gift.mb80
            .container
                -
                    var props = {
                        list: false,
                        cls: 'gift--nowrap'
                    };
                include ../../../../components/gift/index
        //- founder
        section.page__founder.mb80
            .container
                include ../../../../components/founder/index
        //- signup
        section.page__signup
            .container
                include ../../../../components/signup/index