@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.42;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  color: #202020;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page {
  overflow: hidden;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1919.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1279.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 767.98px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 575.98px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}
.content ul li {
  list-style: disc;
}
.content h1 {
  margin: 0.67em 0;
}
.content h2 {
  margin: 0.83em 0;
}
.content h3 {
  margin: 1em 0;
}
.content h4 {
  margin: 1.33em 0;
}
.content h5 {
  margin: 1.67em 0;
}
.content h5 {
  margin: 2.33em 0;
}
.content p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  width: 333px;
  height: 58px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 300;
  transition: 0.3s;
}
.btn:hover {
  background: #ffffff;
  color: #202020;
}
.btn--black {
  color: #202020;
  border-color: #202020;
}
.btn--black:hover {
  background: #202020;
  color: #ffffff;
}
.btn svg {
  fill: currentColor;
  margin-left: 15px;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  background: #ffffff;
  width: 333px;
  height: 58px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 300;
  transition: 0.3s;
}
.btn2:hover {
  background: transparent;
  color: #202020;
}
.btn2--black {
  background: #202020;
  color: #ffffff;
  border-color: #202020;
}
.btn2--black:hover {
  background: transparent;
  color: #202020;
}
.btn2 svg {
  fill: currentColor;
  margin-left: 15px;
}

.title {
  color: #202020;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.mb80 {
  margin-bottom: 80px;
}

.input {
  width: 100%;
  height: 74px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #202020;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  padding: 0 30px;
  border: 1px solid transparent;
  resize: none;
  transition: 0.3s;
}
.input--area {
  height: 123px;
  padding-top: 20px;
}
.input:focus {
  border-color: #e7511c;
}

.header {
  background-color: #ffffff;
  padding: 15px 0;
}
.header--second {
  padding: 0;
}
.header--second .header__top {
  background-color: #e1e1e1;
  padding: 8px 0;
}
.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__top-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__top-right {
  margin-right: 12px;
}
.header__bottom {
  padding: 15px 0;
}
.header__bottom .container {
  display: flex;
  align-items: center;
}
.header__bottom-left {
  margin-right: 110px;
}
.header__bottom-center {
  margin-right: auto;
}
.header__nav {
  display: flex;
  gap: 30px;
}
.header__nav-item {
  padding: 10px 0;
  transition: 0.3s;
}
.header__nav-item:hover, .header__nav-item:focus, .header__nav-item:active, .header__nav-item.active {
  color: #e7511c;
}
.header__logo {
  display: block;
  width: 108px;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__tel {
  transform-origin: right;
  transition: 0.3s;
}
.header__tel:hover {
  color: #e7511c;
  transform: scale(1.6);
}

.nav {
  display: flex;
  gap: 30px;
}
.nav__link {
  padding: 10px 0;
  display: block;
  transition: 0.3s;
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #e7511c;
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer__top {
  border-top: 1px solid #E1E1E1;
  padding-top: 55px;
  margin-bottom: 55px;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__item {
  padding: 10px 0;
  transition: 0.3s;
}
.footer__item:hover, .footer__item:focus, .footer__item:active {
  color: #e7511c;
}
.footer__grid {
  display: flex;
  align-items: center;
}
.footer__left {
  flex-shrink: 0;
  margin-right: 55px;
}
.footer__logo {
  width: 124px;
  display: block;
}
.footer__center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 90px;
  gap: 15px;
}
.footer__policy {
  color: #e7511c;
  text-decoration: underline;
}
.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.footer__contact {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.footer__contact:hover, .footer__contact:focus, .footer__contact:active {
  color: #e7511c;
}
.footer__contact svg {
  margin-right: 7px;
  fill: currentColor;
}

.banner--small .banner__img {
  padding-top: calc(588/1760*100%);
}
.banner__container {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.banner__img {
  padding-top: calc(840/1760*100%);
}
.banner__img:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40.625%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.banner__img img {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.banner__wrap {
  position: absolute;
  z-index: 2;
  left: 80px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  line-height: 1.29;
}
.banner__sub {
  margin-bottom: 14px;
}
.banner__title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.banner__big {
  font-size: 32px;
}

.bordered, .subscribe__content {
  background: #ffffff url("/images/content/bordered/bg.png") 0 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: 65px solid #ffffff;
  padding: 70px 65px 110px 65px;
  position: relative;
}
.bordered h2, .subscribe__content h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1.2;
}
.bordered p, .subscribe__content p {
  margin-bottom: 25px;
}
.bordered p:last-child, .subscribe__content p:last-child {
  margin-bottom: 0;
}
.bordered p b, .subscribe__content p b {
  font-weight: 500;
}

.catalog {
  background-color: #f2f2f2;
  padding-top: 65px;
  padding-bottom: 40px;
}
.catalog--small-title .item__title {
  font-size: 24px;
}
.catalog__filters {
  margin-bottom: 40px;
}
.catalog__top {
  display: flex;
  align-items: baseline;
  gap: 30px;
  margin-bottom: 65px;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  grid-gap: 10px;
  margin-bottom: 70px;
}
.catalog__bottom {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.catalog__link {
  max-width: 876px;
  width: 100%;
}

.catalog-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.catalog-nav__arr {
  padding: 10px 0;
}
.catalog-nav__arr svg {
  fill: #202020;
}
.catalog-nav__arr:hover svg {
  fill: #bfa058;
}
.catalog-nav__item {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.catalog-nav__item:hover {
  color: #bfa058;
}
.catalog-nav__item--active {
  background-color: #bfa058;
  color: #ffffff;
}
.catalog-nav__item--active:hover {
  color: #ffffff;
}

.item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.item:hover, .item:focus, .item:active {
  z-index: 1;
}
.item:hover .item__wrap, .item:focus .item__wrap, .item:active .item__wrap {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.item:hover .item__img img, .item:focus .item__img img, .item:active .item__img img {
  transform: scale(1.05);
}
.item:hover .item__btn, .item:focus .item__btn, .item:active .item__btn {
  display: flex;
}
.item__wrap {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 0 65px 35px 65px;
}
.item__img {
  width: 100%;
  max-width: 264px;
  display: block;
  margin-bottom: 4px;
  overflow: hidden;
  position: relative;
}
.item__img:before {
  content: "";
  display: block;
  padding-top: calc(487/264*100%);
  width: 100%;
}
.item__img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.item__title {
  width: 100%;
  margin-bottom: 15px;
}
.item__price {
  width: 100%;
  margin-bottom: 30px;
}
.item__btn {
  display: none;
  width: 100%;
  height: 58px;
  align-items: center;
  justify-content: center;
  border: 1px solid #202020;
  flex-shrink: 0;
  color: #202020;
  margin-top: auto;
}
.item__btn svg {
  fill: currentColor;
  margin-left: 15px;
}

.list {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
.list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list__img {
  padding-left: 65px;
  margin-bottom: 60px;
}
.list__link {
  padding: 17px 25px;
  background-color: #bfa058;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.fitting {
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
}
.fitting__list {
  display: grid;
  grid-gap: 10px;
}
.fitting__item {
  position: relative;
  overflow: hidden;
}
.fitting__item:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: calc(587 / 1168 * 100%);
}
.fitting__item:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 76.62%;
  height: 100%;
  background-image: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  transition: 0.3s;
}
.fitting__item:hover:after, .fitting__item:focus:after, .fitting__item:active:after {
  opacity: 0.75;
}
.fitting__item:hover .fitting__img img, .fitting__item:focus .fitting__img img, .fitting__item:active .fitting__img img {
  transform: scale(1.05);
}
.fitting__item:hover .fitting__btn, .fitting__item:focus .fitting__btn, .fitting__item:active .fitting__btn {
  background: #ffffff;
  color: #202020;
}
.fitting__img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fitting__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.fitting__desc {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.fitting__title {
  color: #ffffff;
  margin-bottom: 20px;
}
.fitting__txt {
  margin-bottom: 30px;
}
.fitting__right {
  margin-left: -65px;
}
.fitting__content {
  padding: 70px 60px 240px;
  margin-bottom: 15px;
  position: relative;
}
.fitting__content:before {
  content: "Бесплатно";
  position: absolute;
  top: 65px;
  right: -65px;
  width: 65px;
  height: 209px;
  background-color: #bfa058;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.fitting__content:after {
  content: "";
  display: block;
  width: 392px;
  height: 174px;
  background: url("/images/content/women/fitting/img.png") 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -105px;
  right: -65px;
}

.fitting-form__title {
  margin-bottom: 15px;
}
.fitting-form__txt {
  margin-bottom: 15px;
}
.fitting-form__fields {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.langs {
  position: relative;
}
.langs:hover .langs__drop, .langs:focus .langs__drop, .langs:active .langs__drop {
  display: block;
}
.langs:hover .langs__btn, .langs:focus .langs__btn, .langs:active .langs__btn {
  color: #e7511c;
}
.langs__btn {
  display: flex;
  align-items: center;
}
.langs__btn svg {
  margin-left: 7px;
}
.langs__btn svg path {
  fill: currentColor;
}
.langs__drop {
  display: none;
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #bfa058;
}
.langs__drop:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  height: 15px;
  left: 0;
  right: 0;
}
.langs__lang {
  display: block;
  padding: 6px 20px;
  color: #ffffff;
  transition: 0.3s;
}
.langs__lang:hover, .langs__lang:focus, .langs__lang:active {
  background-color: #a5863f;
}

.revs__grid {
  display: flex;
  gap: 20px;
}
.revs__left {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}
.revs__right {
  width: calc(100% - 320px);
  position: relative;
}
.revs__title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.revs__sub {
  margin-bottom: auto;
}
.revs__txt {
  color: #c4c4c4;
  max-width: 234px;
}
.revs__nav {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: -40px;
  right: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.revs__arr {
  pointer-events: all;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.revs__arr:hover, .revs__arr:focus, .revs__arr:active {
  transform: scale(1.125);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.revs__swiper {
  overflow: hidden;
}
.revs__item {
  width: 380px;
}

.rev {
  display: block;
  position: relative;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
}
.rev:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 41.77%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  opacity: 0;
  transition: 0.3s;
}
.rev:hover:before, .rev:focus:before, .rev:active:before {
  height: 72.6%;
  opacity: 1;
}
.rev:hover .rev__img img, .rev:focus .rev__img img, .rev:active .rev__img img {
  transform: scale(1.05);
}
.rev:hover .rev__btn svg, .rev:focus .rev__btn svg, .rev:active .rev__btn svg {
  fill: #e7511c;
}
.rev__img {
  display: block;
  padding-top: calc(663/380*100%);
  position: relative;
  overflow: hidden;
}
.rev__img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: 0.3s;
}
.rev__btn {
  position: absolute;
  z-index: 3;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rev__btn svg {
  fill: #ffffff;
  transition: 0.3s;
}
.rev__wrap {
  position: absolute;
  z-index: 3;
  bottom: 80px;
  left: 80px;
  right: 80px;
}
.rev__name {
  display: block;
  margin-bottom: 15px;
}
.rev__txt {
  font-size: 16px;
  display: block;
}

.subscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.subscribe:hover .subscribe__img img, .subscribe:focus .subscribe__img img, .subscribe:active .subscribe__img img {
  transform: scale(1.05);
}
.subscribe:hover .subscribe__content:after, .subscribe:focus .subscribe__content:after, .subscribe:active .subscribe__content:after {
  transform: scale(1.05);
}
.subscribe__left {
  position: relative;
  z-index: 1;
  margin-right: -80px;
}
.subscribe__img {
  overflow: hidden;
}
.subscribe__img img {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.subscribe__content {
  padding-top: 65px;
  padding-bottom: 210px;
}
.subscribe__content:after {
  content: url("/images/content/index/subscribe/mail.png");
  position: absolute;
  left: -82px;
  bottom: -150px;
}
.subscribe__content h2 {
  margin-bottom: 35px;
}
.subscribe__form {
  margin-top: 65px;
}
.subscribe__field {
  margin-bottom: 30px;
}
.subscribe__policy {
  font-size: 16px;
  margin-bottom: 30px;
}
.subscribe__policy a {
  color: #e7511c;
}
.subscribe__submit {
  width: 317px;
}

.breadcrumbs__item {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.breadcrumbs__item:hover, .breadcrumbs__item:focus, .breadcrumbs__item:active {
  text-decoration: underline;
}
.breadcrumbs__item--sep:hover, .breadcrumbs__item--sep:focus, .breadcrumbs__item--sep:active, .breadcrumbs__item--active:hover, .breadcrumbs__item--active:focus, .breadcrumbs__item--active:active {
  text-decoration: initial;
}
.breadcrumbs__item--active {
  color: #e7511c;
}

.corsettech {
  background: url("/images/content/bordered/bg.png") 0 0;
  padding: 80px;
  display: grid;
  grid-template-columns: 754fr 787fr;
  grid-gap: 60px;
}
.corsettech__img {
  margin-bottom: 70px;
}
.corsettech__img img {
  width: 100%;
  display: block;
}
.corsettech__title {
  width: 100%;
  height: 107px;
  background-color: #bfa058;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
.corsettech__video {
  width: 100%;
  display: block;
  padding-top: calc(640/787*100%);
  position: relative;
  color: #ffffff;
  overflow: hidden;
}
.corsettech__video:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58.125%;
  background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.32;
}
.corsettech__video:hover:before {
  height: 90%;
  opacity: 0.75;
}
.corsettech__video:hover img {
  transform: scale(1.05);
}
.corsettech__video:hover .corsettech__video-btn {
  color: #bfa058;
}
.corsettech__video img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.corsettech__video-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.corsettech__video-btn svg {
  fill: currentColor;
  transition: 0.3s;
}
.corsettech__video-txt {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  left: 70px;
}

.signup {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 32px;
}
.signup__wrap {
  padding: 80px;
  padding-right: 145px;
  background: url("/images/content/bordered/bg.png") 0 0;
  position: relative;
}
.signup__wrap:before {
  content: "Бесплатно";
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  background-color: #bfa058;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.signup__wrap:after {
  content: "";
  display: block;
  width: 481px;
  height: 213px;
  background: url("/images/content/women/fitting/img.png") 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  right: 135px;
  top: -25px;
}
.signup__title {
  margin-bottom: 15px;
}
.signup__txt {
  margin-bottom: 30px;
}
.signup__fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.signup__submit {
  width: 319px;
  height: 74px;
}

.choose {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 30px));
  grid-gap: 60px;
}
.choose__img img {
  display: block;
}
.choose__title {
  margin-bottom: 35px;
}
.choose__txt {
  margin-bottom: 60px;
}
.choose__quiz {
  margin-left: -165px;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  padding-top: 75px;
  padding-bottom: 75px;
}
.choose__swiper {
  overflow: hidden;
}
.choose__slide {
  box-sizing: border-box;
  padding: 0 60px;
}
.choose__pag {
  display: flex;
  gap: 13px;
  padding: 0 60px;
  margin-bottom: 45px;
}
.choose__pag .swiper-pagination-bullet {
  border-radius: 0;
  opacity: 1;
  flex-grow: 1;
  height: 17px;
  background-color: #dfdfdf;
  transition: 0.3s;
}
.choose__pag .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #bfa058;
}
.choose__nav {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.choose__nav.disabled .choose__arr {
  pointer-events: none;
  opacity: 0.5;
}
.choose__arr {
  width: 163px;
  height: 59px;
}
.choose__arr.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.choose__prev svg {
  margin: 0;
  margin-right: 15px;
}
.choose__next svg {
  margin: 0;
  margin-left: 15px;
}

.choose-slide {
  box-sizing: border-box;
}
.choose-slide__top {
  display: flex;
  margin-bottom: 45px;
}
.choose-slide__wrap {
  margin-bottom: 45px;
}
.choose-slide__count {
  color: #bfa058;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 25px;
}
.choose-models {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.choose-model {
  display: block;
  height: 100%;
  cursor: pointer;
}
.choose-model input {
  display: none;
}
.choose-model input:checked + .choose-model__wrap {
  border-color: #bfa058;
}
.choose-model input:checked + .choose-model__wrap .choose-model__round {
  opacity: 1;
}
.choose-model__wrap {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.choose-model__round {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #bfa058;
  padding: 6px;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 12px;
}
.choose-model__round:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #bfa058;
}
.choose-model__img {
  display: block;
  margin-bottom: 25px;
  position: relative;
}
.choose-model__img:before {
  content: "";
  display: block;
  padding-top: calc(277 / 198 * 100%);
}
.choose-model__img img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.choose-model__name {
  font-size: 14px;
  line-height: 1.28;
  padding: 0 15px 25px 15px;
}

.choose-radios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.choose-radio {
  cursor: pointer;
}
.choose-radio input {
  display: none;
}
.choose-radio input:checked + .choose-radio__wrap {
  border-color: #bfa058;
}
.choose-radio input:checked + .choose-radio__wrap .choose-radio__round {
  border-color: #bfa058;
}
.choose-radio input:checked + .choose-radio__wrap .choose-radio__round:before {
  width: 13px;
  height: 13px;
  background-color: #bfa058;
}
.choose-radio__wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 1px solid #D5D5D5;
  border-radius: 9px;
  padding: 15px 25px;
}
.choose-radio__round {
  margin-right: 23px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.choose-radio__round:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #DBDBDB;
}
.choose-radio__title {
  font-size: 18px;
}

.choose-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 20px;
}

.choose-color {
  cursor: pointer;
}
.choose-color input {
  display: none;
}
.choose-color input:checked + .choose-color__wrap {
  border-color: #bfa058;
}
.choose-color__wrap {
  border: 1px solid transparent;
  display: block;
  width: 100%;
}
.choose-color__img {
  display: block;
  margin-bottom: 10px;
}
.choose-color__img img {
  width: 100%;
  display: block;
}
.choose-color__name {
  font-size: 14px;
}

.choose-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 90px;
}
.choose-form__li {
  padding-left: 55px;
  position: relative;
  font-size: 18px;
  margin-bottom: 15px;
}
.choose-form__li:last-child {
  margin-bottom: 0;
}
.choose-form__li:before {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #bfa058;
  position: absolute;
  left: 0;
  top: 10px;
}
.choose-form__fields {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 30px;
}
.choose-form__submit {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e7511c;
  border-radius: 5px;
  color: #ffffff;
  padding: 0 30px;
}

.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.filter {
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
}
.filter:hover .filter-view__arr {
  transform: translateY(-50%) rotate(-180deg);
}
.filter__btn {
  height: 90px;
  border: 1px solid #dfdfdf;
}
.filter__drop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.filter-view {
  position: relative;
  padding: 10px 30px;
  padding-right: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.filter-view__name {
  position: relative;
  z-index: 10;
  margin-right: 20px;
}
.filter-view__vals {
  position: relative;
  z-index: 10;
}
.filter-view__arr {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  transition: 0.3s;
}
.filter-view__arr svg {
  display: block;
}

.filter-drop {
  background: #ffffff;
  border: 1px solid #dfdfdf;
  padding-top: 90px;
}
.filter-drop__vals {
  padding: 0 30px;
  padding-bottom: 35px;
}

.filter-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter-select__option {
  cursor: pointer;
  padding: 5px 0;
}
.filter-select__option input {
  display: none;
}
.filter-select__option input:checked + span {
  text-decoration: underline;
}

.filter-colors {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.filter-colors__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.filter-colors__list--view {
  gap: 10px;
}
.filter-colors__item {
  flex-shrink: 0;
}

.filter-color {
  display: block;
  cursor: pointer;
}
.filter-color--view .filter-color__wrap {
  width: auto;
  height: auto;
}
.filter-color input {
  display: none;
}
.filter-color input:checked + .filter-color__wrap {
  border-color: #707070;
}
.filter-color__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
}
.filter-color__round {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.filter-sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 35px;
}
.filter-sizes--view {
  gap: 10px;
}

.filter-size {
  cursor: pointer;
}
.filter-size--view .filter-size__num {
  width: auto;
  height: auto;
}
.filter-size input {
  display: none;
}
.filter-size input:checked + .filter-size__num {
  background-color: #202020;
  color: #ffffff;
}
.filter-size__num {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.faq__title {
  margin-bottom: 30px;
}
.faq__list {
  display: grid;
  grid-gap: 10px;
}

.faq-item {
  background: url("/images/content/faq/bg.png") 0 0;
  padding: 45px 65px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.faq-item.active .faq-item__plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.faq-item__btn {
  position: relative;
  display: block;
}
.faq-item__title {
  font-weight: 500;
}
.faq-item__plus {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #bfa058;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  pointer-events: none;
}
.faq-item__plus:before, .faq-item__plus:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  transition: 0.3s;
}
.faq-item__plus:before {
  width: 16px;
  height: 2px;
}
.faq-item__plus:after {
  height: 16px;
  width: 2px;
}
.faq-item__wrap {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.faq-item__content {
  padding-top: 30px;
}

.index {
  flex-grow: 1;
}
.index__better {
  margin-bottom: 65px;
}

.index-better__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: url("/images/content/index/better/bg.jpg") 0 0;
}
.index-better__item {
  height: 192px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 60px;
}
.index-better__pic {
  width: 165px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-better__name {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.index-cats__section {
  margin-bottom: 50px;
}
.index-cats__section:last-child {
  margin-bottom: 0;
}
.index-cats__title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.index-cats__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}
.index-cats__list--women {
  grid-template-rows: 342fr 342fr 296fr;
  grid-template-areas: "first second" "first second" "third second";
}
.index-cats__list--women .index-cats__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: first;
}
.index-cats__list--women .index-cats__item:nth-child(1) .index-cat__img {
  padding-top: calc(678 / 876 * 100%);
}
.index-cats__list--women .index-cats__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: second;
}
.index-cats__list--women .index-cats__item:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: third;
}
.index-cats__list--women .index-cats__item:nth-child(3) .index-cat__img {
  padding-top: calc(293 / 876 * 100%);
}
.index-cats__list--women .index-cats__item:nth-child(3) .index-cat__wrap {
  bottom: 0;
  top: 0;
  justify-content: center;
}

.index-cat {
  position: relative;
  display: block;
  color: #ffffff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.index-cat:hover .index-cat__img:before, .index-cat:focus .index-cat__img:before, .index-cat:active .index-cat__img:before {
  width: 77.4%;
  opacity: 0.7;
}
.index-cat:hover .index-cat__img img, .index-cat:focus .index-cat__img img, .index-cat:active .index-cat__img img {
  transform: scale(1.05);
}
.index-cat:hover .index-cat__btn, .index-cat:focus .index-cat__btn, .index-cat:active .index-cat__btn {
  background: #ffffff;
  color: #202020;
}
.index-cat__img {
  padding-top: calc(979 / 876 * 100%);
}
.index-cat__img:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 55.25%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.3;
  transition: 0.3s;
}
.index-cat__img img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: 0.3s;
}
.index-cat__wrap {
  position: absolute;
  z-index: 3;
  left: 80px;
  right: 80px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
}
.index-cat__title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.index-cat__txt {
  font-size: 20px;
  margin-bottom: 30px;
}

.index-about:hover .index-about__img img, .index-about:focus .index-about__img img, .index-about:active .index-about__img img {
  transform: scale(1.05);
}
.index-about:hover .index-about__content:after, .index-about:focus .index-about__content:after, .index-about:active .index-about__content:after {
  transform: scale(1.05);
}
.index-about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.index-about__img {
  overflow: hidden;
}
.index-about__img img {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.index-about__right {
  margin-left: -80px;
}
.index-about__content:after {
  content: url("/images/content/index/about/dummy.png");
  display: block;
  position: absolute;
  bottom: -85px;
  left: calc(100% - 45px);
  transition: 0.3s;
}

.women {
  flex-grow: 1;
}
.women__banner {
  margin-bottom: 25px;
}
.women__breadcrumbs {
  margin-bottom: 30px;
}
.women__collections {
  margin-bottom: 175px;
}

.collections__desc {
  margin-top: 25px;
  margin-bottom: 55px;
}
.collections__title {
  padding-top: 30px;
  position: relative;
}
.collections__title:before {
  content: "";
  display: block;
  width: 64px;
  height: 8px;
  background-color: #bfa058;
  position: absolute;
  top: 0;
  left: 0;
}
.collections__list {
  display: grid;
  grid-gap: 10px;
}
/*# sourceMappingURL=style.css.map */