.signup
    .signup__wrap
        h2.signup__title.title записаться в бутик на примерку
        .signup__txt
            | На ней мы узнаем о ваших предпочтениях и пожеланиях,
            br
            | снимем мерки и после этого приступим к исполнению.
        form(action="/php/call.php" method="POST" data-action="sign").signup__form.jsAction
            .signup__fields
                .signup__field
                    input(type="text" name="name" placeholder="Имя" data-rule-required="true" data-msg-required="Заполните Имя").input
                .signup__field
                    input(type="tel" name="tel" placeholder="Телефон" data-rule-required="true" data-msg-required="Введите телефон" data-msg-tel="Введите ваш телефон").input
                .signup__field.signup__field--big
                    input(type="text" name="datetime" placeholder="Напишите удобный день и время").input
                .signup__field.signup__field--small
                    button(type='submit').signup__submit.btn.btn--black
                        span Отправить заявку
                        <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.271 3.75811L21.683 0.170109C21.5744 0.0615026 21.4271 0.000488279 21.2735 0.000488281C21.1199 0.000488284 20.9726 0.0615026 20.864 0.170109C20.7554 0.278715 20.6944 0.426016 20.6944 0.579609C20.6944 0.733201 20.7554 0.880503 20.864 0.989109L23.464 3.58911H0.579012C0.425319 3.58911 0.277921 3.65016 0.169243 3.75884C0.060566 3.86752 -0.000488281 4.01492 -0.000488281 4.16861C-0.000488281 4.3223 0.060566 4.4697 0.169243 4.57838C0.277921 4.68705 0.425319 4.74811 0.579012 4.74811H23.463L20.863 7.34811C20.7544 7.45671 20.6934 7.60402 20.6934 7.75761C20.6934 7.9112 20.7544 8.0585 20.863 8.16711C20.9716 8.27571 21.1189 8.33673 21.2725 8.33673C21.4261 8.33673 21.5734 8.27571 21.682 8.16711L25.27 4.57911C25.3242 4.52537 25.3672 4.46146 25.3965 4.39105C25.4259 4.32063 25.4411 4.24511 25.4412 4.16882C25.4413 4.09252 25.4263 4.01696 25.3971 3.94648C25.3679 3.876 25.325 3.81198 25.271 3.75811V3.75811Z"/>
                        </svg>

