.signup
    .signup__wrap
        .signup__top
            h2.signup__title.title записаться в бутик на примерку
            .signup__txt
                | На ней мы узнаем о ваших предпочтениях и пожеланиях,
                br
                | снимем мерки и после этого приступим к исполнению.
        form(action="/php/call.php" method="POST" data-action="validate" data-reset="true" data-success-form="formThanks").signup__form.jsAction
            .signup__fields
                .signup__field
                    input(type="text" name="name" placeholder="Имя" data-rule-required="true" data-msg-required="Заполните Имя").input
                .signup__field
                    input(type="tel" name="tel" placeholder="Телефон" data-rule-required="true" data-msg-required="Введите телефон" data-msg-tel="Введите ваш телефон").input
                .signup__field.signup__field--small
                    button(type='submit').signup__submit.flash
                        span Отправить заявку

