.signup {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: $bg;
  padding: 32px;
  @include lg-block {
    margin: 0 -20px;
    padding: 20px;
  }
  @include sm-block {
    padding: 0;
    margin: 0 -15px;
  }

  &__wrap {
    padding: 80px 60px 60px 460px;
    background: url("/images/content/bordered/bg.png") 0 0;
    position: relative;
    @include xlg-block {
      padding: 75px 60px 65px 55px;
    }
    @include lg-block {
      padding: 50px 30px 45px 35px;
    }
    @include sm-block {
      padding: 35px 15px 50px 15px;
    }

    &:after {
      content: '';
      display: block;
      width: 481px;
      height: 213px;
      background: url("/images/content/women/fitting/img.png") 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      left: -85px;
      top: 65px;
      @include xlg-block {
        width: 295px;
        height: 131px;
        left: initial;
        right: 110px;
        top: 50px;
      }
      @include lg-block {
        width: 202px;
        height: 91px;
        top: 35px;
        right: 75px;
      }
      @include sm-block {
        width: 184px;
        height: 82px;
        top: 8px;
        right: 15px;
      }
    }

  }

  &__top {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-bottom: 45px;
    @include xlg-block {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 30px;
    }
    @include lg-block {
      margin-bottom: 15px;
    }
    @include sm-block {
      gap: 25px;
      margin-bottom: 30px;
    }
  }

  &__title {
    @include lg-block {
      font-size: 21px;
    }
    @include sm-block {
      max-width: 204px;
      font-size: 20px;
    }
  }

  &__txt {
    font-size: 20px;
    @include lg-block {
      font-size: 13px;
    }
    @include sm-block {
      font-size: 16px;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 406fr 432fr 319fr;
    grid-gap: 10px;
    @include xlg-block {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg-block {
      grid-gap: 15px 20px;
    }
    @include sm-block {
      grid-template-columns: 100%;
      grid-gap: 10px;
    }
  }

  &__field {
    .input {
      @include lg-block {
        font-size: 10px;
        height: 53px;
      }
      @include sm-block{
        font-size: 16px;
      }
    }
  }

  &__submit {
    width: 100%;
    max-width: 319px;
    height: 74px;
    font-size: 24px;
    @include lg-block {
      max-width: 226px;
      height: 53px;
      font-size: 16px;
    }
    @include sm-block{
      margin: 0 auto;
      margin-top: 20px;
    }

  }
}
