.signup {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: $bg;
  padding: 32px;
  @include lg-block{
    margin: 0 -20px;
    padding: 20px;
  }
  @include sm-block{
    padding: 0;
    margin: 0 -10px;
  }


  &__wrap {
    padding: 80px;
    padding-right: 145px;
    background: url("/images/content/bordered/bg.png") 0 0;
    position: relative;
    @include xlg-block {
      padding: 65px 170px 65px 50px;
    }
    @include lg-block{
      padding: 55px 115px 40px 35px;
    }
    @include sm-block{
      padding: 30px 10px;
    }

    &:before {
      content: 'Бесплатно';
      font-size: 20px;
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
      height: 100%;
      background-color: $gold;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $bg;
      font-weight: 700;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      @include lg-block{
        font-size: 13px;
        width: 44px;
      }
      @include sm-block{
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 481px;
      height: 213px;
      background: url("/images/content/women/fitting/img.png") 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      right: 135px;
      top: -25px;
      @include xlg-block {
        width: 300px;
        height: 131px;
        top: 50px;
        right: 110px;
      }
      @include lg-block{
        width: 202px;
        height: 90px;
        top: 30px;
        right: 80px;
      }
      @include sm-block{
        width: 184px;
        height: 82px;
        top: 10px;
        right: -20px;
      }
    }

  }

  &__title {
    margin-bottom: 15px;
    @include xlg-block{
      margin-right: 170px;
    }
    @include lg-block{
      font-size: 21px;
      margin-bottom: 10px;
    }
    @include sm-block{
      margin-right: 110px;
    }
  }

  &__txt {
    margin-bottom: 30px;
    @include xlg-block{
      margin-right: 170px;
    }
    @include lg-block{
      font-size: 13px;
      margin-bottom: 20px;
    }
    @include sm-block{
      margin-right: 0;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-gap: 10px;

    @include xlg-block {
      grid-template-columns: repeat(24,1fr);
      grid-gap: 20px;
    }
    @include sm-block{
        grid-template-columns: 1fr;
    }
  }

  &__field{
    @include xlg-block{
      grid-column: span 12;
    }
    @include sm-block{
      grid-column: span 1;
    }
    &:nth-child(3){
      @include xlg-block{
        grid-column: span 14;
      }
      @include sm-block{
        grid-column: span 1;
      }
    }

    &:nth-child(4){
      @include xlg-block{
        grid-column: span 10;
      }
      @include sm-block{
        grid-column: span 1;
      }
    }

    .input{
      @include lg-block{
        height: 51px;
        font-size: 13px;
      }
      @include sm-block{
        font-size: 16px;
      }
    }
  }

  &__submit {
    width: 319px;
    height: 74px;
    @include xlg-block {
      margin: 0;
      height: 74px;
      width: 100%;
    }
    @include lg-block{
      height: 51px;
      font-size: 13px;
    }
    @include sm-block{
      font-size: 20px;
    }
  }
}
