.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__arr{
    padding: 10px 0;

    svg{
      fill: $txt;
    }

    &:hover{
      svg{
        fill: $gold;
      }
    }
  }

  &__item{
    flex-shrink: 0;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    @include lg-block{
      width: 51px;
      height: 51px;
      font-size: 27px;
    }

    &:hover{
      color: $gold;
    }

    &--active{
      background-color: $gold;
      color: $bg;
      &:hover{
        color: $bg;
      }
    }

  }
}