extends ../../../main

block variables
    - var title = 'Популярные вопросы клиентов'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Популярные вопросы клиентов
                    .page-desc__breadcrumbs.mb0
                        include ../../../components/breadcrumbs/index
        //- list
        section.page__faqs.mb80
            .container
                .page-faqs
                    -
                        var list = [
                            {
                                title: "Готовые женские коллекци",
                                list: [
                                    {
                                        a: "Алгоритм заказа дистанционно",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Если не подошло, какие варианты ",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Возврат",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Как ухаживать",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Если похудею / потолстею, можно ли обратиться?",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    }
                                ]
                            },
                            {
                                title: "Пошив на заказ",
                                list: [
                                    {
                                        a: "От чего зависят цены",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Сроки пошива",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Как выбрать модель",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Как выбрать ткани",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    },
                                    {
                                        a: "Отличие одежды на заказ от готовой брендовой одежды",
                                        q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль"
                                    }
                                ]
                            },
                        ];
                    each faq in list
                        .page-faqs__item
                            +faq(faq)
        //- subscribe
        section.page__subscribe
            .container
                include ../../../components/subscribe/index


