.product-about
    .product-about__left
        .product-about__content.content
            p Элегантное платье-футляр с V-образным вырезом без рукавов. За счет завышенной талии выигрышно подчеркнет женскую фигуру. Такое платье будет идеально смотреться как отдельный элемент гардероба, так и в комплекте с жакетом. Все образы от дизайнера LEONID GRIVKO уместны как для деловых встреч, так и для вечерних мероприятий. Платье представлено в трех разных ростах — это обеспечивает наилучшую посадку по фигуре.
            p
                | Страна производства: Россия.
                br
                | Страна дизайна: Россия.
    .product-about__right
        include ../../../video/index
