.fabrics
    .fabrics__top
        .fabrics__left
            h2.fabrics__title.title.title--line Ткани
            .fabrics__breadcrumbs
                include ../../components/breadcrumbs/index
            .fabrics__content.content
                p Каждый клиент может стать дизайнером своего костюма, а эксперт по мужскому стилю поможет Вам в этом: он подскажет идеально подходящие Вам крой и цвет костюма, аксессуары и обувь, учитывая особенности фигуры и нормы дресс-кода.
                p Именно так рождается актуальный, продуманный до мелочей, мужской гардероб, который отражает индивидуальность своего обладателя.
                p Станьте дизайнером своего костюма.
                p Конструируйте Ваш будущий костюм согласно своему вкусу.
                p Пуговицы из натуральных материалов, цвет подклада, личные инициалы, формы лацканов и карманов – IMPERO предлагает сотни вариантов подчеркнуть Вашу индивидуальность. Это крайне увлекательный процесс, который поможет достичь идеального результата и создать поистине уникальный костюм!
        .fabrics__right
            include ../video/index
    - var i = 1;
    .fabrics__brands
        while i < 5
            .fabrics__brand
                .fabrics__brand-img
                    img(src="/images/content/women/tailoring/fabrics/brands/" + i + ".png" alt="lorem")
                - i++
    .fabrics__desc.content
        p Каждый клиент может стать дизайнером своего костюма, а эксперт по мужскому стилю поможет Вам в этом: он подскажет идеально подходящие Вам крой и цвет костюма, аксессуары и обувь, учитывая особенности фигуры и нормы дресс-кода.
        p Именно так рождается актуальный, продуманный до мелочей, мужской гардероб, который отражает индивидуальность своего обладателя.
        p Станьте дизайнером своего костюма.
        p Конструируйте Ваш будущий костюм согласно своему вкусу.
        p Пуговицы из натуральных материалов, цвет подклада, личные инициалы, формы лацканов и карманов – IMPERO предлагает сотни вариантов подчеркнуть Вашу индивидуальность. Это крайне увлекательный процесс, который поможет достичь идеального результата и создать поистине уникальный костюм!
    - var i = 1;
    .fabrics__list
        while i < 31
            .fabrics__item
                .fabrics__item-img
                    img(src="/images/content/women/tailoring/fabrics/list/" + i + ".jpg" alt="lorem")
                - i++
