.fabrics {
  padding-top: 40px;
  @include xlg-block {
    padding-top: 35px;
  }
  @include sm-block{
    padding-top: 20px;
  }

  &__top {
    margin-bottom: 80px;
    @include lg-block{
      margin-bottom: 60px;
    }
  }

  &__tabs{
    @include xlg-block {
      margin: 0 -45px;
    }
    @include lg-block{
      margin: 0 -20px;
    }
    @include sm-block{
      margin: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;

    @include xlg-block{
        grid-gap: 5px;
    }
    @include sm-block {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    position: relative;
    aspect-ratio: 1/1;


    &:hover{
      &:before,&:after{
        opacity: 1;
      }
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#000,.3);
      opacity: 0;
      pointer-events: none;
      @include tr;
    }

    &:after{
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(/images/icons/zoom-in.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
      @include tr;
    }

    &-img {
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        display: block;
      }
    }
  }
}

@import "top/style";
@import "tabs/style";
@import "brands/style";
