.fabrics {
  padding-top: 40px;
  @include xlg-block {
    padding-top: 35px;
  }
  @include sm-block{
    padding-top: 20px;
  }

  &__top {
    margin-bottom: 80px;
    @include lg-block{
      margin-bottom: 60px;
    }
  }

  &__tabs{
    @include xlg-block {
      margin: 0 -45px;
    }
    @include lg-block{
      margin: 0 -20px;
    }
    @include sm-block{
      margin: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;

    @include xlg-block{
        grid-gap: 5px;
    }
    @include sm-block {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        display: block;
      }
    }
  }
}

@import "top/style";
@import "tabs/style";
@import "brands/style";
