.index-subscribe{

  &:hover,&:focus,&:active{
    .index-subscribe{

      &__img{
        img{
          transform: scale(1.05);
        }
      }

      &__content{
        &:after{
          transform: scale(1.05);
        }
      }
    }
  }

  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  &__left{
    position: relative;
    z-index: 1;
  }

  &__img{
    overflow: hidden;
    img{
      display: block;
      width: 100%;
      @include tr;
    }
  }

  &__content{
    @extend .index-about__content;
    margin-left: 0;
    margin-right: -80px;
    padding-top: 65px;
    padding-bottom: 210px;

    &:after{
      content: url("/images/content/index/subscribe/mail.png");
      left: -70px;
      bottom: -145px;
    }

    h2{
      margin-bottom: 35px;
    }
  }

  &__form{
    margin-top: 65px;
  }

  &__field{
    margin-bottom: 30px;
  }

  &__policy{
    margin-bottom: 30px;
    a{
      color: $link;
    }
  }

  &__submit{
    width: 317px;
  }

}