extends ../../../../main

block variables
    - var title = 'Карточка товара'
    - var isWomen = true

block content
    main.page
        //- product
        section.page__product.mb80
            .container
                include ../../../../components/product/index
        //- revs
        section.page__section.mb80
            include ../../../../components/revs/index
        //- choose
        section.page__cjoose
            .container
                include ../../../../components/choose/index
