.choose-form
    input(type="radio" name="form" disabled hidden checked).choose-slide__input
    .choose-form__left
        ul.choose-form__ul
            each i in ["Мы знаем тонкости и особенности разных типов женской фигуры;", "Широкий размерный ряд: от 38 до 52 в наличии; от 54 до 62 шьем на заказ;", "Уникальная корсетная технология гарантирует посадку жакета без складок и заломов;", "Используем натуральные итальянские ткани;"]
                li.choose-form__li= i
    .choose-form__right
        .choose-form__fields
            .choose-form__field
                input(type="text" name="name" placeholder="Имя" data-rule-required="true" data-msg-required="Заполните Имя").input
            .choose-form__field
                input(type="tel" name="tel" placeholder="Телефон" data-rule-required="true" data-msg-required="Введите телефон" data-msg-tel="Введите ваш телефон").input
        button(type='submit').choose-form__submit Получить подборку костюмов от LEONID GRIVKO