-
    var list = {
        name: "goals",
        items: [
            "На каждый день — для работы",
            "На конференцию/деловое мероприятие",
            "На праздник/торжественное мероприятие"
        ]
    }

+radios(list)