include mixins

.choose
    .choose__left
        .choose__img
            +image("/images/content/choose/img.jpg")
    .choose__right
        h2.choose__title.title
            | Теряетесь в выборе?
            br
            | Стилисты помогут!
        .choose__txt
            | Ответьте на несколько вопросов, и мы пришлём
            br
            | подходящие вам модели в мессенджер или на почту.
        form(action="/php/call.php" method="POST" data-action="choose").choose__quiz.jsAction
            .choose__slider
                .choose__swiper.swiper-container
                    .swiper-wrapper
                        .swiper-slide.choose__slide
                            .choose-slide
                                .choose-slide__top
                                    .choose-slide__count 1
                                    .choose-slide__title.title Какую модель костюма Вы рассматриваете?
                                .choose-slide__wrap
                                    include models
                        .swiper-slide.choose__slide
                            .choose-slide
                                .choose-slide__top
                                    .choose-slide__count 2
                                    .choose-slide__title.title Для какой цели Вы подбираете себе костюм?
                                .choose-slide__wrap
                                    include goals
                        .swiper-slide.choose__slide
                            .choose-slide
                                .choose-slide__top
                                    .choose-slide__count 3
                                    .choose-slide__title.title На какой сезон подбираете костюм?
                                .choose-slide__wrap
                                    include season
                        .swiper-slide.choose__slide
                            .choose-slide
                                .choose-slide__top
                                    .choose-slide__count 4
                                    .choose-slide__title.title Какой цвет костюма Вы рассматриваете?
                                .choose-slide__wrap
                                    include colors
                        .swiper-slide.choose__slide
                            .choose-slide
                                .choose-slide__top
                                    .choose-slide__count 5
                                    .choose-slide__title.title Какой Вы носите размер одежды?
                                .choose-slide__wrap
                                    include size
                        .swiper-slide.choose__slide
                            .choose-slide
                                .choose-slide__top
                                    .choose-slide__count 6
                                    .choose-slide__title.title Заполните форму и наш стилист пришлет Вам подборку костюмов от LEONID GRIVKO:
                                .choose-slide__wrap
                                    include form


                .choose__pag
                .choose__nav
                    button(type='button').choose__arr.choose__prev.btn.btn--black
                        <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.169907 4.5771L3.75791 8.1651C3.86651 8.2737 4.01381 8.33472 4.16741 8.33472C4.321 8.33472 4.4683 8.2737 4.57691 8.1651C4.68551 8.05649 4.74653 7.90919 4.74653 7.7556C4.74653 7.602 4.68551 7.4547 4.57691 7.3461L1.97691 4.7461L24.8619 4.7461C25.0156 4.7461 25.163 4.68504 25.2717 4.57636C25.3804 4.46769 25.4414 4.32029 25.4414 4.1666C25.4414 4.0129 25.3804 3.86551 25.2717 3.75683C25.163 3.64815 25.0156 3.5871 24.8619 3.5871L1.97791 3.5871L4.57791 0.987096C4.68651 0.87849 4.74753 0.731188 4.74753 0.577596C4.74753 0.424004 4.68651 0.276703 4.57791 0.168097C4.4693 0.0594904 4.322 -0.00152397 4.16841 -0.00152397C4.01482 -0.00152397 3.86751 0.0594904 3.75891 0.168097L0.170906 3.7561C0.11675 3.80984 0.0737484 3.87375 0.0443726 3.94416C0.0149968 4.01457 -0.000174101 4.09009 -0.000267029 4.16639C-0.000359957 4.24268 0.0146267 4.31824 0.0438309 4.38873C0.0730351 4.45921 0.115881 4.52323 0.169907 4.5771V4.5771Z"/>
                        </svg>
                        span Назад
                    button(type='button').choose__arr.choose__next.btn.btn--black
                        span Далее
                        <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.271 3.75811L21.683 0.170109C21.5744 0.0615026 21.4271 0.000488279 21.2735 0.000488281C21.1199 0.000488284 20.9726 0.0615026 20.864 0.170109C20.7554 0.278715 20.6944 0.426016 20.6944 0.579609C20.6944 0.733201 20.7554 0.880503 20.864 0.989109L23.464 3.58911H0.579012C0.425319 3.58911 0.277921 3.65016 0.169243 3.75884C0.060566 3.86752 -0.000488281 4.01492 -0.000488281 4.16861C-0.000488281 4.3223 0.060566 4.4697 0.169243 4.57838C0.277921 4.68705 0.425319 4.74811 0.579012 4.74811H23.463L20.863 7.34811C20.7544 7.45671 20.6934 7.60402 20.6934 7.75761C20.6934 7.9112 20.7544 8.0585 20.863 8.16711C20.9716 8.27571 21.1189 8.33673 21.2725 8.33673C21.4261 8.33673 21.5734 8.27571 21.682 8.16711L25.27 4.57911C25.3242 4.52537 25.3672 4.46146 25.3965 4.39105C25.4259 4.32063 25.4411 4.24511 25.4412 4.16882C25.4413 4.09252 25.4263 4.01696 25.3971 3.94648C25.3679 3.876 25.325 3.81198 25.271 3.75811V3.75811Z" />
                        </svg>

