mixin radio(i, name)
    label.choose-radio
        input(type="radio" name=name).choose-slide__input
        span.choose-radio__wrap
            span.choose-radio__round
            span.choose-radio__title= i


mixin radios(props)
    .choose-radios
        each i,x in props.items
            .choose-radios__item
                +radio(i,props.name)


