-
    var list = {
        name: "size",
        items: [
            "Российский размер – 38-40; ",
            "Российский размер – 42-44; ",
            "Российский размер – 46-48; ",
            "Российский размер – 50-52; ",
            "Российский размер – 54-56; ",
            "Российский размер – 58-60; ",
            "Российский размер – 62 и более (шьем на заказ). "
        ]
    }

+radios(list)