-
    var navWomen = [
        {
          name: "Готовые коллекции",
          href: "#"
        },
        {
          name: "Большие размеры",
          href: "#"
        },
        {
          name: "Пошив на заказ",
          href: "#"
        },
        {
          name: "Информация",
          href: "#"
        },
        {
          name: "О нас",
          href: "#"
        }
    ];

-
    var navMen = [
        {
            name: "Услуги",
            href: "#"
        },
        {
            name: "Цены",
            href: "#"
        },
        {
            name: "Информация",
            href: "#"
        },
        {
            name: "Наши работы",
            href: "#"
        },
        {
            name: "О нас",
            href: "#"
        }
    ];

