-
    var pages = {
        product: "/women/collections/product/"
    };
-
    var navList = [
        [
            "Пальто",
            "Пиджаки",
            "Сорочки",
            "Жилеты",
        ],
        [
            "Костюмы",
            "Смокинги",
            "Брюки",
            "Обувь",
        ],
    ];
-
    var navSections = [
        {
            title: "Технология пошива",
            img: "/images/content/nav/1.jpg",
            name: "Собственная разработка LEONID GRIVKO гарантирует посадку без складок и заломов на любой фигуре. "
        },
        {
            title: "Ткани",
            img: "/images/content/nav/2.jpg",
            name: "Качественная ткань от мировых брендов. Станьте дизайнером своего костюма"
        },

    ];
-
    var navWomen = [
        {
            name: "Готовые коллекции",
            href: "/women/collections/",
            drop: {
                cls: "full",
                cols: {
                    left: navList,
                    right: [
                        '/images/content/nav/imgs/w1.png',
                        '/images/content/nav/imgs/w2.png',
                        '/images/content/nav/imgs/w3.png',
                        '/images/content/nav/imgs/w4.png',
                    ]
                }
            }
        },
        {
            name: "Большие размеры",
            href: "/women/bigsize/",
            drop: {
                cls: "full",
                cols: {
                    left: navList,
                    right: [
                        '/images/content/nav/imgs/w1.png',
                        '/images/content/nav/imgs/w2.png',
                        '/images/content/nav/imgs/w3.png',
                        '/images/content/nav/imgs/w4.png',
                    ]
                }
            }
        },
        {
            name: "Пошив на заказ",
            href: "/women/tailoring/",
            drop: {
                items: [
                    {
                        name: "Пошив на заказ",
                        href: "/women/tailoring/"
                    },
                    {
                        name: "Технология пошива",
                        href: "/women/tailoring/technology/"
                    },
                    {
                        name: "Ткани",
                        href: "/women/tailoring/fabrics/"
                    }
                ]
            }
        },
        {
            name: "Информация",
            href: "/women/info/",
            drop: {
                items: [
                    {
                        name: "Доставка",
                        href: "/women/info/delivery/"
                    },
                    {
                        name: "Оплата",
                        href: "/women/info/pay/"
                    },
                    {
                        name: "Возврат",
                        href: "/women/info/return/"
                    },
                    {
                        name: "Документы",
                        href: "/women/info/docs/"
                    },
                    {
                        name: "FAQ",
                        href: "/women/faq/"
                    }
                ]
            }
        },
        {
            name: "О нас",
            href: "/women/about/",
            drop: {
                items: [
                    {
                        name: "Команда",
                        href: "/women/about/team/"
                    },
                    {
                        name: "История",
                        href: "/women/about/history/"
                    },
                    {
                        name: "Отзывы",
                        href: "/women/about/reviews/"
                    },
                    {
                        name: "Наши работы",
                        href: "/women/about/portfolio/"
                    }
                ]
            }
        }
    ];
-
    var navMen = [
        {
            name: "Услуги",
            href: "/men/services/",
            drop: {
                cls: "full",
                cols: {
                    left: navList,
                    right: [
                        '/images/content/nav/imgs/m1.png',
                        '/images/content/nav/imgs/m2.png',
                        '/images/content/nav/imgs/m3.png'
                    ]
                }
            }
        },
        {
            name: "Цены",
            href: "/men/prices/"
        },
        {
            name: "Информация",
            href: "/men/info/",
            drop: {
                items: [
                    {
                        name: "Доставка",
                        href: "/men/info/delivery/"
                    },
                    {
                        name: "Возврат",
                        href: "/men/info/return/"
                    },
                    {
                        name: "FAQ",
                        href: "/women/faq/"
                    }
                ]
            }
        },
        {
            name: "Наши работы",
            href: "/men/about/portfolio/"
        },
        {
            name: "О нас",
            href: "/men/about/",
            drop: {
                items: [
                    {
                        name: "Команда",
                        href: "/men/about/team/"
                    },
                    {
                        name: "Отзывы",
                        href: "/men/about/reviews/"
                    },
                    {
                        name: "Наши работы",
                        href: "/men/about/portfolio/"
                    }
                ]
            }
        }
    ];
