-
    var pages = {
        product: "/women/collections/product/"
    }

-
    var navWomen = [
        {
          name: "Готовые коллекции",
          href: "/women/collections/"
        },
        {
          name: "Большие размеры",
          href: "/women/bigsize/"
        },
        {
          name: "Пошив на заказ",
          href: "/women/tailoring/"
        },
        {
          name: "Информация",
          href: "/women/info/"
        },
        {
          name: "О нас",
          href: "/women/about/"
        }
    ];
-
    var navMen = [
        {
            name: "Услуги",
            href: "/men/services/"
        },
        {
            name: "Цены",
            href: "/men/prices/"
        },
        {
            name: "Информация",
            href: "/men/info/"
        },
        {
            name: "Наши работы",
            href: "/men/about/portfolio/"
        },
        {
            name: "О нас",
            href: "/men/about/"
        }
    ];

