.pay
    each i,x in ["Оплатить заказ можно наличными или банковской картой в момент приобретения вещей непосредственно в бутике по адресу: г. Москва, Пушкарев переулок, 5.","Оплатить можно наличными или безналичным платежом онлайн (банковской картой) для жителей Москвы и МО курьеру в момент получения посылки.","Для покупателей других регионов России и зарубежных стран оплату заказа необходимо произвести по безналичному расчету онлайн (банковской картой)"]
        .pay__item
            .pay__icon
                img(src="/images/content/women/about/pay/" + (x + 1) + ".svg" alt="lorem")
            .pay__txt= i