.pay {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 60px;
  font-size: 22px;
  @include xlg-block {
    padding: 60px 35px;
  }
  @include lg-block {
    padding: 40px 20px;
    font-size: 16px;
  }
  @include sm-block {
    grid-template-columns: 100%;
    grid-gap: 50px;
  }


  &__item {
    position: relative;
    background: url("/images/content/bordered/bg.png") 0 0;
    padding: 60px 30px;
    @include lg-block {
      padding: 40px 15px;
    }
  }

  &__icon {
    width: 64px;
    height: 64px;
    background-color: $gold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 32px;
    top: -32px;
    padding: 7px;
    @include lg-block {
      width: 41px;
      height: 41px;
      left: 20px;
      top: -21px;
    }
  }
}