extends ../../../../main

block variables
    - var title = 'Условия возврата'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Условия доставки
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
        //- delivery
        section.page__delivery.mb80
            .container
                -
                    var list = [
                        {
                            title: "Стандартная доставка в любой регион России",
                            ol: [
                                "Вы можете вернуть заказанную одежду в течение 14 дней с момента получения.",
                                "Необходимо будет связаться с нами по телефону +7(926)918-2-777 или по электронному адресу <a href='mailto:info@grivko.com'>info@grivko.com</a>.",
                                "Возврат необходимо оформить как ценную посылку и направить ее получателю ИП Гривко Л.Б. по адресу: 107045, Россия, г.  Москва, Пушкарев переулок, дом 5.  Отправка посылки осуществляется за счет покупателя. ",
                                "<b>ВНИМАНИЕ!</b> Пожалуйста, не отправляйте посылки наложенным платежом: такие посылки не принимаются и будут возвращены отправителю.",
                                "Товар нужно высылать обратно неношеным/неиспользованным, со всеми упаковками и наклейками и заполненным бланком (Заявление на возврат).",
                                "Мы отправим вам деньги за товары, когда они поступят обратно на склад в течение 1-5 рабочих дней.",
                            ]
                        }
                    ];
                include ../../../../components/delivery/index
        //- subscribe
        section.page__subscribe
            .container
                include ../../../../components/subscribe/index
