.product-size-desc
    .product-size-desc__left
        .product-size-desc__content
            p
                b Точное попадание в размер:
            p Готовые изделия представлены в размерах 38-52 в трех размерных ростах, а также на заказ от 52 до 64.
    .product-size-desc__right
        .product-size-desc__content
            p
                a(href="#" id="99" data-action="openAjaxForm" data-ajax="/php/sizes.php").jsAction Определить свой размер
            p Возможна примерка в бутике или с доставкой на дом


