.faq.jsFaq
    if props.title
        h2.faq__title.title= props.title
    .faq__list
        each i in props.list
            .faq__item
                .faq-item.jsFaq__item
                    .faq-item__btn
                        .faq-item__title= i.a
                        .faq-item__plus
                    .faq-item__wrap.jsFaq__wrap
                        .faq-item__content.jsFaq__content!=i.q
