.faq {
  font-size: 20px;
  @include lg-block{
    font-size: 16px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 30px;
    @include xlg-block{
      font-size: 24px;
    }
    @include lg-block{
      font-size: 18px;
      margin-bottom: 20px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 10px;
  }
}

.faq-item {
  background: url("/images/content/faq/bg.png") 0 0;
  padding: 40px 60px;
  cursor: pointer;
  user-select: none;
  @include xlg-block{
    padding: 40px ;
  }
  @include lg-block{
    padding: 25px 30px;
  }
  @include sm-block{
    padding: 30px 15px;
    cursor: initial;
    font-size: 16px;
  }

  &.active{
    .faq-item{
      &__plus{

        &:after{
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  &__btn {
    position: relative;
    display: block;
  }

  &__title{
    font-weight: 500;
    padding-right: 35px;
  }

  &__plus {
    display: block;
    width: 32px;
    height: 32px;
    background-color: $gold;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
    pointer-events: none;
    @include lg-block{
      width: 21px;
      height: 21px;
      margin-top: -10px;
    }
    @include sm-block{
      width: 32px;
      height: 32px;
      margin-top: -16px;
    }


    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $bg;
      @include tr;
    }

    &:before {
      width: 16px;
      height: 2px;
      @include lg-block{
        width: 11px;
      }
    }

    &:after {
      height: 16px;
      width: 2px;
      @include lg-block{
        height: 11px;
      }
    }
  }

  &__wrap {
    height: 0;
    overflow: hidden;
    @include tr;
  }

  &__content{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include lg-block{
      padding-top: 20px;
    }
  }

}