.stages
    - var i = 1;
    while i<7
        .stages__item
            .stage
                .stage__wrap.bordered
                    .stage__left
                        .stage__desc
                            h2.stage__title.title Начало пути
                            .stage__sub Главная задача нашего салона – создание идеального гардероба мужчины.
                            .stage__content.content
                                p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                                p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                    .stage__right
                        .stage__img
                            img(src="/images/content/stages/"+i+".jpg" alt="lorem")
                    - i++

