:root {
  --stage-pos: 130px;
  --stage-padding: 175px;
  --stage-padding--date: 340px;
  --stage-width: 369px;
  --stage-width-tech: 395px;
  @include xlg-block {
    --stage-padding: 105px;
    --stage-padding--date: 190px;
    --stage-width: 317px;
    --stage-width-tech: 330px;
    --stage-pos: 80px;
  }
  @include lg-block {
    --stage-padding--date: 105px;
    --stage-pos: 47px;
  }
  @include sm-block {
    --stage-padding: 0;
    --stage-padding--date: 0;
  }
}

.stages {

  &__title {
    margin-bottom: 80px;
  }

  &__list {
    display: grid;
    grid-gap: 80px;
    counter-reset: li;

    @include sm-block {
      grid-gap: 40px;
    }
  }

  &__item {
    &:nth-child(even) {
      .stage {
        padding-left: 0;
        padding-right: var(--stage-padding);

        &.date {
          padding-right: var(--stage-padding--date);


          &:after {
            right: var(--stage-pos);
          }
        }

        &.tech {
          .stage {

            &__wrap {
              grid-template-columns:var(--stage-width-tech) 1fr;
              @include lg-block {
                grid-template-columns: 100%;
              }
            }

            &__right {
              justify-content: flex-end;
              padding-right: 0;
              padding-left: 30px;
              @include lg-block {
                padding: 0;
                justify-content: center;
              }
            }

          }
        }

        &:before {
          left: initial;
          right: 0;
        }

        &:after {
          left: initial;
          right: 31px;
        }

        &__wrap {
          display: grid;
          grid-template-columns:var(--stage-width) 1fr;
          padding: 0;
          align-items: center;
          @include lg-block {
            grid-template-columns: 100%;
            padding: 40px 30px;
          }
          @include sm-block {
            border-width: 0;
            padding: 30px 15px;
          }
        }

        &__left {
          order: 1;
          @include lg-block {
            order: initial;
          }
        }

      }
    }
  }
}

.stage {
  padding-left: var(--stage-padding);
  position: relative;
  @include sm-block {
    display: grid;
    grid-gap: 20px;
  }

  &.tech {

    .stage {

      &__wrap {
        grid-template-columns: 1fr var(--stage-width-tech);
        @include lg-block {
          grid-template-columns: 100%;
        }
      }

      &__title {
        @include xlg-block {
          font-size: 32px !important;
        }
        @include sm-block{
          font-size: 20px!important;
        }
      }

      &__sub {
        @include xlg-block {
          font-size: 20px;
        }
        @include sm-block{
          font-size: 16px;
        }
      }

      &__content {
        p {
          @include xlg-block {
            font-size: 20px;
          }
          @include sm-block{
            font-size: 16px;
          }
        }
      }

      &__right {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: flex-start;
        @include lg-block {
          padding: 0;
          justify-content: center;
        }
      }

    }

  }

  &.date {
    padding-left: var(--stage-padding--date);

    &:before {
      content: attr(data-count);
      writing-mode: initial;
      transform: none;
      font-size: 112px;
      font-weight: 700;
      @include xlg-block {
        font-size: 70px;
      }
      @include lg-block {
        font-size: 40px;
      }
      @include sm-block {
        font-size: 80px;
        text-align: center;
      }
    }

    &:after {
      top: 140px;
      left: var(--stage-pos);
      @include xlg-block {
        top: 101px;
      }
      @include lg-block {
        top: 64px;
      }
    }

    .stage{
      &__title{
        @include xlg-block{
          font-size: 22px!important;
        }
      }
    }
  }

  &:before {
    counter-increment: li;
    content: "Этап " counter(li);
    display: block;
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    color: $gold;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    @include sm-block {
      position: static;
      transform: none;
      writing-mode: initial;
      font-size: 32px;
      text-align: center;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 245px;
    left: 31px;
    bottom: 0;
    width: 1px;
    background: $gold;
    @include sm-block {
      display: none;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr var(--stage-width);
    padding: 0;
    align-items: center;
    @include xlg-block {
      border-width: 40px;
    }
    @include lg-block {
      grid-template-columns: 100%;
      grid-gap: 30px;
      border-width: 25px;
      padding: 40px 30px;
    }
    @include sm-block {
      border-width: 0;
      padding: 30px 15px;
    }
  }

  &__desc {
    padding: 60px;
    @include xlg-block {
      padding: 40px;
    }
    @include lg-block {
      padding: 0;
    }
  }

  &__title {
    font-weight: 500 !important;
    margin-bottom: 15px !important;

    @include xlg-block {
      font-size: 18px !important;
    }
  }

  &__sub {
    font-weight: 500;
    margin-bottom: 40px;
    @include xlg-block {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__img {
    img {
      display: block;
    }
  }

  &__content {
    p {
      @include xlg-block {
        font-size: 16px;
      }
    }
  }
}