.product-delivery
    .product-delivery__left
        .product-delivery__title Вы можете заказать индивидуальный пошив данного костюма
    .product-delivery__right
        .product-delivery__list
            label.product-delivery__item
                input(type="radio" name="delivery" value="Доставка готового костюма" checked)
                span.product-delivery__fake
                    span.product-delivery__round
                    span.product-delivery__name Доставка готового костюма
            label.product-delivery__item
                input(type="radio" name="delivery" value="Пошив костюма на заказ")
                span.product-delivery__fake
                    span.product-delivery__round
                    span.product-delivery__name Пошив костюма на заказ
