.fashion
    .container
        .fashion__links
            each i,x in ["Фэшн образы","деловые образы","вечерние образы"]
                a(href="#" class=(x==0)?"active":"").fashion__link= i
        .fashion__list
            -
                var items = [
                    "/images/content/fashion/1.jpg",
                    "/images/content/fashion/2.jpg",
                    "/images/content/fashion/3.jpg",
                    "/images/content/fashion/4.jpg",
                    "/images/content/fashion/5.jpg",
                    "/images/content/fashion/6.jpg",
                    "/images/content/fashion/7.jpg",
                    "/images/content/fashion/8.jpg",
                    "/images/content/fashion/9.jpg",
                ];
            each i in items
                a(href="#" data-id=99).fashion__item
                    +image(i)
                    button(type='button').fashion__item-btn.btn
                        span Подробнее
                        <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.271 3.758L21.683 0.169998C21.5744 0.0613919 21.4271 0.000377652 21.2735 0.000377655C21.1199 0.000377658 20.9726 0.061392 20.864 0.169998C20.7554 0.278604 20.6944 0.425906 20.6944 0.579498C20.6944 0.73309 20.7554 0.880392 20.864 0.988998L23.464 3.589H0.579C0.425307 3.589 0.277909 3.65005 0.169232 3.75873C0.0605546 3.86741 -0.000499725 4.01481 -0.000499725 4.1685C-0.000499725 4.32219 0.0605546 4.46959 0.169232 4.57827C0.277909 4.68694 0.425307 4.748 0.579 4.748H23.463L20.863 7.348C20.7544 7.4566 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.2756 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.2756 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32052 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z"/>
                        </svg>

        button(type='button').fashion__more.btn.btn--black
            span Посмотреть больше
            <svg width="9" height="26" viewBox="0 0 9 26" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.13 25.718L8.718 22.13C8.82661 22.0214 8.88762 21.8741 8.88762 21.7205C8.88762 21.5669 8.82661 21.4196 8.718 21.311C8.6094 21.2024 8.46209 21.1414 8.3085 21.1414C8.15491 21.1414 8.00761 21.2024 7.899 21.311L5.299 23.911L5.299 1.026C5.299 0.87231 5.23795 0.724912 5.12927 0.616234C5.02059 0.507557 4.8732 0.446503 4.7195 0.446503C4.56581 0.446503 4.41841 0.507557 4.30973 0.616234C4.20106 0.724912 4.14 0.87231 4.14 1.026L4.14 23.91L1.54 21.31C1.4314 21.2014 1.28409 21.1404 1.1305 21.1404C0.97691 21.1404 0.829609 21.2014 0.721003 21.31C0.612396 21.4186 0.551382 21.5659 0.551382 21.7195C0.551382 21.8731 0.612396 22.0204 0.721003 22.129L4.309 25.717C4.36274 25.7712 4.42665 25.8142 4.49707 25.8435C4.56748 25.8729 4.643 25.8881 4.71929 25.8882C4.79559 25.8883 4.87115 25.8733 4.94163 25.8441C5.01212 25.8149 5.07613 25.772 5.13 25.718V25.718Z"/>
            </svg>
