.list {
  padding: 0 100px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  @include xlg-block{
    padding: 20px 0 0;
  }
  @include lg-block {
    gap: 40px;
  }
  @include sm-block {
    gap: 45px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include sm-block {
      flex-shrink: 0;
      width: 220px;
    }
  }

  &__img {
    padding-left: 65px;
    margin-bottom: 60px;
    @include xlg-block {
      padding-left: 0;
    }
    @include lg-block {
      margin-bottom: 40px;
    }
    @include sm-block{
      @include sm-block{
        width: 220px;
        height: 276px;
      }
    }

    img{
      max-height: 100%;
    }
  }

  &__link {
    padding: 17px 25px;
    background-color: #bfa058;
    color: $bg;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include lg-block {
      font-size: 15px;
      padding: 10px 15px;
    }
  }

  &__txt {
    font-size: 20px;
    @include lg-block {
      font-size: 18px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }
}