.founder
    .founder__grid
        .founder__left
            .founder__img
                picture
                    source(srcset="/images/content/index/about/img375.jpg" media='(max-width: 767.98px)')
                    source(srcset="/images/content/index/about/img768.jpg" media='(max-width: 1279.98px)')
                    source(srcset="/images/content/index/about/img1280.jpg" media='(max-width: 1919.98px)')
                    img(src="/images/content/index/about/img.jpg" alt='')
        .founder__right
            .founder__content.bordered
                h2 От основателя
                h3 Главная задача нашего салона – создание идеального гардероба мужчины.
                p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                p Ведь мужской костюм – это современные доспехи, которые указывают на статус и профессиональную принадлежность их обладателя. Именно так, учитывая все нюансы, создается костюм, в котором мужчина выглядит поистине безукоризненно.
                p Леонид Гривко - основатель бренда