.docs
    .docs__item
        .doc
            .doc__left
                .doc__img
                    img(src="/images/content/women/about/docs/1.jpg" alt="lorem")
            .doc__right
                .doc__wrap.bordered
                    .doc__content
                        h2 Договор с клиентом
                        p
                            b Главная задача нашего салона – создание идеального гардероба мужчины.
                        p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                        p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                        p Ведь мужской костюм – это современные доспехи, которые указывают на статус и профессиональную принадлежность их обладателя. Именно так, учитывая все нюансы, создается костюм, в котором мужчина выглядит поистине безукоризненно.
                        p
                            a(href="#" download=true).btn.btn--black Скачать шаблон договора
                    .doc__pic
                        img(src="/images/content/women/about/docs/img.png" alt="lorem")
    .docs__item
        .doc
            .doc__left
                .doc__img
                    img(src="/images/content/women/about/docs/2.jpg" alt="lorem")
            .doc__right
                .doc__wrap.bordered
                    .doc__content
                        h2 Заказ покупателя
                        p
                            b Главная задача нашего салона – создание идеального гардероба мужчины.
                        p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                        p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                        p Ведь мужской костюм – это современные доспехи, которые указывают на статус и профессиональную принадлежность их обладателя. Именно так, учитывая все нюансы, создается костюм, в котором мужчина выглядит поистине безукоризненно.
    .docs__item
        .doc
            .doc__left
                .doc__img
                    img(src="/images/content/women/about/docs/3.jpg" alt="lorem")
            .doc__right
                .doc__wrap.bordered
                    .doc__content
                        h2 Акт выполненных работ
                        p
                            b Главная задача нашего салона – создание идеального гардероба мужчины.
                        p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                        p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                        p Ведь мужской костюм – это современные доспехи, которые указывают на статус и профессиональную принадлежность их обладателя. Именно так, учитывая все нюансы, создается костюм, в котором мужчина выглядит поистине безукоризненно.

