extends ./../../../main

block variables
    - var title = 'О нас'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line О нас
                    .page-desc__breadcrumbs
                        include ../../../components/breadcrumbs/index

        //- banner
        section.page__banner.page__banner--mb0
            -
                var props = {
                    imgPath: "/images/content/women/banner/",
                    dopCls: "banner--small"
                };
            include ../../../components/banner/index
        //- content
        section.page__content.mb80
            .container
                .page-content
                    .content
                        h2 ДОМ МОДЫ LEONIDGRIVKO
                        p
                            b Главная задача нашего салона – создание идеального гардероба мужчины.
                        p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                        p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                        p Ведь мужской костюм – это современные доспехи, которые указывают на статус и профессиональную принадлежность их обладателя. Именно так, учитывая все нюансы, создается костюм, в котором мужчина выглядит поистине безукоризненно.
        //- map
        section.page__map.mb80
            .container
                include ../../../components/map/index
        //- signup
        section.page__signup.mb80
            .container
                include ../../../components/signup/index
        //- gallery
        section.page__gallery.mb80
            .container
                -
                    var props = {
                        title: "Фотогалерея",
                        list: [
                            "/images/content/women/tailoring/gallery/1.jpg",
                            "/images/content/women/tailoring/gallery/2.jpg",
                            "/images/content/women/tailoring/gallery/3.jpg",
                            "/images/content/women/tailoring/gallery/4.jpg",
                            "/images/content/women/tailoring/gallery/5.jpg",
                            "/images/content/women/tailoring/gallery/6.jpg",
                            "/images/content/women/tailoring/gallery/7.jpg",
                            "/images/content/women/tailoring/gallery/8.jpg",
                        ]
                    };
                include ../../../components/gallery/index
        //- subscribe
        section.page__subscribe
            .container
                -
                    var props = {
                        title: "Подпишитесь на рассылку, мы расскажем много интересного.",
                        txt: "Одежда для нас – особый атрибут, в каждой детали которого<br>" +
                                "кроется история, труд и люди, влюбленные в то, что делают.",
                        fields: {
                            email: true
                        },
                        btnName: "Подписка на рассылку",
                        img: "/images/content/index/subscribe/img.jpg"
                    };
                include ../../../components/subscribe/index
