.revs
    .container
        .revs__grid
            .revs__left
                h2.revs__title Отзывы клиентов
                .revs__sub Каждый клиент ценит качествосшитых костюмов и мастерство портных.
                .revs__txt Среди наших клиентов - известные телеведущие, звезды шоубизнеса, политики и бизнесмены.
            .revs__right
                .revs__slider
                    .revs__nav
                        button(type='button').revs__arr.revs__prev
                            <svg width="29" height="19" viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.171916 8.97408L8.97337 0.172617C9.20259 -0.0566031 9.5739 -0.0566031 9.80307 0.172617C10.0323 0.401847 10.0323 0.773157 9.80307 1.00233L2.00322 8.80218H27.5779C27.9022 8.80218 28.1647 9.06462 28.1647 9.38896C28.1647 9.71329 27.9022 9.97574 27.5779 9.97574H2.00322L9.80307 17.7755C10.0323 18.0048 10.0323 18.3761 9.80307 18.6052C9.68848 18.7198 9.53831 18.7771 9.38819 18.7771C9.23807 18.7771 9.08795 18.7198 8.97331 18.6052L0.171856 9.80379C-0.057314 9.57462 -0.057314 9.20331 0.171906 8.97409L0.171916 8.97408Z" fill="#202020"/>
                            </svg>
                        button(type='button').revs__arr.revs__next
                            <svg width="29" height="19" viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.9927 9.80377L19.1913 18.6052C18.9621 18.8345 18.5907 18.8345 18.3616 18.6052C18.1324 18.376 18.1324 18.0047 18.3616 17.7755L26.1614 9.97567L0.586765 9.97567C0.262435 9.97567 -1.33514e-05 9.71323 -1.33514e-05 9.38889C-1.33514e-05 9.06456 0.262435 8.80211 0.586765 8.80211L26.1614 8.80211L18.3616 1.00231C18.1324 0.773082 18.1324 0.401771 18.3616 0.172611C18.4762 0.0580212 18.6263 0.000701904 18.7765 0.000701904C18.9266 0.000701904 19.0767 0.0580212 19.1913 0.172611L27.9928 8.97406C28.222 9.20323 28.222 9.57454 27.9927 9.80376L27.9927 9.80377Z" fill="#202020"/>
                            </svg>
                    .revs__swiper.swiper-container
                        .swiper-wrapper
                            -
                                var list = [
                                    {
                                        img: "/images/content/revs/1.jpg",
                                        name: "Виктория Боня",
                                    },
                                    {
                                        img: "/images/content/revs/2.jpg",
                                        name: "Александр Ревва",
                                    },
                                    {
                                        img: "/images/content/revs/3.jpg",
                                        name: "Анна Седакова",
                                    },
                                    {
                                        img: "/images/content/revs/4.jpg",
                                        name: "Павел Воля",
                                    },
                                    {
                                        img: "/images/content/revs/5.jpg",
                                        name: "Андрей Григорьев-Аполлонов",
                                    },
                                    {
                                        img: "/images/content/revs/6.jpg",
                                        name: "Павел Прилучный",
                                    },
                                    {
                                        img: "/images/content/revs/7.jpg",
                                        name: "Митя Фомин",
                                    },
                                    {
                                        img: "/images/content/revs/8.jpg",
                                        name: "Андрей Мерзликин",
                                    },
                                ];
                            each i in list
                                .swiper-slide.revs__item
                                    a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox).rev
                                        span.rev__img
                                            +image(i.img)
                                        span.rev__btn
                                            <svg width="64" height="65" viewBox="0 0 64 65" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M29.5781 25.2352L37.8692 30.3584C38.7608 30.9089 39.293 31.8627 39.293 32.9099C39.293 33.957 38.7608 34.9108 37.8692 35.4613L29.5781 40.5845C29.0977 40.8833 28.5684 41.0348 28.0078 41.0348C26.3486 41.0348 24.9981 39.6882 24.9981 38.0331V27.7907C24.9981 26.1325 26.3477 24.7834 28.0068 24.7834C28.5547 24.7834 29.0986 24.9396 29.5781 25.2352V25.2352ZM44.4551 61.8969C48.2656 60.2855 51.6875 57.9781 54.6279 55.0389C57.5674 52.0993 59.874 48.677 61.4853 44.8671C63.1543 40.9227 64 36.7319 64 32.4109C64 28.09 63.1543 23.8991 61.4853 19.9547C59.874 16.1449 57.5674 12.7226 54.6279 9.78293C51.6875 6.84372 48.2656 4.53636 44.4551 2.92493C40.5098 1.25625 36.3193 0.410156 31.999 0.410156C27.6787 0.410156 23.4883 1.25625 19.5439 2.92493C15.7334 4.53636 12.3115 6.84372 9.37109 9.78293C6.43164 12.7226 4.125 16.1449 2.51367 19.9547C0.844723 23.8991 -0.000976562 28.09 -0.000976562 32.4109C-0.000976562 36.7318 0.844723 40.9227 2.51367 44.8671C4.125 48.677 6.43164 52.0993 9.37109 55.0389C12.3115 57.9781 15.7334 60.2855 19.5439 61.8969C23.4883 63.5656 27.6787 64.4117 31.999 64.4117C36.3193 64.4117 40.5098 63.5656 44.4551 61.8969V61.8969Z"/>
                                            </svg>
                                        span.rev__wrap
                                            span.rev__name!=i.name
                                            span.rev__txt
                                                | "Леонид Гривко сшил
                                                br
                                                | мне лучшее пальто!"