.revs {

  &__grid {
    display: flex;
    gap: 20px;
    @include lg-block {
      flex-wrap: wrap;
      gap: 30px;
    }
    @include sm-block {
      gap: 15px;
    }
  }

  &__left {
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    @include lg-block {
      padding-top: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include sm-block {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  &__right {
    width: calc(100% - 320px);
    position: relative;
    @include lg-block {
      width: 100%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    @include lg-block {
      font-size: 28px;
      margin-bottom: 0;
    }
    @include sm-block {
      font-size: 20px;
    }
  }

  &__sub {
    font-size: 20px;
    margin-bottom: auto;
    @include lg-block {
      max-width: 480px;
      margin-bottom: 0;
    }
    @include sm-block {
      font-size: 16px;
    }
  }

  &__txt {
    font-size: 20px;
    color: #c4c4c4;
    max-width: 234px;
    @include xlg-block {
      display: none;
      max-width: 100%;
      margin-top: 50px;
    }
    @include sm-block {
      margin-top: 15px;
    }

    &--lg {
      display: none;
      @include lg-block {
        display: block;
      }
    }
  }

  &__nav {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -40px;
    right: -40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    @include xlg-block {
      left: -20px;
      right: -20px;
    }
    @include sm-block {
      display: none;
    }
  }

  &__arr {
    pointer-events: all;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    background-color: $bg;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr;
    @include xlg-block {
      width: 40px;
      height: 40px;
      padding: 10px;
    }

    &:hover {
      transform: scale(1.125);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }
  }

  &__slider {
    @include lg-block {
      position: relative;
    }
  }

  &__swiper {
    overflow: hidden;
  }

  &__item {
    width: 380px;
    @include xlg-block {
      width: 222px;
    }
    @include lg-block {
      width: 214px;
    }

    .rev {

      &__btn {
        top: 58%;

        svg {
          @include xlg-block {
            width: 37px;
            height: 37px;
          }
        }
      }

      &__wrap {

      }

      &__name {
        @include xlg-block {
          font-size: 14px;
        }
      }

      &__txt {
        @include xlg-block {
          font-size: 12px;
        }
      }
    }
  }

}