.revs {

  &__title {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include lg-block {
      font-size: 32px;
      margin-bottom: 15px;
    }
    @include sm-block {
      font-size: 20px;
    }
  }

  &__slider{
    position: relative;
  }

  &__sub {
    font-size: 20px;
    margin-bottom: auto;
    @include lg-block {
      max-width: 480px;
      margin-bottom: 0;
    }
    @include sm-block {
      font-size: 16px;
    }
  }

  &__txt {
    font-size: 20px;
    color: #c4c4c4;
    max-width: 234px;
    @include xlg-block {
      display: none;
      max-width: 100%;
      margin-top: 50px;
    }
    @include sm-block {
      margin-top: 15px;
    }

    &--lg {
      display: none;
      @include lg-block {
        display: block;
      }
    }
  }

  &__nav {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -40px;
    right: -40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    @include lg-block{
      left: -19px;
      right: -19px;
    }
    @include sm-block{
      left: -15px;
      right: -15px;
    }
  }

  &__arr {
    pointer-events: all;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    background-color: $bg;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr;
    @include lg-block{
      width: 38px;
      height: 38px;
    }
    @include sm-block{
      width: 35px;
      height: 35px;
    }

    &:hover {
      transform: scale(1.125);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }

    &.swiper-button-disabled{
      opacity: .5;
    }

    svg{
      display: block;
      @include lg-block{
        width: 15px;
        height: 10px;
      }
    }
  }

  &__slider {
    @include lg-block {
      position: relative;
    }
  }

  &__swiper {
    overflow: hidden;
  }

  &__item {
    width: 345px;
    @include lg-block {
      width: 180px;
    }
    @include sm-block{
      width: auto;
    }
  }

}