.revs{

  &__grid{
    display: flex;
    gap: 20px;
  }

  &__left{
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
  }

  &__right{
    width: calc(100% - 320px);
    position: relative;
  }

  &__title{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__sub{
    margin-bottom: auto;
  }

  &__txt{
    color: #c4c4c4;
    max-width: 234px;
  }

  &__nav{
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -40px;
    right: -40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }

  &__arr{
    pointer-events: all;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    background-color: $bg;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr;

    &:hover,&:focus,&:active{
      transform: scale(1.125);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }
  }

  &__swiper{
    overflow: hidden;
  }

  &__item{
    width: 380px;
  }
  
}