.appointment {
  position: relative;
  border-width: 30px;
  padding: 0 160px 0 0;

  @include xlg-block {
    display: none;
  }
  @include sm-block {
    display: block;
    border: none;
    margin: 0 -10px;
    padding: 30px 10px;
    position: relative;
  }

  &:before {
    content: 'Бесплатно';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 65px;
    background-color: $gold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg;
    font-weight: 700;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    @include sm-block{
      display: none;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    @include sm-block {
      flex-direction: column;
      gap: 30px;
      align-items: initial;
    }

  }

  &__left {
    margin: -25px 90px -20px -10px;
    @include sm-block {
      margin: 0;
      position: absolute;
      top: 10px;
      right: -20px;
      width: 125px;
    }
  }

  &__center {
    margin-right: auto;

  }

  &__title {
    margin-bottom: 15px;
    @include sm-block{
      margin-right: 160px;
    }
  }

  &__txt{
    @include sm-block{
      font-size: 16px;
    }
  }

  &__btn {
    width: 319px;
    height: 74px;
    @include sm-block{
      width: 100%;
      height: 58px;
      font-size: 20px;
    }
  }

}