.nav-list {

  &__title {
    color: rgba($txt, .5);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 45px;
    @include xlg-block{
      font-size: 18px;
      margin-bottom: 25px;
    }
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 155px);
    grid-gap: 10px;
    @include xlg-block{
        grid-template-columns: repeat(2,1fr);
    }
  }

  &__item {
    padding: 15px 0;
    display: block;
    font-weight: 400;
    @include tr;
    @include xlg-block{
      font-size: 18px;
      padding: 12px 0;
    }

    &:hover{
      color: $link;
    }
  }
}