.nav-list {

  &__title {
    color: rgba($txt, .5);
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 40px;
    @include xlg-block{
      font-size: 18px;
      margin-bottom: 25px;
    }
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 155px);
    grid-gap: 10px;
    @include xlg-block{
        grid-template-columns: repeat(2,1fr);
    }
  }

  &__col{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  &__item {
    padding: 7px 0;
    display: block;
    font-size: 20px;
    position: relative;
    @include tr;
    @include xlg-block{
      font-size: 18px;
      padding: 12px 0;
    }

    &:before{
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: currentColor;
    }

    &:hover{
      &:before{
        display: block;
      }
    }
  }
}