form(action="/php/call.php" method="post").order
    .order__grid
        .order__left
            h3.call__title.title.order__title оформление заказа
            .order__info
                include info/index
            .order__sections
                .order__section
                    .order-section
                        .order-section__name Доставка:
                        .order-section__fields
                            .order-section__field
                                label.order-radio
                                    input(type="radio" name="delivery" value="Стандартная доставка" checked).order-radio__input
                                    span.order-radio__fake
                                        span.order-radio__left
                                            span.order-radio__round
                                        span.order-radio__right
                                            span.order-radio__name Стандартная доставка
                                            span.order-radio__imgs
                                                span.order-radio__img
                                                    img(src="/images/content/order/post.png" alt="lorem")
                            .order-section__field
                                label.order-radio
                                    input(type="radio" name="delivery" value="Экспресс доставка" ).order-radio__input
                                    span.order-radio__fake
                                        span.order-radio__left
                                            span.order-radio__round
                                        span.order-radio__right
                                            span.order-radio__name Экспресс доставка
                                            span.order-radio__imgs
                                                span.order-radio__img
                                                    img(src="/images/content/order/cdek.png" alt="lorem")

                            .order-section__field.order-section__field--2
                                label.order-radio
                                    input(type="radio" name="delivery" value="Экспресс доставка доставка в любую точку мира").order-radio__input
                                    span.order-radio__fake
                                        span.order-radio__left
                                            span.order-radio__round
                                        span.order-radio__right
                                            span.order-radio__name Экспресс доставка доставка в любую точку мира
                                            span.order-radio__imgs
                                                span.order-radio__img
                                                    img(src="/images/content/order/dhl.png" alt="lorem")
                                                span.order-radio__img
                                                    img(src="/images/content/order/fedex.png" alt="lorem")
                                                span.order-radio__img
                                                    img(src="/images/content/order/pony.png" alt="lorem")

                .order__section
                    .order-section
                        .order-section__name Методы оплаты:
                        .order-section__fields
                            .order-section__field.order-section__field--2
                                .order-pays
                                    .order-pays__item
                                        label.order-pay
                                            input(type="radio" name="pay" value="Онлайн оплата" checked).order-pay__input
                                            span.order-pay__fake
                                                span.order-pay__round
                                                span.order-pay__name Онлайн оплата
                                    .order-pays__item
                                        label.order-pay
                                            input(type="radio" name="pay" value="Курьеру наличкой").order-pay__input
                                            span.order-pay__fake
                                                span.order-pay__round
                                                span.order-pay__name Курьеру наличкой
                                    .order-pays__item
                                        label.order-pay
                                            input(type="radio" name="pay" value="Курьеру банковской картой").order-pay__input
                                            span.order-pay__fake
                                                span.order-pay__round
                                                span.order-pay__name Курьеру банковской картой

        .order__right
            a(href="#").order__conditions Условия доставки / оплаты / возврата
            .order__cols
                .order__col
                    .order__fields
                        label.order__field
                            span.order__pin Имя
                            input(type="text" name="name" data-rule-required="true" data-msg-required="Заполните Имя").order__input
                        label.order__field
                            span.order__pin Телефон
                            input(type="tel" name="tel" data-rule-required="true" data-msg-required="Заполните телефон" data-msg-tel="Заполните телефон").order__input
                        label.order__field
                            span.order__pin Эл. почта
                            input(type="email" name="email" data-rule-required="true" data-msg-required="Заполните Email").order__input
                        label.order__field
                            span.order__pin Комментарий к заказу
                            textarea(name="comment").order__input.order__input--area
                .order__col
                    .order__fields
                        label.order__field
                            span.order__pin Страна
                            input(type="text" name="country" data-rule-required="true" data-msg-required="Заполните Страну").order__input
                        label.order__field
                            span.order__pin Город
                            input(type="text" name="city" data-rule-required="true" data-msg-required="Заполните Город").order__input
                        label.order__field
                            span.order__pin Улица
                            input(type="text" name="street" data-rule-required="true" data-msg-required="Заполните Улицу").order__input
                        label.order__field
                            span.order__pin Подъезд / Этаж / Квартира
                            input(type="" name="detail" data-rule-required="true" data-msg-required="Заполните Подъезд / Этаж / Квартира").order__input
                        label.order__field
                            span.order__pin Код домофона
                            input(type="text" name="code").order__input
                    .order__policy
                        | Нажимая на кнопку, вы принимаете
                        br
                        a(href="#") политику конфиденциальности
            .order__bottom
                .order__price
                    .order-price
                        .order-price__name Итого:
                        .order-price__val $218.82
                button(type='submit').order__submit.btn.btn--black
                    span Оплатить заказ
                    <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.271 3.758L21.683 0.169998C21.5744 0.0613919 21.4271 0.000377652 21.2735 0.000377655C21.1199 0.000377658 20.9726 0.061392 20.864 0.169998C20.7554 0.278604 20.6944 0.425906 20.6944 0.579498C20.6944 0.73309 20.7554 0.880392 20.864 0.988998L23.464 3.589H0.579C0.425307 3.589 0.277909 3.65005 0.169232 3.75873C0.0605546 3.86741 -0.000499725 4.01481 -0.000499725 4.1685C-0.000499725 4.32219 0.0605546 4.46959 0.169232 4.57827C0.277909 4.68694 0.425307 4.748 0.579 4.748H23.463L20.863 7.348C20.7544 7.4566 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.2756 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.2756 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32052 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z" />
                    </svg>


