.nav {
  display: flex;
  gap: 30px;

  &__item {
    position: relative;

    &:hover {
      .nav__link {
        &:before {
          display: block;
        }
      }

      .nav__drop {
        display: block;
      }
    }

    &.full {
      position: static;
    }
  }

  &__link {
    padding: 25px 0;
    display: block;
    font-size: 22px;
    position: relative;
    @include tr;
    @include xlg-block {
      font-size: 16px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 18px;
      left: 0;
      width: 88%;
      height: 1px;
      background: currentColor;
      display: none;
    }

    &.active{
      &:before{
        display: block;
      }
    }
  }

  &__drop {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: -30px;
    display: none;

    &:before {
      content: '';
      display: block;
      height: 15px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
    }

    &.full {
      width: 100%;
      left: 0;

      .nav-drop {
        width: 100%;
        padding: 60px 100px 100px 100px;
        display: grid;
        grid-template-columns: 440fr 1120fr;
        grid-gap: 20px;
        align-items: flex-end;
        @include xlg-block {
          padding: 50px 40px;
          grid-template-columns: calc(27% - 10px) calc(73% - 10px);
        }
      }
    }
  }

}

@import "drop/style";