.nav{
  display: flex;
  gap: 30px;

  &__item{

  }

  &__link{
    font-size: 20px;
    padding: 10px 0;
    display: block;
    @include tr;

    &:hover,&:focus,&:active{
      color: $link;
    }
  }

}