.reviews
    .reviews__list
        -
            var list = [
                {
                    img: "/images/content/revs/all/1.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/2.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/3.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/4.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/5.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/6.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/7.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/8.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/9.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/10.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/11.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/12.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/13.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/14.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/15.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },
                {
                    img: "/images/content/revs/all/16.jpg",
                    name: "Виктория Боня",
                    txt: "Актер, Комедиант, Телеведущий, Певец, Музыкант Резидент Comedy Club"
                },

            ];
        each i in list
            .reviews__item
                include ../../components/rev/index
    button(type='button').reviews__more.btn.btn--gold-fill Загрузить еще
    //.reviews__pag
    //    include ../../components/pagination/index