.reviews {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
    @include lg-block{
        grid-template-columns: repeat(2,1fr);
    }
    @include sm-block{
        grid-template-columns: 100%;
    }
  }

  &__item{
    .rev{

      &__img{
        padding-top: calc(663/432*100%);
        @include sm-block{
          padding-top: calc(500/343*100%);
        }
      }

      &__wrap{
        left: 35px;
        right: 20px;
        bottom: 50px;
        @include xlg-block{
          left: 20px;
          right: 25px;
          bottom: 30px;
          padding-right: 50px;
        }
        @include lg-block{
          left: 30px;
          right: 20px;
          bottom: 20px;
          padding-right: 65px;
        }
        @include sm-block{
          left: 15px;
          right: 25px;
          bottom: 18px;
        }
      }

      &__btn{
        @include xlg-block{
          width: 49px;
          height: 49px;
        }
        @include lg-block{
          width: 64px;
          height: 64px;
        }
        @include sm-block{
          display: block;
        }

        svg{
          width: 100%;
          height: 100%;
        }
      }

      &__name{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        @include xlg-block{
          font-size: 16px;
        }
        @include sm-block{
          font-size: 20px;
          margin-bottom: 7px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      &__txt{
        font-size: 16px;
        font-weight: 400;
        @include xlg-block{
          font-size: 15px;
        }
        @include sm-block{
          font-size: 16px;
        }
      }

    }
  }

  &__more{
    width: 876px;
    height: 58px;
    max-width: 100%;
    margin: 0 auto;
    @include xlg-block{
      font-size: 20px;
    }
  }



}