.women {
  flex-grow: 1;

  &__desc{
    margin-top: 25px;
    margin-bottom: 55px;
  }

  &__list{
    display: grid;
    grid-gap: 10px;
  }

  &__banner{
    margin-bottom: 25px;
  }

  &__breadcrumbs{
    margin-bottom: 30px;
  }
}
