extends ./../../main

block variables
    - var title = 'Для женщин'
    - var isWomen = true

block content
    main.page
        //- banner
        section.page__banner
            -
                var props = {
                    imgPath: "/images/content/women/banner/",
                    sub: "ДОМ МОДЫ LEONID GRIVKO",
                    title: "Мода для женщин",
                    big: "«Мы используем собственные <br> разработки для идеальной посадки <br> на любую фигуру, лучшие ткани <br> и вдохновляющих людей».",
                    dopCls: "banner--small"
                };
            include ../../components/banner/index
        //- breadcrumbs
        section.page__breadcrumbs
            .container
                include ../../components/breadcrumbs/index
        //- collections
        section.page__collections.mb80
            -
                var props = {
                    title: "Коллекции",
                    txt: "Шедевр для настоящих ценителей эксклюзива.",
                    list: [
                        {
                            img: "/images/content/women/collections/1.jpg",
                            title: "Пальто",
                            price: "от 75 000 руб.",
                            href: pages.product
                        },
                        {
                            img: "/images/content/women/collections/2.jpg",
                            title: "Пиджаки",
                            price: "от 75 000 руб.",
                            href: pages.product
                        },
                        {
                            img: "/images/content/women/collections/3.jpg",
                            title: "Сорочки",
                            price: "от 75 000 руб.",
                            href: pages.product
                        },
                        {
                            img: "/images/content/women/collections/4.jpg",
                            title: "Жилеты",
                            price: "от 75 000 руб.",
                            href: pages.product
                        },
                        {
                            img: "/images/content/women/collections/5.jpg",
                            title: "Костюмы",
                            price: "от 75 000 руб.",
                            href: "/women/collections/suits/"
                        },
                        {
                            img: "/images/content/women/collections/6.jpg",
                            title: "Смокинги",
                            price: "от 75 000 руб.",
                            href: pages.product
                        },
                        {
                            img: "/images/content/women/collections/7.jpg",
                            title: "Брюки",
                            price: "от 75 000 руб.",
                            href: pages.product
                        },
                        {
                            img: "/images/content/women/collections/8.jpg",
                            title: "Обувь",
                            price: "от 75 000 руб.",
                            href: pages.product
                        }
                    ],
                    link: {
                        href: "/",
                        name: "Открыть всю коллекцию"
                    }
                };
            +catalog(props)
        //- list
        section.page__list.mb80
            .container
                -
                    var list = {
                        list: [
                            {
                                img: "/images/content/women/list/1.jpg",
                                link: {
                                    href: "/",
                                    name: "В бутике"
                                },
                                txt: "Представлен весь ассортимент <br> готовой коллекции"
                            },
                            {
                                img: "/images/content/women/list/2.jpg",
                                link: {
                                    href: "/",
                                    name: "Доставкой"
                                },
                                txt: "Отправим выбранные на сайте образы <br> в любую точку мира"
                            },
                            {
                                img: "/images/content/women/list/3.jpg",
                                link: {
                                    href: "/",
                                    name: "Пошив на заказ"
                                },
                                txt: "По индивидуальным меркам <br> и в любом размере"
                            },

                        ]
                    };
                +list(list)
        //- fitting
        section.page__fitting.mb80
            .container
                -
                    var props = {
                        list: [
                            {
                                img: "/images/content/women/fitting/1.jpg",
                                href: "/",
                                title: "Одежда больших размеров",
                                txt: "от 38 до 54"
                            },
                            {
                                img: "/images/content/women/fitting/2.jpg",
                                href: "/",
                                title: "Индивидуальный пошив",
                                txt: "Шедевр для настоящих ценителей эксклюзива."
                            }
                        ]
                    };
                +fitting(props)
        //- tech
        section.page__tech.mb80
            .container
                include ../../components/corsettech/index
        //- revs
        section.page__revs.mb80
            .container
                include ../../components/revs/index
        //- signup
        section.page__signup
            .container
                include ../../components/signup/index
