extends ../../../../main

block variables
    - var title = 'Документы для клиентов'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Документы для клиентов
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
        //- docs
        section.page__docs
            .container
                include ../../../../components/docs/index
