//- header
if isMain
    .header__top.header__sticky
        .container
            button(type='button').header__top-mmenu
                <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 14V12H20V14H0ZM0 8V6H20V8H0ZM0 2V0H20V2H0Z" fill="#030303"/>
                </svg>
            .header__top-left
                nav.header__nav
                    a(href="/women/").header__nav-item Для женщин
                    a(href="/men/").header__nav-item Для мужчин
            .header__top-center
                a(href="/").header__logo
                    +image("/images/content/logo.png")
            .header__top-right.header__contacts
                .header__tel
                    a(href="tel:+7495123-45-67") +7 495 123-45-67
                .header__langs
                    include ../../../components/lang/index

else

    .header__top.header__top--second
        .container
            nav.header__nav
                a(href="/women/").header__nav-item Для женщин
                a(href="/men/").header__nav-item Для мужчин
    .header__bottom.header__sticky
        .container
            .header__bottom-container
                .header__bottom-left
                    a(href="/").header__logo
                        +image("/images/content/logo.png")
                .header__bottom-center
                    include ../nav/nav
                .header__bottom-right.header__contacts
                    .header__tel
                        a(href="tel:+7495123-45-67") +7 495 123-45-67
                    .header__langs
                        include ../../../components/lang/index