extends ../../../../main

block variables
    - var title = 'Женщинам: Образы'
    - var isWomen = true

block content
    main.women
        //- desc
        section.women__desc
            .container
                h2.women__title.title.title--line Женщинам: Образы
                .women__breadcrumbs
                    include ../../../../components/breadcrumbs/index
                .women__content.content
                    p Образы на каждый день и для особых событий. Мы вложили душу и много труда, чтобы всегда, куда бы не лежал ваш путь
        //- fashion
        section.women__fashion.mb80
            include ../../../../components/fashion/index
        //- choose
        section.women__choose.mb80
            .container
                include ../../../../components/choose/index
        //- subscribe
        section.women__subscribe
            .container
                include ../../../../components/subscribe/index



