extends ../../../../main

block variables
    - var title = 'Женщинам: Образы'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Женщинам: Образы
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
                    .page-desc__content.content
                        p Образы на каждый день и для особых событий. Мы вложили душу и много труда, чтобы всегда, куда бы не лежал ваш путь
        //- fashion
        section.page__fashion.mb80
            include ../../../../components/fashion/index
        //- choose
        section.page__choose.mb80
            .container
                include ../../../../components/choose/index
        //- subscribe
        section.page__subscribe
            .container
                -
                    var props = {
                        title: "Подпишитесь на рассылку, мы расскажем много интересного.",
                        txt: "Одежда для нас – особый атрибут, в каждой детали которого<br>" +
                                "кроется история, труд и люди, влюбленные в то, что делают.",
                        fields: {
                            email: true
                        },
                        btnName: "Подписка на рассылку",
                        img: "/images/content/index/subscribe/img.jpg"
                    };
                include ../../../../components/subscribe/index



