if field == "name"
    input(type="text" name="name" placeholder="Имя").input
if field == "tel"
    input(type="tel" name="tel" placeholder="Телефон").input
if field == "email"
    input(type="email" name="email" placeholder="Email").input
if field == "msg"
    .call__field
        textarea(name="msg" placeholder="Напишите текст отзыва").input.input--area