.team
    if name
        h3.team__title.title= name
    .team__list
        each i in list
            a(href="#" data-id=99 data-action="openAjaxForm" data-ajax="/php/team.php").team__item.jsAction
                .team__img
                    img(src=i.img alt="lorem")
                .team__wrap
                    h3.team__name= i.name
                    .team__prof= i.prof
    a(href="#").team__link.btn.btn--gold-fill
        span Смотреть всю команду