.team
    .team__list
        each i in list
            a(href="#" data-action="team" data-id=99).team__item.jsAction
                .team__img
                    img(src=i.img alt="lorem")
                .team__wrap
                    h3.team__name= i.name
                    .team__prof= i.prof
    a(href="#").team__link.btn.btn--black
        span Смотреть всю команду
        <svg width="26" height="9" viewBox="0 0 26 9"  xmlns="http://www.w3.org/2000/svg">
        <path d="M25.271 3.758L21.683 0.169998C21.5744 0.0613919 21.4271 0.000377652 21.2735 0.000377655C21.1199 0.000377658 20.9726 0.061392 20.864 0.169998C20.7554 0.278604 20.6944 0.425906 20.6944 0.579498C20.6944 0.73309 20.7554 0.880392 20.864 0.988998L23.464 3.589H0.578996C0.425304 3.589 0.277905 3.65005 0.169228 3.75873C0.0605507 3.86741 -0.00050354 4.01481 -0.00050354 4.1685C-0.00050354 4.32219 0.0605507 4.46959 0.169228 4.57827C0.277905 4.68694 0.425304 4.748 0.578996 4.748H23.463L20.863 7.348C20.7544 7.4566 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.2756 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.2756 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32052 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z"/>
        </svg>
