extends ../../main
include mixins

block variables
    - var title = 'Главная'
    - var isMain = true

block content
    main.index
        //- banner
        section.index__banner.mb80
            +banner("images/content/index/banner/img.jpg")
        //- better
        section.index__better
            .index-better
                .container
                    .index-better__grid
                        -
                            var list = [
                                "Большой размерный ряд",
                                "Коллекции костюмов Для Женщин",
                                "Индивидуальный пошив Для мужчин",
                            ];
                        each i,x in list
                            .index-better__item
                                .index-better__pic
                                    +image("images/content/index/better/"+(x+1)+".svg")
                                .index-better__name= i
        //- cats
        section.index__cats.mb80
            .index-cats
                .container
                    .index-cats__section
                        h2.index-cats__title Для женщин
                        .index-cats__list.index-cats__list--women
                            -
                                var list = [
                                    {
                                        title: "Готовые колекции",
                                        txt: "Лучший выбор, чтобы подчеркнуть <br> высокий статус.",
                                        img: "images/content/index/cats/w1.jpg"
                                    },
                                    {
                                        title: "Индивидуальный пошив",
                                        txt: "Шедевр для настоящих ценителей эксклюзива.",
                                        img: "images/content/index/cats/w2.jpg"
                                    },
                                    {
                                        title: "Большой размерный ряд",
                                        txt: "от 38 до 54",
                                        img: "images/content/index/cats/w3.jpg"
                                    },

                                ];
                            each i in list
                                .index-cats__item
                                    +cat(i)
                    .index-cats__section
                        h2.index-cats__title Для мужчин
                        .index-cats__list.index-cats__list
                            -
                                var list = [
                                    {
                                        title: "Индивидуальный пошив",
                                        txt: "Шедевр для настоящих ценителей эксклюзива.",
                                        img: "images/content/index/cats/m1.jpg"
                                    },
                                    {
                                        title: "Обувь",
                                        txt: "Ручной работы",
                                        img: "images/content/index/cats/m2.jpg"
                                    },
                                ];
                            each i in list
                                .index-cats__item
                                    +cat(i)
        //- revs
        section.index__revs.mb80
            include ../../components/revs/index
        //- about
        section.index__about.mb80
            .index-about
                .container
                    .index-about__left
                        .index-about__img
                            +image("images/content/index/about/img.jpg")
                    .index-about__right
                        .index-about__content
                            h2 От основателя
                            p
                                b Главная задача нашего салона – создание идеального гардероба мужчины.
                            p Российский дизайнер, эксперт по мужскому стилю. Учесть индивидуальные особенности каждого клиента, подчеркнуть его достоинства и скрыть малейшие недостатки – важнейшие направления нашей работы.
                            p В пошиве костюма мы используем уникальную технологию, благодаря которой он превосходно держит форму и при этом остается мягким и удобным. Я лично работаю с каждым клиентом, разрабатывая его персональный стиль и уделяя максимальное внимание посадке изделия.
                            p Ведь мужской костюм – это современные доспехи, которые указывают на статус и профессиональную принадлежность их обладателя. Именно так, учитывая все нюансы, создается костюм, в котором мужчина выглядит поистине безукоризненно.
                            p Леонид Гривко - основатель бренда
        //- subscribe
        section.index__subscribe
            .index-subscribe
                .container
                    .index-subscribe__left
                        .index-subscribe__content
                            h2 Подпишитесь на рассылку, мы расскажем много интересного.
                            p
                                |Одежда для нас – особый атрибут, в каждой детали которого
                                br
                                |кроется история, труд и люди, влюбленные в то, что делают.
                            form.index-subscribe__form
                                .index-subscribe__field
                                    input(type="email" name="email" placeholder="E-mail").input
                                .index-subscribe__policy
                                    |Нажимая на кнопку, вы принимаете
                                    a(href="#") Нажимая на кнопку, вы принимаете
                                button(type='submit').index-subscribe__submit.btn.btn--black
                                    span Подписка на рассылку
                                    <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.271 3.75799L21.683 0.169987C21.5744 0.0613805 21.4271 0.000366208 21.2735 0.000366211C21.1199 0.000366213 20.9726 0.0613805 20.864 0.169987C20.7554 0.278593 20.6944 0.425894 20.6944 0.579487C20.6944 0.733079 20.7554 0.880381 20.864 0.988987L23.464 3.58899H0.579012C0.425319 3.58899 0.277921 3.65004 0.169243 3.75872C0.060566 3.8674 -0.000488281 4.01479 -0.000488281 4.16849C-0.000488281 4.32218 0.060566 4.46958 0.169243 4.57826C0.277921 4.68693 0.425319 4.74799 0.579012 4.74799H23.463L20.863 7.34799C20.7544 7.45659 20.6934 7.60389 20.6934 7.75749C20.6934 7.91108 20.7544 8.05838 20.863 8.16699C20.9716 8.27559 21.1189 8.33661 21.2725 8.33661C21.4261 8.33661 21.5734 8.27559 21.682 8.16699L25.27 4.57899C25.3242 4.52525 25.3672 4.46134 25.3965 4.39092C25.4259 4.32051 25.4411 4.24499 25.4412 4.16869C25.4413 4.0924 25.4263 4.01684 25.3971 3.94636C25.3679 3.87587 25.325 3.81186 25.271 3.75799V3.75799Z"/>
                                    </svg>

                    .index-subscribe__right
                        .index-subscribe__img
                            +image("images/content/index/subscribe/img.jpg")



