extends ../../main
include mixins

block variables
    - var title = 'Главная'
    - var isMain = true

block content
    main.index
        //- banner
        section.index__banner.mb80
            -
                var props = {
                    imgPath: "images/content/index/banner/",
                    sub: "ДОМ МОДЫ LEONID GRIVKO",
                    title: "Костюмы ручной работы <br> для женщин и мужчин.",
                    txt: "по индивидуальным меркам <br> с гарантией идеальной посадки"
                };
            include ../../components/banner/index

        //- better
        section.index__better
            .index-better
                .container
                    .index-better__grid
                        -
                            var list = [
                                "Большой размерный ряд",
                                "Коллекции костюмов Для Женщин",
                                "Индивидуальный пошив Для мужчин",
                            ];
                        each i,x in list
                            .index-better__item
                                .index-better__pic
                                    picture
                                        source(srcset="/images/content/index/better/" + (x + 1) + "-375.svg" media='(max-width: 767.98px)')
                                        source(srcset="/images/content/index/better/" + (x + 1) + "-768.svg" media='(max-width: 1279.98px)')
                                        source(srcset="/images/content/index/better/" + (x + 1) + "-1280.svg" media='(max-width: 1919.98px)')
                                        img(src="/images/content/index/better/" + (x + 1) + ".svg" alt='')
                                .index-better__name= i
        //- cats
        section.index__cats.mb80
            .index-cats
                .container
                    .index-cats__section
                        h2.index-cats__title Для женщин
                        .index-cats__list.index-cats__list--women
                            -
                                var list = [
                                    {
                                        href: "/women/collections/",
                                        title: "Готовые колекции",
                                        txt: "Лучший выбор, чтобы подчеркнуть <br> высокий статус.",
                                        img: "images/content/index/cats/w1.jpg"
                                    },
                                    {
                                        href: "/women/tailoring/",
                                        title: "Индивидуальный пошив",
                                        txt: "Шедевр для настоящих ценителей эксклюзива.",
                                        img: "images/content/index/cats/w2.jpg"
                                    },
                                    {
                                        href: "/women/bigsize/",
                                        title: "Большой размерный ряд",
                                        txt: "от 38 до 54",
                                        img: "images/content/index/cats/w3.jpg",
                                        imgMobile: "images/content/index/cats/w3-375.jpg"
                                    },

                                ];
                            each i in list
                                .index-cats__item
                                    +cat(i)
                    .index-cats__section
                        h2.index-cats__title Для мужчин
                        .index-cats__list.index-cats__list
                            -
                                var list = [
                                    {
                                        href: "/men/",
                                        title: "Индивидуальный пошив",
                                        txt: "Шедевр для настоящих ценителей эксклюзива.",
                                        img: "images/content/index/cats/m1.jpg"
                                    },
                                    {
                                        href: "/men/services/shoes/",
                                        title: "Обувь",
                                        txt: "Ручной работы",
                                        img: "images/content/index/cats/m2.jpg"
                                    },
                                ];
                            each i in list
                                .index-cats__item
                                    +cat(i)
        //- revs
        section.index__revs.mb100
            include ../../components/revs/index
        //- about
        section.index__founder.mb80
            .container
                include ../../components/founder/index
        //- subscribe
        section.index__subscribe
            .container
                -
                    var props = {
                        title: "Подпишитесь на рассылку, мы расскажем много интересного.",
                        txt: "Одежда для нас – особый атрибут, в каждой детали которого<br>" +
                                "кроется история, труд и люди, влюбленные в то, что делают.",
                        fields: {
                            email: true
                        },
                        btnName: "Подписка на рассылку",
                        img: "/images/content/index/subscribe/img"
                    };
                include ../../components/subscribe/index



