mixin cat(i)
    a(href="#").index-cat
        .index-cat__img
            +image(i.img)
        .index-cat__wrap
            h3.index-cat__title= i.title
            span.index-cat__txt!=i.txt
            span.index-cat__btn.btn
                span Подробнее
                <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.271 3.75799L21.683 0.169987C21.5744 0.0613805 21.4271 0.000366208 21.2735 0.000366211C21.1199 0.000366213 20.9726 0.0613805 20.864 0.169987C20.7554 0.278593 20.6944 0.425894 20.6944 0.579487C20.6944 0.733079 20.7554 0.880381 20.864 0.988987L23.464 3.58899H0.579012C0.425319 3.58899 0.277921 3.65004 0.169243 3.75872C0.060566 3.8674 -0.000488281 4.01479 -0.000488281 4.16849C-0.000488281 4.32218 0.060566 4.46958 0.169243 4.57826C0.277921 4.68693 0.425319 4.74799 0.579012 4.74799H23.463L20.863 7.34799C20.7544 7.45659 20.6934 7.60389 20.6934 7.75749C20.6934 7.91108 20.7544 8.05838 20.863 8.16699C20.9716 8.27559 21.1189 8.33661 21.2725 8.33661C21.4261 8.33661 21.5734 8.27559 21.682 8.16699L25.27 4.57899C25.3242 4.52525 25.3672 4.46134 25.3965 4.39092C25.4259 4.32051 25.4411 4.24499 25.4412 4.16869C25.4413 4.0924 25.4263 4.01684 25.3971 3.94636C25.3679 3.87587 25.325 3.81186 25.271 3.75799V3.75799Z"/>
                </svg>
