.product-tabs.jsTabs
    .product-tabs__btns
        button(type='button').product-tabs__btn.jsTabs__btn Подробнее о модели
        button(type='button').product-tabs__btn.jsTabs__btn Доставка
        button(type='button').product-tabs__btn.jsTabs__btn Костюм на заказ
    .product-tabs__tabs
        .product-tabs__tab.jsTabs__tab
            include about/index
        .product-tabs__tab.jsTabs__tab
            include delivery/index
        .product-tabs__tab.jsTabs__tab
            include custom/index