.product-tabs{

  &__btns{
    display: flex;
    @include sm-block{
      display: none;
    }
  }

  &__btn{
    background: none;
    white-space: nowrap;
    padding: 25px 40px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    @include lg-block{
      font-size: 18px;
    }

    &.active{
      background: url("/images/content/bordered/bg.png") 0 0;
    }
  }

  &__tabs{
    @include sm-block{
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 10px;
    }
  }

  &__tab{
    background: url("/images/content/bordered/bg.png") 0 0;
    display: none;
    padding: 65px;
    @include xlg-block{
      padding: 60px 40px;
    }
    @include lg-block{
      padding: 60px 30px;
    }
    @include sm-block{
      display: block;
      padding: 0;
    }

    &.active{
      display: block;
      .product-tabs__tab-plus{
        &:after{
          transform: translate(-50%,-50%) rotate(-90deg);
        }
      }
    }

    &-btn{
      display: none;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      padding: 25px 15px;
      @include sm-block{
        display: block;
        position: relative;
        text-align: left;
      }
    }

    &-plus{
      display: block;
      width: 28px;
      height: 28px;
      background-color: $gold;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);

      &:before,&:after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $bg;
        @include tr;
      }

      &:before{
        width: 14px;
        height: 2px;
      }

      &:after{
        width: 2px;
        height: 14px;
      }
    }

    &-drop{
      @include sm-block{
        height: 0;
        overflow: hidden;
        @include tr;
      }
    }

    &-content{
      @include sm-block{
        padding: 10px 15px;
      }
    }
  }

}

@import "about/style";