.tutorial-banner.bordered
    .tutorial-banner__left
        .tutorial-banner__title.title
            | Это обучение создано специально
            br
            | для новых членов команды.
        .tutorial-banner__txt
            | С уважением и любовью команда
            br
            | LEONID GRIVKO
    .tutorial-banner__rught
        img(src="/images/content/tutorial/img.jpg" alt="lorem")
