extends ../../../../main

block variables
    - var title = 'Условия доставки'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Условия доставки
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
        //- delivery
        section.page__delivery.mb80
            .container
                -
                    var list = [
                        {
                            title: "Стандартная доставка в любой регион России",
                            logos: [
                                "/images/content/women/info/delivery/1.png"
                            ],
                            ol: [
                                "Доставка в любой регион России – с оплатой доставки при получении посылки (согласно тарифам Почты России).",
                                "Доставка посылки осуществляется Почтой России в Ваше почтовое отделение.",
                                "Посылка высылается только после 100% оплаты товара. ",
                                "Ориентировочный срок доставки 5-10 рабочих дней с момента передачи заказа в службу доставки.",
                                "Сроки формирования заказа и передачи в службу доставки, составляют <br> 1-5 рабочих дней с момента получения оплаты.",
                                "Отследить посылку просто - по номеру почтового идентификатора. После отправки заказа Вам будет отправлен номер почтового идентификатора (трек-номер) для отслеживания заказа на сайте Почты РФ pochta.ru, который Вы получите в виде смс на телефон или в виде письма на электронную почту. Также отследить посылку Вы можете, позвонив в центр поддержки клиентов Почты РФ по телефону: 8-800-200-58-88 звонок по России бесплатный.",
                                "Как только Ваша посылка достигнет места назначения, Вы получите извещение из ближайшего почтового отделения. Также, по истечении 10 дней с момента отправки,  Вы можете обратиться в Ваше почтовое отделение с паспортом и номером отправления (почтовым идентификатором), не дожидаясь извещения с почты, и получить свой заказ.",
                            ]
                        },
                        {
                            title: "Экспресс доставка в любой  регион России",
                            logos: [
                                "/images/content/women/info/delivery/2.png"
                            ],
                            ol: [
                                "Быстрая доставка до двери в любой регион России – с оплатой доставки при получении посылки (согласно тарифам транспортной компании СДЭК).",
                                "Доставка посылки осуществляется транспортной компанией СДЭК.",
                                "Посылка высылается только после 100% оплаты товара.",
                                "Ориентировочный срок доставки 5-10 рабочих дней с момента передачи заказа в службу доставки.",
                                "Сроки формирования заказа и передачи в службу доставки, составляют 1-5 рабочих дней с момента получения оплаты.",
                                "Отследить посылку просто - по номеру почтового идентификатора. После отправки заказа Вам будет отправлен номер почтового идентификатора (трек-номер) для отслеживания заказа на сайте транспортной компании СДЭК https://cdek.ru/, который Вы получите в виде смс на телефон или письма на электронную почту.",
                                "Как только Ваша посылка достигнет места назначения, с Вами свяжется  оператор  транспортной компании СДЭК и согласует время и место доставки вашего заказа до Вашей двери.",
                            ]
                        },
                        {
                            title: "Экспресс-доставка в любую точку мира",
                            logos: [
                                "/images/content/women/info/delivery/3.png",
                                "/images/content/women/info/delivery/4.png",
                                "/images/content/women/info/delivery/5.png",
                            ],
                            ol: [
                                "Быстрая международная доставка до двери – с оплатой доставки до отправки посылки (согласно тарифам транспортных компании на выбор PonyExpress, FeDex, DHL и другие).",
                                "Посылка высылается только после 100% оплаты товара и доставки.",
                                "Ориентировочный срок доставки 5-10 рабочих дней с момента передачи заказа в службу доставки.",
                                "Сроки формирования заказа и передачи в службу доставки, составляют 1-5 рабочих дней с момента получения оплаты.",
                                "Отследить посылку просто - по номеру почтового идентификатора. После отправки заказа Вам будет отправлен номер почтового идентификатора (трек-номер) для отслеживания заказа на сайте транспортной компании. Трек-номер Вы получите в виде смс на телефон или письма на электронную почту.",
                                "Отследить посылку просто - по номеру почтового идентификатора. После отправки заказа Вам будет отправлен номер почтового идентификатора (трек-номер) для отслеживания заказа на сайте транспортной компании СДЭК https://cdek.ru/, который Вы получите в виде смс на телефон или письма на электронную почту.",
                                "Как только Ваша посылка достигнет места назначения, с Вами свяжется  оператор  транспортной компании и согласует время и место доставки вашего заказа до Вашей двери.",
                            ]
                        },

                    ];
                include ../../../../components/delivery/index
        //- subscribe
        section.page__subscribe
            .container
                -
                    var props = {
                        title: "Подпишитесь на рассылку, мы расскажем много интересного.",
                        txt: "Одежда для нас – особый атрибут, в каждой детали которого<br>" +
                                "кроется история, труд и люди, влюбленные в то, что делают.",
                        fields: {
                            email: true
                        },
                        btnName: "Подписка на рассылку",
                        img: "/images/content/index/subscribe/img"
                    };
                include ../../../../components/subscribe/index
