extends ../../../../main

block variables
    - var title = 'Готовые коллекции'
    - var isWomen = true

block content
    main.women
        //- desc
        section.women__desc
            .container
                .women-desc
                    h2.women-desc__title.title.title--line Условия оплаты
                    .women-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
        //- pay
        section.women__pay.mb80
            .container
                .pay
                    each i,x in ["Оплатить заказ можно наличными или банковской картой в момент приобретения вещей непосредственно в бутике по адресу: г. Москва, Пушкарев переулок, 5.","Оплатить можно наличными или безналичным платежом онлайн (банковской картой) для жителей Москвы и МО курьеру в момент получения посылки.","Для покупателей других регионов России и зарубежных стран оплату заказа необходимо произвести по безналичному расчету онлайн (банковской картой)"]
                        .pay__item
                            .pay__icon
                                img(src="/images/content/women/about/pay/"+(x+1)+".svg" alt="lorem")
                            .pay__txt= i

        //- subscribe
        section.women__subscribe
            .container
                include ../../../../components/subscribe/index

