extends ./../../../../main

block variables
    - var title = 'Костюм'

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
                    h2.page-desc__title.title.title--line Пошив женских костюмов на заказ
                    .page-desc__content
                        p Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль
        //- tech
        section.page__tech.mb80
            .container
                include ../../../../components/corsettech/index
        //- suit
        section.page__suit.mb80
            .container
                -
                    var props = {
                        img: "/images/content/men/services/suits/img.png",
                        bottomNo: true
                    };
                include ../../../../components/suit/index
        //- prices
        section.page__prices.mb80
            include ../../../../components/prices/index
        //- tabs
        section.page__appointment.mb80
            .container
                include ../../../../components/fabrics/tabs/index
        //- principles
        section.page__principles.mb80
            .container
                include ../../../../components/principles/index
        //- gallery
        section.page__gallery.mb80
            .container
                -
                    var props = {
                        title: "Работы LEONID GRIVKO",
                        list: [
                            "/images/content/women/tailoring/gallery/1.jpg",
                            "/images/content/women/tailoring/gallery/2.jpg",
                            "/images/content/women/tailoring/gallery/3.jpg",
                            "/images/content/women/tailoring/gallery/4.jpg",
                            "/images/content/women/tailoring/gallery/5.jpg",
                            "/images/content/women/tailoring/gallery/6.jpg",
                            "/images/content/women/tailoring/gallery/7.jpg",
                            "/images/content/women/tailoring/gallery/8.jpg",
                        ]
                    };
                include ../../../../components/gallery/index
        //- revs
        section.page__revs.mb160
            include ../../../../components/revs/index
        //- gift
        section.page__gift.mb140
            .container
                -
                    var props = {
                        list: false,
                        cls: 'gift--nowrap'
                    };
                include ../../../../components/gift/index
        //- founder
        section.page__founder.mb80
            .container
                include ../../../../components/founder/index
        //- signup
        section.page__signup
            .container
                include ../../../../components/signup/index