.item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;

  &:hover {
    z-index: 1;

    .item {
      &__wrap {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      &__img {
        img {
          transform: scale(1.05);
        }
      }

      &__txt {
        display: block;
      }

      &__btn {
        display: flex;
      }
    }
  }

  &--hover {

    &:hover {
      .item {
        &__wrap {
          box-shadow: none;
          position: static;
        }

        &__img {
          img {
            transform: scale(1);
          }
        }
      }
    }

    .item {

      &__wrap {
        border: 1px solid #f2f2f2;
      }

      &__btn {
        display: flex;

        &:hover {
          background: $txt;
          color: $bg;
        }
      }
    }
  }

  &__wrap {
    background-color: $bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 0 65px 35px 65px;
    overflow: hidden;
    @include xlg-block {
      padding: 0 40px 20px 40px;
    }
    @include lg-block {
      padding: 0 20px 20px 20px;
    }
    @include sm-block {
      padding: 20px;
      display: grid;
      grid-template-columns: 101px 1fr;
      grid-gap: 10px 30px;
      align-items: initial;
      grid-template-areas: 'img title' 'img price';
    }
  }

  &__img {
    width: 100%;
    max-width: 264px;
    margin-bottom: 4px;
    position: relative;
    @include xlg-block {
      max-width: 168px;
    }
    @include lg-block {
      max-width: 109px;
    }
    @include sm-block {
      grid-area: img;
    }

    &:before {
      content: "";
      display: block;
      padding-top: calc(487 / 264 * 100%);
      width: 100%;
    }

    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      @include tr;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 15px;
    @include xlg-block {
      font-size: 18px;
      margin-bottom: 7px;
    }
    @include lg-block {
      font-size: 14px;
      margin-bottom: 2px;
    }
    @include sm-block {
      grid-area: title;
      display: flex;
      align-items: flex-end;
      font-size: 20px;
    }
  }

  &__price {
    width: 100%;
    margin-bottom: 30px;
    @include xlg-block {
      font-size: 14px;
    }
    @include lg-block {
      font-size: 12px;
      margin-bottom: 15px;
    }
    @include sm-block {
      grid-area: price;
      font-size: 16px;
    }
  }

  &__txt {
    display: none;
    margin-bottom: 25px;
  }

  &__btn {
    display: none;
    width: 100%;
    height: 58px;
    align-items: center;
    justify-content: center;
    border: 1px solid $txt;
    flex-shrink: 0;
    color: $txt;
    margin-top: auto;
    @include tr;
    @include lg-block {
      display: flex;
      width: 100%;
      max-width: 135px;
      height: 35px;
      font-size: 12px;
    }
    @include sm-block {
      display: none;
    }

    svg {
      fill: currentColor;
      margin-left: 15px;
    }
  }
}