.item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &:hover {
    z-index: 1;

    .item {

      &__img {
        img {
          transform: scale(1.05);
        }
      }

      &__title{
        color: $gold;
      }


      &__price {
        color: $gold;
      }
    }
  }

  &--hover {

    &:hover {
      .item {
        &__wrap {
          box-shadow: none;
          position: static;
        }

        &__img {
          img {
            transform: scale(1);
          }
        }
      }
    }

    .item {

      &__wrap {
        border: 1px solid #f2f2f2;
      }

      &__btn {
        display: flex;
        @include sm-block{
          display: none;
        }

        &:hover {
          background: $txt;
          color: $bg;
        }
      }
    }
  }

  &__wrap {
    background-color: $bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 0 65px 0 65px;
    overflow: hidden;
    text-align: center;

    @include xlg-block {
      padding: 0 40px 0 40px;
    }
    @include lg-block {
      padding: 0;
    }
  }

  &__img {
    width: 100%;
    max-width: 264px;
    margin-bottom: 4px;
    position: relative;
    @include xlg-block {
      max-width: 168px;
    }
    @include lg-block {
      max-width: 143px;
    }

    &:before {
      content: "";
      display: block;
      padding-top: calc(487 / 264 * 100%);
      width: 100%;
    }

    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    img {
      @include tr;
      max-height: 100%;
    }
  }

  &__title {
    //width: 100%;
    margin-bottom: 15px;
    @include xlg-block {
      font-size: 18px;
      margin-bottom: 7px;
    }
    @include lg-block {
      font-size: 14px;
      margin-bottom: 2px;
    }
  }

  &__price {
    @include xlg-block {
      font-size: 14px;
    }
    @include lg-block {
      font-size: 12px;
    }
  }

  &__txt {
    display: none;
    margin-bottom: 25px;
  }

  &__btn {
    display: none;
    width: 100%;
    height: 58px;
    align-items: center;
    justify-content: center;
    border: 1px solid $txt;
    flex-shrink: 0;
    color: $txt;
    margin-top: auto;
    @include tr;

    @include sm-block {
      display: none;
    }

    svg {
      fill: currentColor;
      margin-left: 15px;
      @include lg-block{
        width: 18px;
        height: 7px;
        margin-left: 8px;
      }
    }
  }
}