.certs-banner
    .certs-banner__left.bordered
        .certs-banner__content.content
            h2 Как воспользоваться сертификатом
            p Сертификат бутик-ателье LEONID GRIVKO создан, чтобы дарить подарки мужчинам было приятно, а выбрать и купить — легко
            p Чтобы воспользоваться сертификатом достаточно позвонить нам или придти к нам в бутик LEONID GRIVKO и записаться на снятие мерок, наши специалисты с радостью проконсультируют вас
            button(type='button').certs-banner__btn.btn.btn--gold-fill Использовать сертификат
    .certs-banner__right
        img(src="/images/content/certs-banner/img.jpg" alt="lorem")