.product-standart
    .product-standart__title Выбрать стандарт размера:
    .product-standart__list
        label.product-standart__item
            input(type="radio" name="standart" value="us" checked)
            span.product-standart__wrap
                span.product-standart__round
                span.product-standart__name us
        label.product-standart__item
            input(type="radio" name="standart" value="eu")
            span.product-standart__wrap
                span.product-standart__round
                span.product-standart__name eu
        label.product-standart__item
            input(type="radio" name="standart" value="ru")
            span.product-standart__wrap
                span.product-standart__round
                span.product-standart__name ru