.product
    .product__breadcrumbs
        include ../breadcrumbs/index
    .product__grid
        .product__left
            .product__photo
                include photo/index

        .product__right
            .product__top.product-top
                .product-top__left
                    h1.product__title.title КОСТЮМ-ТРОЙКА
                    .product__price
                        span $218.82
                        <svg width="9" height="26" viewBox="0 0 9 26" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.13004 25.718L8.72104 22.13C8.77482 22.0762 8.81747 22.0124 8.84657 21.9421C8.87568 21.8718 8.89066 21.7965 8.89066 21.7205C8.89066 21.6444 8.87568 21.5691 8.84657 21.4989C8.81747 21.4286 8.77482 21.3647 8.72104 21.311C8.66726 21.2572 8.60342 21.2145 8.53316 21.1854C8.4629 21.1563 8.38759 21.1413 8.31154 21.1413C8.23549 21.1413 8.16018 21.1563 8.08992 21.1854C8.01966 21.2145 7.95581 21.2572 7.90204 21.311L5.30204 23.911L5.30204 1.02597C5.30204 0.872279 5.24099 0.724881 5.13231 0.616203C5.02363 0.507526 4.87623 0.446472 4.72254 0.446472C4.56885 0.446472 4.42144 0.507526 4.31277 0.616203C4.20409 0.724881 4.14304 0.872279 4.14304 1.02597L4.14304 23.91L1.54304 21.31C1.43443 21.2014 1.28713 21.1404 1.13354 21.1404C0.979945 21.1404 0.832643 21.2014 0.724037 21.31C0.615431 21.4186 0.55442 21.5659 0.55442 21.7195C0.55442 21.8731 0.615431 22.0204 0.724037 22.129L4.31204 25.717C4.42046 25.8254 4.56748 25.8865 4.72083 25.8866C4.87419 25.8868 5.02135 25.8262 5.13004 25.718V25.718Z"/>
                        </svg>
                .product-top__right
                    include avaible/index

            .product__composition
                include composition/index
            .product__size
                include size/index
            .product__delivery
                include delivery/index
            .product__btns
                include btns/index

    .product__tabs
        include tabs/index
    .product__revs
        include revs/index