.product {
  padding-top: 20px;
  font-size: 20px;
  @include sm-block {
    font-size: 14px;
  }

  &__breadcrumbs {
    margin-bottom: 25px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 900fr 860fr;
    grid-gap: 60px;
    margin-bottom: 70px;
    @include xlg-block {
      grid-gap: 40px;
      grid-template-columns: 105fr 135fr;
    }
    @include lg-block  {
      grid-gap: 50px;
      grid-template-columns: 100%;
    }
    @include sm-block{
        grid-gap: 30px;
    }
  }

  &__top {
    margin-bottom: 27px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

    svg {
      margin-left: 15px;
    }
  }

  &__composition {
    margin-bottom: 25px;
    @include xlg-block {
      margin-bottom: 35px;
    }
  }

  &__size {
    margin-bottom: 35px;
  }

  &__delivery {
    margin-bottom: 35px;
  }

  &__tabs {
    margin-bottom: 95px;
    @include sm-block {
      margin-bottom: 35px;
    }
  }

}

.product-top {
  display: flex;
  justify-content: space-between;
  @include sm-block {
    flex-direction: column;
    gap: 10px;
  }

  &__left {
    @include sm-block {
      order: 1;
    }
  }
}

.convert {
  position: relative;
  display: inline-flex;

  &:hover {
    .convert__drop {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__drop {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #707070;
    padding: 12px 20px;
    background: $bg;
    pointer-events: none;
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    white-space: nowrap;
  }
}

@import "avaible/style";
@import "composition/style";
@import "photo/style";
@import "size/style";
@import "delivery/style";
@import "btns/style";
@import "tabs/style";
@import "revs/style";