extends ./../../../main

block variables
    - var title = 'Пошив на заказ'
    - var isWomen = true

block content
    main.page
        //- banner
        section.page__banner
            -
                var props = {
                    imgPath: "/images/content/women/tailoring/banner/",
                    sub: "ДОМ МОДЫ LEONID GRIVKO",
                    title: "Пошив женской <br> одежды на заказ",
                    big: "«Мы используем собственные <br> разработки для идеальной посадки <br> на любую фигуру, лучшие ткани <br> и вдохновляющих людей».",
                    dopCls: "banner--small",
                };
            include ../../../components/banner/index
        //- breadcrumbs
        section.page__breadcrumbs
            .container
                include ../../../components/breadcrumbs/index
        //- gallery
        section.page__gallery.mb80
            .container
                -
                    var props = {
                        title: "Работы LEONID GRIVKO",
                        link: 'Увидеть больше',
                        list: [
                            "/images/content/women/tailoring/gallery/1.jpg",
                            "/images/content/women/tailoring/gallery/2.jpg",
                            "/images/content/women/tailoring/gallery/3.jpg",
                            "/images/content/women/tailoring/gallery/4.jpg",
                            "/images/content/women/tailoring/gallery/5.jpg",
                            "/images/content/women/tailoring/gallery/6.jpg",
                            "/images/content/women/tailoring/gallery/7.jpg",
                            "/images/content/women/tailoring/gallery/8.jpg",
                        ]
                    };
                include ../../../components/gallery/index
        //- revs
        section.page__revs.mb120
            include ../../../components/revs/index
        //- tech
        section.page__tech.mb80
            .container
                include ../../../components/corsettech/index
        //- collections
        section.page__collections.mb120
            -
                var props = {
                    title: "каталог",
                    txt: "Модельный ряд доступный к пошиву",
                    list: [
                        {
                            img: "/images/content/women/tailoring/catalog/1.jpg",
                            title: "Пальто",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/2.jpg",
                            title: "Пиджаки",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/3.jpg",
                            title: "Сорочки",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/4.jpg",
                            title: "Жилеты",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/5.jpg",
                            title: "Костюмы",
                            price: "от 75 000 руб.",
                            href: "/women/tailoring/suit/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/6.jpg",
                            title: "Смокинги",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/7.jpg",
                            title: "Брюки",
                            price: "от 75 000 руб.",
                            href: "/women/tailoring/trousers/"
                        },
                        {
                            img: "/images/content/women/tailoring/catalog/8.jpg",
                            title: "Платья",
                            price: "от 75 000 руб.",
                            href: "/"
                        }
                    ],
                };
            include ../../../components/catalog/index
        //- cloths
        section.page__cloths.mb80
            .container
                include ../../../components/cloths/index
        //- principles
        section.page__principles.mb80
            .container
                include ../../../components/principles/index
        //- signup
        section.page__signup.mb120
            .container
                include ../../../components/signup/index
        //- gift
        section.page__gift.mb120
            .container
                -
                    var props = {
                      cls: 'gift--nowrap',
                      list: false
                    };

                include ../../../components/gift/index
        //- compilation
        section.page__compilation.mb120
            .container
                include ../../../components/compilation/index
        //- signup
        section.page__signup
            .container
                include ../../../components/signup/index
