.product-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-areas: 'check check' 'cons fit';
  @include xlg-block {
    grid-template-columns: 100%;
    grid-template-areas: 'check' 'cons' 'fit';
  }
  @include lg-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'check check' 'cons fit';
  }
  @include sm-block {
    grid-template-columns: 100%;
    grid-template-areas: 'check' 'cons' 'fit';
    font-size: 20px;
  }

  &__item {
    width: 100%;
  }

  &__checkout {
    grid-area: check;
    height: 84px;
  }

  &__consultation {
    grid-area: cons;
  }

  &__fitting {
    grid-area: fit;
  }
}