.avaible {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include sm-block {
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
  }

  &__status {
    margin-bottom: 10px;
    @include sm-block{
      margin: 0;
    }
  }

  &__count {
    color: $gold;
  }
}