.certs-desc.bordered
    .certs-desc__left
        .certs-desc__left-img
            img(src="/images/content/certs-desc/1.png" alt="lorem")
        .certs-desc__content.content.content--right
            h2.
                Лучший мужской<br>
                подарок - свобода выбора
            p Выбрать подарок для мужчины сложно, если вы мало знакомы, и его вкусовые предпочтения вам неизвестны. Сложно, если вы, зная его много лет, уже дарили все, что может ему понравиться или быть полезным.Легко и просто сделать удачный подарок, если вы обратились в LEONID GRIVKO. Один звонок, и сертификат может быть доставлен вам сегодня.
    .certs-desc__right
        .certs-desc__content.content
            h2.
                Наши подарочные сертификаты<br>
                 стильно и презентабельно выглядят
            p Этикет преподнесения подарков позволяет вручить этот оригинальный подарок на услуги бутик-ателье LEONID GRIVKO коллеге и руководителю, другу или родственнику. Бархатный футляр с золотым тиснением тактильно приятен. Открыв его, получатель подарка видит выгравированную на металле, лично адресованную, подпись дарителя. Латунная поверхность сертификата на основании из дерева аккуратно размещена на бархатной подушке.
        .certs-desc__right-img
            img(src="/images/content/certs-desc/2.png" alt="lorem")

