.page{
  flex-grow: 1;
  padding-bottom: 80px;
  @include xlg-block{
    padding-bottom: 50px;
  }
  @include sm-block{
    padding-bottom: 30px;
  }

  &__desc {
    margin-top: 25px;
    margin-bottom: 30px;
    @include sm-block{
      margin: 15px 0;
    }
  }

  &__collections{
    display: grid;
    grid-gap: 10px;
    @include sm-block{
        grid-gap: 30px;
    }
  }

  &__list {


    .container{

      @include sm-block{
        padding-right: 0;
        overflow-x: auto;
        max-width: 100%;
      }

    }
  }

  &__banner {
    margin-bottom: 25px;
    @include lg-block{
      margin-bottom: 20px;
    }

    &--mb0 {
      margin-bottom: 0;
    }
  }

  &__breadcrumbs {
    margin-bottom: 30px;
    @include lg-block{
      margin-bottom: 20px;
    }

    &--mb20 {
      margin-bottom: 20px;
    }
  }

  &__fabrics {
    margin-top: 60px;
  }
}

.page-desc {
  &__title {
    margin-bottom: 10px;
    @include lg-block{
      font-size: 20px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 25px;
    @include sm-block{
      margin-bottom: 15px;
    }
  }
}

.page-content {
  position: relative;
  z-index: 2;
  max-width: 1630px;
  width: 100%;
  background: $bg url("/images/content/bordered/bg.png") 0 0;
  padding: 60px;
  margin: -60px auto 0;
  @include xlg-block{
    margin: -35px auto 0;
  }
  @include lg-block{
    margin: -60px auto 0;
    padding: 35px;
  }
  @include sm-block{
    margin: 0;
    background: none;
    padding: 35px 0;
  }

  .content{
    @include lg-block{
        h2{
          font-size: 20px;
        }
        p{
          font-size: 20px;
        }
    }
    @include sm-block{
        p{
          font-size: 16px;
        }
    }
  }
}

.page-faqs {
  &__item {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 80px;
    padding: 60px;
    @include lg-block{
      padding: 35px 30px;
      margin-bottom: 30px;
    }
    @include sm-block{
      padding: 0;
      box-shadow: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-prices{
  padding: 80px 100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: $bg;
}