.product-size
    .product-size__item
        .product-size__title Выбрать размер:
        select(name='size').product-size__select
            each i in [38,39,40]
                option(value=i)= i
    .product-size__item
        .product-size__title Выбрать рост:
        select(name='height').product-size__select
            each i in ['168-175','168-175','168-175',]
                option(value=i)= i
