.corsettech
    .corsettech__left
        .corsettech__img
            +image("/images/content/corsetttech/img.jpg")
        h2.corsettech__title.title Уникальная корсетная технология
        .corsettech__txt Собственная разработка LEONID GRIVKO гарантирует посадку без складок и заломов на любой фигуре.
    .corsettech__right
        a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox).corsettech__video
            +image("/images/content/corsetttech/yt.jpg")
            span.corsettech__video-btn
                <svg width="80" height="80" viewBox="0 0 64 65" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.5781 25.2352L37.8692 30.3584C38.7608 30.9089 39.293 31.8627 39.293 32.9099C39.293 33.957 38.7608 34.9108 37.8692 35.4613L29.5781 40.5845C29.0977 40.8833 28.5684 41.0348 28.0078 41.0348C26.3486 41.0348 24.9981 39.6882 24.9981 38.0331V27.7907C24.9981 26.1325 26.3477 24.7834 28.0068 24.7834C28.5547 24.7834 29.0986 24.9396 29.5781 25.2352V25.2352ZM44.4551 61.8969C48.2656 60.2855 51.6875 57.9781 54.6279 55.0389C57.5674 52.0993 59.874 48.677 61.4853 44.8671C63.1543 40.9227 64 36.7319 64 32.4109C64 28.09 63.1543 23.8991 61.4853 19.9547C59.874 16.1449 57.5674 12.7226 54.6279 9.78293C51.6875 6.84372 48.2656 4.53636 44.4551 2.92493C40.5098 1.25625 36.3193 0.410156 31.999 0.410156C27.6787 0.410156 23.4883 1.25625 19.5439 2.92493C15.7334 4.53636 12.3115 6.84372 9.37109 9.78293C6.43164 12.7226 4.125 16.1449 2.51367 19.9547C0.844723 23.8991 -0.000976562 28.09 -0.000976562 32.4109C-0.000976562 36.7318 0.844723 40.9227 2.51367 44.8671C4.125 48.677 6.43164 52.0993 9.37109 55.0389C12.3115 57.9781 15.7334 60.2855 19.5439 61.8969C23.4883 63.5656 27.6787 64.4117 31.999 64.4117C36.3193 64.4117 40.5098 63.5656 44.4551 61.8969V61.8969Z"/>
                </svg>
            span.corsettech__video-txt
                | Посмотреть видео
                br
                | с производства

