.corsettech
    .corsettech__left
        .corsettech__img
            if img
                +image(img)
            else
                +image("/images/content/corsetttech/img.jpg")
        h2.corsettech__title.title Уникальная корсетная технология
        .corsettech__txt Собственная разработка LEONID GRIVKO гарантирует посадку без складок и заломов на любой фигуре.
    .corsettech__right
        include ../video/index

