.corsettech {
  background: url("/images/content/bordered/bg.png") 0 0;
  padding: 80px;
  display: grid;
  grid-template-columns: 754fr 787fr;
  grid-gap: 60px;

  @include xlg-block {
    padding: 60px;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
  }
  @include lg-block{
    padding: 30px;
  }
  @include sm-block{
    padding: 30px 10px;
    margin: 0 -10px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  &__img {
    margin-bottom: 70px;
    @include xlg-block{
      margin-bottom: 48px;
    }
    @include lg-block{
      margin-bottom: 35px;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &__title {
    width: 100%;
    height: 107px;
    background-color: $gold;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $bg;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 35px;

    @include xlg-block{
      font-size: 20px;
      height: 87px;
    }
    @include lg-block{
      font-size: 12px;
      height: 56px;
      margin-bottom: 25px;
    }

  }

  &__txt{
    font-size: 20px;
  }
}
