.fabrics-top
    //.fabrics-top__breadcrumbs.line
    //    include ../../../components/breadcrumbs/index
    //h2.fabrics-top__title.title Ткани
    .fabrics-top__content.content
        p Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль
    .fabrics-top__corsettech
        include ../../corsettech/index
    .fabrics-top__content.content
        p Пиджак – сложное швейное изделие, которое требует от портных высокой квалификации. Его отличают сложный крой и большой объем ручной работы.
        p На каждом этапе требуется знание секретов портновского мастерства: от разработки индивидуальных лекал до выметывания петель.
        p Если Вам нужен пиджак с безупречной посадкой, доверить пошив стоит опытным мастерам IMPERO. Они безупречно сошьют изделие любой сложности, которое идеально сядет по фигуре и будет соответствовать Вашему вкусу.
