.fabrics-top {

  &__breadcrumbs {
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
    @include sm-block{
      margin-bottom: 10px;
    }


    &:before {
      content: '';
      display: block;
      width: 64px;
      height: 8px;
      background-color: $gold;
      position: absolute;
      top: 0;
      left: 0;
      @include sm-block{
        height: 4px;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    @include lg-block{
      margin-bottom: 20px;
    }
  }

  &__corsettech{
    margin: 55px 0;
    @include lg-block{
      margin: 30px 0;
    }
    @include sm-block{
      margin: 15px 0;
    }
  }

  &__content{
    p{
      font-size: 22px;
      line-height: lh(22,26);
      @include lg-block{
        font-size: 18px;
      }
      @include sm-block{
        font-size: 16px;

      }
    }
  }
}