form.certs-subscrube.bordered
    .certs-subscrube__title.title Закажите сертификат на любую сумму
    .certs-subscrube__fields
        .certs-subscrube__field
            input(type='text' name='name' placeholder='Имя').input
        .certs-subscrube__field
            input(type='tel' name='tel' placeholder='Введите номер*').input
        .certs-subscrube__field
            .certs-subscrube__price
                input(type='text' name='price' placeholder='Введите сумму').input
        .certs-subscrube__field
            button(type='submit').certs-subscrube__submit.flash
                span Отправить заявку

