- var drop = i.drop;
.nav-drop
    if drop.cols
        .nav-drop__left
            .nav-drop__list
                include list/index
        .nav-drop__right
            .nav-drop__items
                each img in drop.cols.right
                    .nav-drop__item
                        img(src=img alt="lorem")
    else
        .nav-drop__links
            each i in drop.items
                a(href=i.href).nav-drop__link= i.name
