- var drop = i.drop;
.nav-drop
    if drop.cols
        .nav-drop__left
            .nav-drop__list
                include list/index
        .nav-drop__right
            - var index = 0;
            each col in drop.cols.left
                each item in col
                    div(data-id=index).nav-drop__items
                        - index++;
                        each img in drop.cols.right
                            .nav-drop__item
                                img(src=img alt="lorem")
    else
        .nav-drop__links
            each i in drop.items
                a(href=i.href).nav-drop__link= i.name
