h4= i
p Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль
table
        thead
            tr
                th № п/п
                th Технология производства
                th Классик
                th Премиум
                th Люкс
                th Категория пошива
        tbody
            tr
                td 01
                td Двойка
                td
                    b 75’000
                td
                    b 98’000
                td
                    b 123’000
                td
                    b А — 245’000
            tr
                td 02
                td Тройка
                td
                    b 93’000
                td
                    b 129’000
                td
                    b 165’000
                td
                    b B — 285’000
            tr
                td 03
                td Двойка двубортная
                td
                    b 77’000
                td
                    b 101’000
                td
                    b 127’000
                td
                    b C — 319’000
            tr
                td 04
                td Ткани Super 140’s
                td
                    b 5’000
                td
                    b Включено
                td
                    b Включено
                td
                    b D — 390’000
            tr
                td 05
                td Ткани Super 150’s и кашемир
                td
                    b +12’000
                td
                    b +12’000
                td
                    b Включено
                td
                    b E — 445’000