
<div class="product-size-desc">
  <div class="product-size-desc__left">
    <div class="product-size-desc__content">
      <p><b>Точное попадание в размер:</b></p>
      <p>Готовые изделия представлены в размерах 38-52 в трех размерных ростах, а также на заказ от 52 до 64.</p>
    </div>
  </div>
  <div class="product-size-desc__right">
    <div class="product-size-desc__content">
      <p><a href="/">Определить свой размер</a></p>
      <p>Возможна примерка в бутике или с доставкой на дом</p>
    </div>
  </div>
</div>