.footer {
  padding-bottom: 80px;
  @include lg-block {
    padding-bottom: 40px;
  }
  @include sm-block{
    padding-bottom: 25px;
  }

  &__top {
    border-top: 1px solid #E1E1E1;
    padding-top: 55px;
    margin-bottom: 55px;
    @include lg-block {
      padding-top: 35px;
      margin-bottom: 40px;
    }
    @include sm-block {
      display: none;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include lg-block {
      justify-content: center;
      gap: 10px 45px;
    }
    @include sm-block {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 10px;
      gap: 0;
    }
  }

  &__item {
    font-size: 22px;
    padding: 10px 0;
    @include tr;
    @include xlg-block {
      font-size: 20px;
    }
    @include sm-block {
      font-size: 16px;
      padding: 5px 0;
    }

    &:hover, &:focus, &:active {
      color: $link;
    }
  }

  &__bottom {
    @include sm-block {
      padding-top: 30px;
      border-top: 1px solid #E1E1E1;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    @include lg-block {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'logo contacts' 'policy policy';
      grid-gap: 40px;
    }
    @include sm-block {
      grid-template-columns: 100%;
      grid-template-areas: 'logo' 'contacts'  'policy';
      grid-gap: 40px;
      justify-items: flex-start;
    }
  }

  &__left {
    flex-shrink: 0;
    margin-right: 55px;
    @include lg-block {
      grid-area: logo;
      margin-right: 0;
    }
    @include sm-block {
      width: 100%;
    }
  }

  &__logo {
    width: 124px;
    display: block;
    @include sm-block {
      margin-bottom: 30px;
      width: 107px;
    }
  }

  &__acc {
    display: none;
    width: 100%;

    @include sm-block {
      display: block;
    }

    &-item {
      border-top: 1px solid #e6e6e6;

      &:last-child {
        border-bottom: 1px solid #e6e6e6;
      }

      &.active {
        .footer__acc-plus {
          transform: rotate(-45deg);
        }
      }
    }

    &-btn {
      padding: 6px 0;
      padding-right: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-name {
      font-size: 18px;
    }

    &-plus {
      font-size: 20px;
      @include tr;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 90px;
    gap: 15px;
    @include lg-block {
      grid-area: policy;
      margin-right: 0;
      justify-content: center;
    }
    @include sm-block{
        gap: 5px;
    }
  }

  &__copy {
    font-size: 20px;
    @include sm-block{
      font-size: 16px;
    }
  }

  &__right {
    margin-left: auto;
    @include lg-block {
      grid-area: contacts;
      margin-left: initial;
    }
  }

  &__policy {
    font-size: 20px;
    color: $gold;
    text-decoration: underline;
    @include sm-block{
      font-size: 16px;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    @include sm-block {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &__contact {
    font-size: 20px;
    display: flex;
    gap: 8px;
    @include tr;
    @include sm-block {
      font-size: 16px;
      gap: 15px;
    }

    &:hover {
      color: $link;
    }

    svg {
      flex-shrink: 0;
      fill: currentColor;
      height: 28px;
    }
  }
}