div(class=props.cls).gift
    .gift__grid
        .gift__left
            h2.gift__title.title
                | ЭКСКЛЮЗИВНЫЙ
                br
                | ПОДАРОК ДЛЯ мужчин
            .gift__txt Сделайте уникальный и статусный подарок успешному мужчине – сертификат на индивидуальный пошив костюма, сорочки или обуви в ателье IMPERO!
            button(type='button').flash.gift__btn
                span
                    |Приобрести подарочный
                    br
                    |сертификат
        .gift__right
            .gift__img
                img(src="/images/content/gift/img.jpg" alt="lorem")
    if props.list
        .gift__list
            -
                var list =[
                    "/images/content/gift/1.png",
                    "/images/content/gift/2.png",
                    "/images/content/gift/3.png",
                ];
            each i in list
                .gift__item
                    include item/index