div(class=props.cls).gift
    .gift__grid
        .gift__left
            h2.gift__title.title
                | ЭКСКЛЮЗИВНЫЙ
                br
                | ПОДАРОК
                br
                | ДЛЯ мужчин
            .gift__txt Сделайте уникальный и статусный подарок успешному мужчине – сертификат на индивидуальный пошив костюма, сорочки или обуви в ателье IMPERO!
            button(type='button').btn.gift__btn
                span
                    |Приобрести подарочный
                    br
                    |сертификат
                <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.271 3.758L21.683 0.170002C21.5744 0.0613958 21.4271 0.000381467 21.2735 0.00038147C21.1199 0.000381472 20.9726 0.0613958 20.864 0.170002C20.7554 0.278608 20.6944 0.42591 20.6944 0.579502C20.6944 0.733094 20.7554 0.880396 20.864 0.989002L23.464 3.589H0.578996C0.425304 3.589 0.277905 3.65006 0.169228 3.75873C0.0605507 3.86741 -0.00050354 4.01481 -0.00050354 4.1685C-0.00050354 4.32219 0.0605507 4.46959 0.169228 4.57827C0.277905 4.68695 0.425304 4.748 0.578996 4.748H23.463L20.863 7.348C20.7544 7.45661 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.0584 20.863 8.167C20.9716 8.27561 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.27561 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32053 25.4411 4.245 25.4412 4.16871C25.4413 4.09242 25.4263 4.01686 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z"/>
                </svg>
        .gift__right
            .gift__img
                img(src="/images/content/gift/img.jpg" alt="lorem")
    if props.list
        .gift__list
            -
                var list =[
                    "/images/content/gift/1.png",
                    "/images/content/gift/2.png",
                    "/images/content/gift/3.png",
                ];
            each i in list
                .gift__item
                    include item/index