.gift {
  background: url("/images/content/bordered/bg.png") 0 0;
  padding: 60px 60px 80px;
  margin-top: 160px;
  color: $bg;
  --content-width: 390px;

  @include xlg-block {
    padding: 0;
    background: none;
    margin: 0;
    --content-width: 320px;
  }
  @include lg-block{
    padding-top: 385px;
  }

  &--nowrap {
    background: none;
    padding: 0;
    margin-top: 0;
    @include xlg-block {
      padding: 0;
    }
    @include lg-block{
      padding-top: 385px;
    }
    @include sm-block{
      padding: 0;
    }

    .gift {
      &__grid {
        margin: 0;
        @include lg-block {
          margin: 0 auto;
        }
        @include sm-block{
          margin: 0 -15px;
          width: calc(100% + 30px);
          max-width: initial;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    margin-top: -140px;
    margin-bottom: 60px;
    position: relative;
    @include lg-block{
      width: 555px;
      max-width: 100%;
      margin: 0 auto;
    }
    @include sm-block{
      max-width: initial;
      margin: 0 -15px;
      width: calc(100% + 30px);
    }
  }

  &__left {
    background: $bg url("/images/content/bordered/bg.png") 0 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border: 65px solid $bg;
    padding: 75px 90px 145px 65px;
    @include xlg-block{
      border-width: 40px;
      padding: 40px;
    }
    @include lg-block{
      position: relative;
      z-index: 2;
    }
    @include sm-block{
      border-width: 0;
      padding: 40px 30px;
    }

    &:after {
      content: '';
      display: block;
      width: 346px;
      height: 313px;
      background: url("/images/content/gift/pic.png") 0 0 no-repeat;
      background-size: cover;

      position: absolute;
      bottom: -120px;
      left: -40px;
      @include xlg-block{
        width: 222px;
        height: 200px;
        left: -90px;
        bottom: -130px;
      }
      @include lg-block{
        left: -120px;
        bottom: -175px;
      }
      @include sm-block{
        display: none;
      }
    }
  }

  &__title {
    max-width: var(--content-width);
    color: $txt;
    margin-bottom: 25px;
    @include xlg-block{
      font-size: 24px;
      margin-bottom: 20px;
    }
    @include sm-block{
      max-width: 343px;
      width: 100%;
    }
  }

  &__txt {
    max-width: var(--content-width);
    color: $txt;
    font-size: 20px;
    margin-bottom: 35px;
    @include xlg-block{
      font-size: 18px;
      line-height: lh(18,22);
      margin-bottom: 30px;
    }
  }

  &__btn {
    background-color: $gold;
    border-color: $gold;
    padding: 17px 30px;
    width: auto;

    text-align: left;
    align-items: baseline;
    height: auto;
    font-size: 20px;
    @include xlg-block{
      padding: 12px 30px;
      font-size: 15px;
    }
  }

  &__right {
    width: 1084px;
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
    @include xlg-block{
      width: 658px;
      right: 40px;
    }
    @include lg-block{
      bottom: calc(100% - 130px);
      top: initial;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }
    @include sm-block{
      order: -1;
      position: static;
      width: 100%;
      transform: none;
    }
  }

  &__img {
    img {
      width: 100%;
      display: block;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include sm-block {
      grid-template-columns: 100%;
    }
  }

  &__item {
    @include sm-block{
      display: flex;
      justify-content: center;
    }
  }
}

@import "item/style";