.gallery
    h2.gallery__title.title= props.title
    .gallery__grid
        each i in props.list
            div(data-src=i data-fancybox="gallery" data-caption="My caption").gallery__item
                +image(i)