.gallery
    h2.gallery__title.title= props.title
    .gallery__slider
        .gallery__swiper.swiper-container
            .swiper-wrapper.gallery__grid
                each i in props.list
                    div(data-src=i data-fancybox="gallery" data-caption="My caption").gallery__item.swiper-slide
                        +image(i)
        .gallery__nav
            a(href="#").gallery__arr.gallery__prev
                <svg width="29" height="19" viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.171916 8.97408L8.97337 0.172617C9.20259 -0.0566031 9.5739 -0.0566031 9.80307 0.172617C10.0323 0.401847 10.0323 0.773157 9.80307 1.00233L2.00322 8.80218H27.5779C27.9022 8.80218 28.1647 9.06462 28.1647 9.38896C28.1647 9.71329 27.9022 9.97574 27.5779 9.97574H2.00322L9.80307 17.7755C10.0323 18.0048 10.0323 18.3761 9.80307 18.6052C9.68848 18.7198 9.53831 18.7771 9.38819 18.7771C9.23807 18.7771 9.08795 18.7198 8.97331 18.6052L0.171856 9.80379C-0.057314 9.57462 -0.057314 9.20331 0.171906 8.97409L0.171916 8.97408Z" fill="#202020"/>
                </svg>
            a(href="#").gallery__arr.gallery__next
                <svg width="29" height="19" viewBox="0 0 29 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.9927 9.80377L19.1913 18.6052C18.9621 18.8345 18.5907 18.8345 18.3616 18.6052C18.1324 18.376 18.1324 18.0047 18.3616 17.7755L26.1614 9.97567L0.586765 9.97567C0.262435 9.97567 -1.33514e-05 9.71323 -1.33514e-05 9.38889C-1.33514e-05 9.06456 0.262435 8.80211 0.586765 8.80211L26.1614 8.80211L18.3616 1.00231C18.1324 0.773082 18.1324 0.401771 18.3616 0.172611C18.4762 0.0580212 18.6263 0.000701904 18.7765 0.000701904C18.9266 0.000701904 19.0767 0.0580212 19.1913 0.172611L27.9928 8.97406C28.222 9.20323 28.222 9.57454 27.9927 9.80376L27.9927 9.80377Z" fill="#202020"/>
                </svg>
    if props.link
        a(href="#").gallery__link= props.link