.fitting
    .fitting__left
        .fitting__list
            each i in props.list
                a(href=i.href).fitting__item
                    span.fitting__img
                        +image(i.img)
                    span.fitting__desc
                        span.fitting__title.title= i.title
                        span.fitting__txt= i.txt
                        span.fitting__btn.btn
                            span Перейти

    .fitting__right
        .fitting__content.bordered
            form(action="/php/call.php" method="POST" data-action="validate" data-reset="true" data-success-form="formThanks").fitting__form.fitting-form.jsAction
                .fitting-form__title.title
                    | записаться
                    br
                    | в бутик на примерку
                .fitting-form__txt
                    | На ней мы узнаем о ваших предпочтениях
                    | и пожеланиях, снимем мерки
                    | и после этого приступим к исполнению.
                .fitting-form__fields
                    .fitting-form__field
                        input(type="text" name="name" placeholder="Имя" data-rule-required="true" data-msg-required="Заполните Имя").input
                    .fitting-form__field
                        input(type="tel" name="tel" placeholder="Телефон" data-rule-required="true" data-msg-required="Введите телефон" data-msg-tel="Введите ваш телефон").input
                    .fitting-form__field
                        button(type='submit').fitting-form__submit
                            span Отправить заявку

