.fitting {

  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
  @include xlg-block {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  &__list {
    display: grid;
    grid-gap: 10px;
  }

  &__item {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: calc(587 / 1168 * 100%);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 76.62%;
      height: 100%;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.5;
      @include tr;
    }

    &:hover, &:focus, &:active {
      &:after {
        opacity: 0.75;
      }

      .fitting {

        &__img {
          img {
            transform: scale(1.05);
          }
        }

        &__btn {
          background: $bg;
          color: $txt;
        }
      }


    }
  }

  &__img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }

  &__desc {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $bg;
  }

  &__title {
    color: $bg;
    margin-bottom: 20px;
  }

  &__txt {
    margin-bottom: 30px;
  }

  &__right {
    margin-left: -65px;
    @include xlg-block {
      margin: 0;
      display: none;
    }
  }

  &__content {
    padding: 70px 60px 240px;
    margin-bottom: 15px;
    position: relative;
    @include xlg-block {
      padding: 65px 170px 65px 50px;
    }

    &:before {
      font-size: 20px;
      content: 'Бесплатно';
      position: absolute;
      top: 65px;
      right: -65px;
      width: 65px;
      height: 209px;
      background-color: $gold;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $bg;
      font-weight: 700;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      @include xlg-block {
        right: 0;
        height: 100%;
        top: 0;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 392px;
      height: 174px;
      background: url("/images/content/women/fitting/img.png") 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -105px;
      right: -65px;
      @include xlg-block {
        width: 300px;
        height: 131px;
        top: 50px;
        right: 110px;
      }
    }
  }

}

.fitting-form {

  &__title {
    margin-bottom: 15px;
    @include xlg-block {
      max-width: 600px;
    }
  }

  &__txt {
    font-size: 20px;
    margin-bottom: 15px;
    @include xlg-block {
      max-width: 600px;
      margin-bottom: 20px;
    }
  }

  &__fields {
    display: grid;
    grid-gap: 10px;
    @include xlg-block {
      grid-template-columns: repeat(24,1fr);
      grid-gap: 20px;
    }
  }

  &__field{
    @include xlg-block{
        grid-column: span 12;
    }
    &:nth-child(3){
      @include xlg-block{
          grid-column: span 14;
      }
    }

    &:nth-child(4){
      @include xlg-block{
          grid-column: span 10;
      }
    }
  }

  &__submit {
    font-size: 20px;
    margin-top: 40px;
    @include xlg-block {
      margin: 0;
      height: 74px;
      width: 100%;
    }
  }


  .input{
    &--area{
      @include xlg-block{
        height: 74px;
      }
    }
  }

}