a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox).video
    +image("/images/content/corsetttech/yt.jpg")
    span.video__btn
        <svg width="80" height="80" viewBox="0 0 65 65">
        <path d="M26.86608,23.35401l14.0967,8.7066c0.29696,0.18333 0.47435,0.50112 0.47452,0.85009c0.00018,0.34941 -0.17721,0.66785 -0.47452,0.85181l-14.0967,8.7066c-0.15903,0.09833 -0.33985,0.1503 -0.5229,0.1503c-0.55284,0 -1.0026,-0.44936 -1.0026,-1.0017v-17.4132c0,-0.55207 0.44956,-1.00122 1.00214,-1.00124c0.18268,-0.00001 0.36366,0.05212 0.52336,0.15074zM44.79663,61.89561c3.81049,-1.61164 7.23264,-3.91885 10.17139,-6.85755c2.93873,-2.93868 5.24598,-6.36074 6.85764,-10.17112c1.66858,-3.94494 2.51462,-8.13551 2.51462,-12.45533c0,-4.32003 -0.84604,-8.51078 -2.51462,-12.45585c-1.61164,-3.81048 -3.91889,-7.23263 -6.85764,-10.17139c-2.93876,-2.93875 -6.36091,-5.246 -10.17139,-6.85764c-3.94507,-1.66858 -8.13582,-2.51462 -12.45585,-2.51462c-4.31983,0 -8.51045,0.84604 -12.45547,2.51462c-3.81046,1.61165 -7.23262,3.91889 -10.17143,6.85764c-2.93882,2.93876 -5.24614,6.36091 -6.85786,10.17139c-1.66866,3.94509 -2.51474,8.13584 -2.51474,12.45585c0,4.3198 0.84608,8.51037 2.51474,12.45533c1.61173,3.81037 3.91905,7.23243 6.85786,10.17112c2.9388,2.93869 6.36097,5.2459 10.17143,6.85755c3.94505,1.66857 8.13568,2.5146 12.45547,2.5146c4.32,0 8.51076,-0.84603 12.45585,-2.5146z" fill="#ffffff" fill-opacity="1"></path>
        </svg>
    span.video__txt
        | Посмотреть видео
        br
        | с производства