.video{
  width: 100%;
  display: block;

  position: relative;
  color: $bg;
  overflow: hidden;

  &:after{
    content: '';
    display: block;
    padding-top: calc(640/787*100%);
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58.125%;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.32;
  }

  &:hover{

    &:before{
      height: 90%;
      opacity: .75;
    }

    img{
      transform: scale(1.05);
    }

    .video__btn{
      color: $gold;
    }
  }

  img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tr;
  }

  &__btn{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $bg;

    svg{
      @include xlg-block{
        width: 50px;
        height: 50px;
      }
      @include lg-block{
        width: 35px;
        height: 35px;
      }
      @include sm-block{
        width: 50px;
        height: 50px;
      }

      path{
        fill: currentColor;
        @include tr;

      }

    }
  }

  &__txt{
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 60px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    @include xlg-block{
      font-size: 15px;
      bottom: 30px;
    }
    @include lg-block{
      font-size: 9px;
      bottom: 20px;
      left: 40px;
    }
    @include sm-block{
      font-size: 14px;
      left: 25px;
      bottom: 25px;
    }
  }
}