extends ./../../../main

block variables
    - var title = 'О нас'
    - var isWomen = true

block content
    main.page
        //- banner
        section.page__banner
            -
                var props = {
                    imgPath: "/images/content/women/about2/",
                    sub: "ДОМ МОДЫ LEONID GRIVKO",
                    title: "О нас",
                    big: "«Мы используем собственные <br> разработки для идеальной посадки <br> на любую фигуру, лучшие ткани <br> и вдохновляющих людей».",
                    btn: "История создания"
                };
            include ../../../components/banner/index
        //- breadcrumbs
        section.page__breadcrumbs
            .container
                include ../../../components/breadcrumbs/index
        //- team
        section.page__team.mb80
            .container
                - var name = "Наша команда";
                -
                    var list = [
                        {
                            img:"/images/content/team/1.jpg",
                            name:"Леонид гривко",
                            prof: "Основатель бренда"
                        },
                        {
                            img:"/images/content/team/2.jpg",
                            name:"Татьяна Аверкова",
                            prof: "Дизайнер"
                        },
                        {
                            img:"/images/content/team/3.jpg",
                            name:"Денис Авраамов",
                            prof: "Дизайнер"
                        },
                        {
                            img:"/images/content/team/4.jpg",
                            name:"Максим Авраменко",
                            prof: "Дизайнер"
                        },
                        {
                            img:"/images/content/team/5.jpg",
                            name:"Сабина Агаева",
                            prof: "закройщик"
                        },
                        {
                            img:"/images/content/team/6.jpg",
                            name:"Наталья Агафонова",
                            prof: "закройщик"
                        },
                        {
                            img:"/images/content/team/7.jpg",
                            name:"Анастасия Агеева",
                            prof: "закройщик"
                        },
                        {
                            img:"/images/content/team/8.jpg",
                            name:"Иракли Агладзе",
                            prof: "закройщик"
                        },
                    ];
                include ../../../components/team/index
        //- subscribe
        section.page__subscribe
            .container
                -
                    var props = {
                        title: "Хотите в нашу команду?",
                        fields: {
                            name: true,
                            tel: true,
                            msg: true,
                            resume: true
                        },
                        btnName: "Отправить",
                        img: "/images/content/index/subscribe/img"
                    };
                include ../../../components/subscribe/index
