extends ../../../../main

block variables
    - var title = 'Наши работы '

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Наши работы
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
                    .page-desc__content.content
                        p Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль
        //- portfolio
        section.page__portfolio.mb80
            .container
                -
                    var list = [
                        "/images/content/potrfolio/women/1.jpg",
                        "/images/content/potrfolio/women/2.jpg",
                        "/images/content/potrfolio/women/3.jpg",
                        "/images/content/potrfolio/women/4.jpg",
                        "/images/content/potrfolio/women/5.jpg",
                        "/images/content/potrfolio/women/6.jpg",
                        "/images/content/potrfolio/women/7.jpg",
                        "/images/content/potrfolio/women/8.jpg",
                        "/images/content/potrfolio/women/9.jpg",
                        "/images/content/potrfolio/women/10.jpg",
                        "/images/content/potrfolio/women/11.jpg",
                        "/images/content/potrfolio/women/12.jpg",
                        "/images/content/potrfolio/women/13.jpg",
                        "/images/content/potrfolio/women/3.jpg",
                        "/images/content/potrfolio/women/4.jpg",
                        "/images/content/potrfolio/women/5.jpg",
                        "/images/content/potrfolio/women/14.jpg",
                        "/images/content/potrfolio/women/15.jpg",
                    ];
                include ../../../../components/portfolio/index
        //- subscribe
        section.page__subscribe
            .container
                -
                    var props = {
                        title: "Хотите Оставить обратную связь?",
                        fields: {
                            name: true,
                            tel: true,
                            msg: true,
                            resume: true
                        },
                        btnName: "Отправить",
                        img: "/images/content/index/about/img.jpg"
                    };
                include ../../../../components/subscribe/index
