.bordered{
  background: $bg url("/images/content/bordered/bg.png") 0 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: 65px solid $bg;
  padding: 70px 65px 110px 65px;
  position: relative;

  h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  p {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    b {
      font-weight: 500;
    }
  }
}