.catalog{
  background-color: #f2f2f2;
  padding-top: 65px;
  padding-bottom: 40px;

  &--small-title{
    .item__title{
      font-size: 24px;
    }
    .item__wrap{
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__filters{
    margin-bottom: 40px;
  }

  &__top{
    display: flex;
    align-items: baseline;
    gap: 30px;
    margin-bottom: 65px;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(4,calc(25% - 7.5px));
    grid-gap: 10px;
    margin-bottom: 70px;
  }

  &__item{

  }

  &__bottom{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  &__link{
    max-width: 876px;
    width: 100%;
  }
}

.catalog-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__arr{
    padding: 10px 0;

    svg{
      fill: $txt;
    }

    &:hover{
      svg{
        fill: $gold;
      }
    }
  }

  &__item{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 500;

    &:hover{
      color: $gold;
    }

    &--active{
      background-color: $gold;
      color: $bg;
      &:hover{
        color: $bg;
      }
    }

  }
}