.catalog{
  background-color: #f2f2f2;
  padding-top: 65px;
  padding-bottom: 40px;

  &--small-title{
    .item__title{
      font-size: 24px;
    }
  }

  &__top{
    display: flex;
    align-items: baseline;
    gap: 30px;
    margin-bottom: 65px;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(4,calc(25% - 7.5px));
    grid-gap: 10px;
  }

  &__item{

  }

  &__bottom{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  &__link{
    max-width: 876px;
    width: 100%;
  }
}