.fancybox-webcomp {
  padding: 65px;
  overflow: visible;
  @include xlg-block{
    padding: 40px;
  }

  .fancybox {
    &-close-small {
      width: auto;
      height: auto;

      svg {
        width: 50px;
        height: 50px;
        @include xlg-block{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
