.suit
    - var bottom = (props.bottomNo) ? false:true;
    h2.suit__title.title Ваш идеальный костюм
    .suit__grid
        .suit__left
            .suit__img
                img(src=props.img alt="lorem")
        .suit__right
            .suit__acc
                -
                    var props = {
                        list: [
                            {
                                a: "Пиджак",
                                q: "<p>Пиджак – сложное швейное изделие, которое требует от портных высокой квалификации. Его отличают сложный крой и большой объем ручной работы.</p>" +
                                        "<p>На каждом этапе требуется знание секретов портновского мастерства: от разработки индивидуальных лекал до выметывания петель.</p>" +
                                        "<p>Если Вам нужен пиджак с безупречной посадкой, доверить пошив стоит опытным мастерам IMPERO. Они безупречно сошьют изделие любой сложности, которое идеально сядет по фигуре и будет соответствовать Вашему вкусу.</p>"
                            },
                            {
                                a: "Сорочка",
                                q: "<p>Пиджак – сложное швейное изделие, которое требует от портных высокой квалификации. Его отличают сложный крой и большой объем ручной работы.</p>" +
                                        "<p>На каждом этапе требуется знание секретов портновского мастерства: от разработки индивидуальных лекал до выметывания петель.</p>" +
                                        "<p>Если Вам нужен пиджак с безупречной посадкой, доверить пошив стоит опытным мастерам IMPERO. Они безупречно сошьют изделие любой сложности, которое идеально сядет по фигуре и будет соответствовать Вашему вкусу.</p>"
                            },
                            {
                                a: "Брюки",
                                q: "<p>Пиджак – сложное швейное изделие, которое требует от портных высокой квалификации. Его отличают сложный крой и большой объем ручной работы.</p>" +
                                        "<p>На каждом этапе требуется знание секретов портновского мастерства: от разработки индивидуальных лекал до выметывания петель.</p>" +
                                        "<p>Если Вам нужен пиджак с безупречной посадкой, доверить пошив стоит опытным мастерам IMPERO. Они безупречно сошьют изделие любой сложности, которое идеально сядет по фигуре и будет соответствовать Вашему вкусу.</p>"
                            },
                            {
                                a: "Обувь",
                                q: "<p>Пиджак – сложное швейное изделие, которое требует от портных высокой квалификации. Его отличают сложный крой и большой объем ручной работы.</p>" +
                                        "<p>На каждом этапе требуется знание секретов портновского мастерства: от разработки индивидуальных лекал до выметывания петель.</p>" +
                                        "<p>Если Вам нужен пиджак с безупречной посадкой, доверить пошив стоит опытным мастерам IMPERO. Они безупречно сошьют изделие любой сложности, которое идеально сядет по фигуре и будет соответствовать Вашему вкусу.</p>"
                            }
                        ]
                    };
                include ../../components/faq/index


    if bottom
        .suit__bottom.bordered
            .suit__content
                h2.title Собственный стиль
                p Каждый клиент может стать дизайнером своего костюма, а эксперт по мужскому стилю поможет Вам в этом: он подскажет идеально подходящие Вам крой и цвет костюма, аксессуары и обувь, учитывая особенности фигуры и нормы дресс-кода.
                p Именно так рождается актуальный, продуманный до мелочей, мужской гардероб, который отражает индивидуальность своего обладателя.
                p Станьте дизайнером своего костюма.
                p Конструируйте Ваш будущий костюм согласно своему вкусу.
                p Пуговицы из натуральных материалов, цвет подклада, личные инициалы, формы лацканов и карманов – IMPERO предлагает сотни вариантов подчеркнуть Вашу индивидуальность. Это крайне увлекательный процесс, который поможет достичь идеального результата и создать поистине уникальный костюм!
            .suit__desc
                h3 Станьте дизайнером своего костюма
                p Конструируйте ваш будущий костюм из деталей согласно вашему вкусу.
                p Пуговицы из натуральных материалов, цвет подклада, личные инициалы, формы лацканов и карманов – IMPERO предлагает сотни вариантов подчеркнуть вашу индивидуальность.
