.langs
    button(type='button').langs__btn
        span ru
        <svg xmlns="http://www.w3.org/2000/svg" width="8.335" height="25.441" viewBox="0 0 8.335 25.441">
        <g id="right_1_" data-name="right (1)" transform="translate(55.668 18) rotate(90)">
        <g id="Сгруппировать_24" data-name="Сгруппировать 24" transform="translate(-2 47.333)">
        <path id="Контур_154" data-name="Контур 154" d="M45.271,99.091,41.683,95.5a.579.579,0,0,0-.819.819l2.6,2.6H20.579a.579.579,0,0,0,0,1.159H43.463l-2.6,2.6a.579.579,0,1,0,.819.819l3.588-3.588A.579.579,0,0,0,45.271,99.091Z" transform="translate(-36 -95.333)" />
        </g>
        </g>
        </svg>


    .langs__drop
        a(href="#").langs__lang en
        a(href="#").langs__lang ru


