form(name="filters" action="/php/filters.php" method="POST").filters.jsFilters
    .filters__btn Фильтр:
    .filters__drop
        .filters__list
            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__name Размер
                            .filter-view__vals.jsFilter__view

                            .filter-view__arr
                                <svg width="9.162" height="5.658" viewBox="0 0 9.162 5.658">
                                <path d="M17.658,10.077,16.581,9,12,13.581l4.581,4.581,1.077-1.077-3.5-3.5Z" transform="translate(-9 17.658) rotate(-90)"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-sizes
                                    -
                                        var list = [
                                            {
                                                val: "38",
                                            },
                                            {
                                                val: "39",
                                            },
                                            {
                                                val: "40",
                                            },
                                            {
                                                val: "41",
                                            },
                                            {
                                                val: "42",
                                            },
                                            {
                                                val: "43",
                                            },
                                            {
                                                val: "44",
                                            },
                                            {
                                                val: "45",
                                            },
                                            {
                                                val: "46",
                                            },
                                            {
                                                val: "47",
                                            },
                                            {
                                                val: "48",
                                                checked: true
                                            },
                                            {
                                                val: "49",
                                                checked: true
                                            },
                                            {
                                                val: "50",
                                                checked: true
                                            },
                                            {
                                                val: "51",
                                            },
                                            {
                                                val: "52",
                                            }
                                        ];

                                    each i,x in list
                                        .filter-sizes__item
                                            label.filter-size
                                                input(type="checkbox" name="size[" + x + "]" value=i.val checked=(i.checked) ? true : false).jsFilter__val
                                                span.filter-size__num= i.val
                    template.filter__template.filter-template
                        .filter-template__parent.filter-sizes.filter-sizes--view
                        .filter-template__item.filter-sizes__item
                            .filter-size.filter-size--view
                                .filter-size__num {{val}}
            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__name Цвет
                            .filter-view__vals.jsFilter__view

                            .filter-view__arr
                                <svg width="9.162" height="5.658" viewBox="0 0 9.162 5.658">
                                <path d="M17.658,10.077,16.581,9,12,13.581l4.581,4.581,1.077-1.077-3.5-3.5Z" transform="translate(-9 17.658) rotate(-90)"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-colors
                                    button(type='button').filter-colors__btn.jsFilter__all Все
                                    .filter-colors__list.jsFilter__vals
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[0]" value="#354F91" checked).jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#354F91;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[1]" value="#FF923E" checked).jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#FF923E;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[2]" value="#FFC63E" checked).jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#FFC63E;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[3]" value="#C20727" checked).jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#C20727;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[4]" value="#000000").jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#000000;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[5]" value="#EFEFEF").jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#EFEFEF;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[6]" value="#04530E").jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#04530E;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[7]" value="#07EEFF").jsFilter__val
                                                span.filter-color__wrap
                                                    span(style="background-color:#07EEFF;").filter-color__round
                    template.filter__template.filter-template
                        .filter-template__parent.filter-colors__list.filter-colors__list--view
                        .filter-template__item.filter-colors__item
                            .filter-color.filter-color--view
                                .filter-color__wrap
                                    span(style="background-color:{{val}};").filter-color__round

            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__vals.filter-view__vals--visible.jsFilter__view

                            .filter-view__arr
                                <svg width="9.162" height="5.658" viewBox="0 0 9.162 5.658">
                                <path d="M17.658,10.077,16.581,9,12,13.581l4.581,4.581,1.077-1.077-3.5-3.5Z" transform="translate(-9 17.658) rotate(-90)"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-select.jsFilter__vals
                                    label.filter-select__option
                                        input(type="radio" name="price" value="Цена по возрастанию" checked).jsFilter__val
                                        span Цена по возрастанию
                                    label.filter-select__option
                                        input(type="radio" name="price" value="Цена по убыванию").jsFilter__val
                                        span Цена по убыванию
                    template.filter__template.filter-template
                        .filter-template__parent.filter-select
                        .filter-template__item.filter-select__option {{val}}
        .filters__bottom
            button(type='submit').filters__submit.btn.btn--black
                span Показать 38






















