form(name="filters" action="/" method="POST").filters.jsFilters
    button(type='button').filters__btn
        span Фильтр
        <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.641 3.325C17.646 3.309 17.636 3.293 17.636 3.277V0.528C17.638 0.460461 17.6266 0.393192 17.6026 0.330058C17.5785 0.266924 17.5422 0.209168 17.4957 0.160106C17.4493 0.111045 17.3936 0.0716447 17.3318 0.0441689C17.2701 0.0166931 17.2036 0.00168276 17.136 0L0.514004 0C0.447038 0.000129745 0.380761 0.0134982 0.318981 0.0393363C0.257201 0.0651744 0.201139 0.102972 0.15402 0.150556C0.106901 0.198139 0.0696565 0.254569 0.0444259 0.316599C0.0191953 0.37863 0.00647629 0.445037 0.0070037 0.512V3.278C0.0070037 3.294 -0.00399546 3.31 0.00200454 3.326C0.00800454 3.342 -0.00299546 3.342 0.00200454 3.347V3.373C0.00120075 3.38196 0.00293249 3.39097 0.0070037 3.399C0.0105634 3.40541 0.0122942 3.41267 0.0120048 3.42C0.0141715 3.42856 0.0158401 3.43724 0.0170039 3.446C0.0170039 3.451 0.022005 3.462 0.022005 3.467C0.022005 3.472 0.0270047 3.483 0.0330047 3.493C0.0390047 3.503 0.0380044 3.509 0.0440044 3.514C0.0500044 3.519 0.049004 3.53 0.055004 3.535C0.0607084 3.54073 0.0645433 3.54805 0.0660037 3.556C0.0660037 3.561 0.0770053 3.572 0.0770053 3.577C0.0770053 3.582 0.0880041 3.593 0.0930041 3.598C0.0980041 3.603 0.104004 3.609 0.104004 3.614C0.109743 3.61385 0.11537 3.61561 0.120005 3.619L6.44801 11.061V20.055C6.44527 20.1537 6.4712 20.2511 6.52267 20.3354C6.57413 20.4197 6.64893 20.4873 6.73801 20.53C6.80725 20.5637 6.88302 20.5818 6.96 20.583C7.07912 20.5832 7.19466 20.5423 7.28701 20.467L11.013 17.443C11.0732 17.393 11.1212 17.3299 11.1533 17.2585C11.1853 17.187 11.2006 17.1092 11.198 17.031V11.063L17.521 3.621C17.5252 3.62084 17.5291 3.61904 17.532 3.616L17.548 3.6C17.553 3.595 17.559 3.584 17.564 3.579C17.569 3.574 17.575 3.563 17.58 3.558C17.587 3.544 17.594 3.53 17.601 3.516C17.606 3.511 17.606 3.5 17.612 3.495C17.618 3.49 17.617 3.479 17.623 3.469C17.6271 3.46279 17.6288 3.45537 17.628 3.448C17.6321 3.43997 17.6338 3.43096 17.633 3.422C17.633 3.411 17.638 3.406 17.638 3.401C17.6402 3.39244 17.6418 3.38376 17.643 3.375C17.6442 3.36624 17.6458 3.35756 17.648 3.349C17.646 3.341 17.636 3.33 17.641 3.325ZM10.278 10.525C10.1942 10.6201 10.1458 10.7413 10.141 10.868V16.779L7.50201 18.948V10.867C7.49724 10.7403 7.44884 10.6191 7.36501 10.524L1.654 3.8H15.989L10.278 10.525ZM16.578 2.745H1.06301V1.056H16.58L16.578 2.745Z" fill="#202020"/>
        </svg>
    .filters__drop
        .filters__list
            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__vals.jsFilter__view

                            .filter-view__arr
                                <svg width="9" height="26" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.13 25.718L8.72101 22.13C8.77478 22.0763 8.81744 22.0124 8.84654 21.9422C8.87565 21.8719 8.89062 21.7966 8.89062 21.7205C8.89062 21.6445 8.87565 21.5692 8.84654 21.4989C8.81744 21.4287 8.77478 21.3648 8.72101 21.311C8.66723 21.2573 8.60339 21.2146 8.53313 21.1855C8.46286 21.1564 8.38756 21.1414 8.31151 21.1414C8.23546 21.1414 8.16015 21.1564 8.08989 21.1855C8.01963 21.2146 7.95578 21.2573 7.90201 21.311L5.30201 23.911L5.30201 1.02603C5.30201 0.87234 5.24096 0.724942 5.13228 0.616264C5.0236 0.507587 4.8762 0.446533 4.72251 0.446533C4.56882 0.446533 4.42141 0.507587 4.31274 0.616264C4.20406 0.724942 4.14301 0.87234 4.14301 1.02603L4.14301 23.91L1.54301 21.31C1.4344 21.2014 1.2871 21.1404 1.13351 21.1404C0.979914 21.1404 0.832613 21.2014 0.724007 21.31C0.615401 21.4186 0.55439 21.5659 0.55439 21.7195C0.55439 21.8731 0.615401 22.0204 0.724007 22.129L4.31201 25.717C4.42043 25.8255 4.56745 25.8865 4.7208 25.8867C4.87416 25.8869 5.02132 25.8262 5.13 25.718V25.718Z" fill="#202020"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-select.jsFilter__vals
                                    label.filter-select__option
                                        input(type="radio" name="section" value="Все").jsFilter__val
                                        span Все
                                    label.filter-select__option
                                        input(type="radio" name="section" value="С брюками").jsFilter__val
                                        span С брюками
                                    label.filter-select__option
                                        input(type="radio" name="section" value="С юбкой").jsFilter__val
                                        span С юбкой
                                    label.filter-select__option
                                        input(type="radio" name="section" value="Костюмы с брюками" checked).jsFilter__val
                                        span Костюмы с брюками
                    template.filter__template.filter-template
                        .filter-template__parent.filter-select
                        .filter-template__item.filter-select__option {{val}}
            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__name Цвет
                            .filter-view__vals.jsFilter__view

                            .filter-view__arr
                                <svg width="9" height="26" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.13 25.718L8.72101 22.13C8.77478 22.0763 8.81744 22.0124 8.84654 21.9422C8.87565 21.8719 8.89062 21.7966 8.89062 21.7205C8.89062 21.6445 8.87565 21.5692 8.84654 21.4989C8.81744 21.4287 8.77478 21.3648 8.72101 21.311C8.66723 21.2573 8.60339 21.2146 8.53313 21.1855C8.46286 21.1564 8.38756 21.1414 8.31151 21.1414C8.23546 21.1414 8.16015 21.1564 8.08989 21.1855C8.01963 21.2146 7.95578 21.2573 7.90201 21.311L5.30201 23.911L5.30201 1.02603C5.30201 0.87234 5.24096 0.724942 5.13228 0.616264C5.0236 0.507587 4.8762 0.446533 4.72251 0.446533C4.56882 0.446533 4.42141 0.507587 4.31274 0.616264C4.20406 0.724942 4.14301 0.87234 4.14301 1.02603L4.14301 23.91L1.54301 21.31C1.4344 21.2014 1.2871 21.1404 1.13351 21.1404C0.979914 21.1404 0.832613 21.2014 0.724007 21.31C0.615401 21.4186 0.55439 21.5659 0.55439 21.7195C0.55439 21.8731 0.615401 22.0204 0.724007 22.129L4.31201 25.717C4.42043 25.8255 4.56745 25.8865 4.7208 25.8867C4.87416 25.8869 5.02132 25.8262 5.13 25.718V25.718Z" fill="#202020"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-colors
                                    button(type='button').filter-colors__btn.jsFilter__all Все
                                    .filter-colors__list.jsFilter__vals
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[0]" value="#354F91" checked).jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#354F91;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[1]" value="#FF923E" checked).jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#FF923E;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[2]" value="#FFC63E" checked).jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#FFC63E;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[3]" value="#C20727" checked).jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#C20727;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[4]" value="#000000").jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#000000;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[5]" value="#EFEFEF").jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#EFEFEF;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[6]" value="#04530E").jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#04530E;").filter-color__round
                                        .filter-colors__item
                                            label.filter-color
                                                input(type="checkbox" name="colors[7]" value="#07EEFF").jsFilter__val
                                                .filter-color__wrap
                                                    span(style="background-color:#07EEFF;").filter-color__round
                    template.filter__template.filter-template
                        .filter-template__parent.filter-colors__list.filter-colors__list--view
                        .filter-template__item.filter-colors__item
                            .filter-color.filter-color--view
                                .filter-color__wrap
                                    span(style="background-color:{{val}};").filter-color__round

            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__name Размер
                            .filter-view__vals.jsFilter__view

                            .filter-view__arr
                                <svg width="9" height="26" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.13 25.718L8.72101 22.13C8.77478 22.0763 8.81744 22.0124 8.84654 21.9422C8.87565 21.8719 8.89062 21.7966 8.89062 21.7205C8.89062 21.6445 8.87565 21.5692 8.84654 21.4989C8.81744 21.4287 8.77478 21.3648 8.72101 21.311C8.66723 21.2573 8.60339 21.2146 8.53313 21.1855C8.46286 21.1564 8.38756 21.1414 8.31151 21.1414C8.23546 21.1414 8.16015 21.1564 8.08989 21.1855C8.01963 21.2146 7.95578 21.2573 7.90201 21.311L5.30201 23.911L5.30201 1.02603C5.30201 0.87234 5.24096 0.724942 5.13228 0.616264C5.0236 0.507587 4.8762 0.446533 4.72251 0.446533C4.56882 0.446533 4.42141 0.507587 4.31274 0.616264C4.20406 0.724942 4.14301 0.87234 4.14301 1.02603L4.14301 23.91L1.54301 21.31C1.4344 21.2014 1.2871 21.1404 1.13351 21.1404C0.979914 21.1404 0.832613 21.2014 0.724007 21.31C0.615401 21.4186 0.55439 21.5659 0.55439 21.7195C0.55439 21.8731 0.615401 22.0204 0.724007 22.129L4.31201 25.717C4.42043 25.8255 4.56745 25.8865 4.7208 25.8867C4.87416 25.8869 5.02132 25.8262 5.13 25.718V25.718Z" fill="#202020"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-sizes
                                    -
                                        var list = [
                                            {
                                                val: "38",
                                            },
                                            {
                                                val: "39",
                                            },
                                            {
                                                val: "40",
                                            },
                                            {
                                                val: "41",
                                            },
                                            {
                                                val: "42",
                                            },
                                            {
                                                val: "43",
                                            },
                                            {
                                                val: "44",
                                            },
                                            {
                                                val: "45",
                                            },
                                            {
                                                val: "46",
                                            },
                                            {
                                                val: "47",
                                            },
                                            {
                                                val: "48",
                                                checked: true
                                            },
                                            {
                                                val: "49",
                                                checked: true
                                            },
                                            {
                                                val: "50",
                                                checked: true
                                            },
                                            {
                                                val: "51",
                                            },
                                            {
                                                val: "52",
                                            }
                                        ];

                                    each i,x in list
                                        .filter-sizes__item
                                            label.filter-size
                                                input(type="checkbox" name="size["+x+"]" value=i.val checked=(i.checked)?true:false).jsFilter__val
                                                span.filter-size__num= i.val
                    template.filter__template.filter-template
                        .filter-template__parent.filter-sizes.filter-sizes--view
                        .filter-template__item.filter-sizes__item
                            .filter-size.filter-size--view
                                .filter-size__num {{val}}
            .filters__item
                .filter.jsFilter
                    .filter__btn
                        .filter-view
                            .filter-view__name Цена
                            .filter-view__vals.jsFilter__view

                            .filter-view__arr
                                <svg width="9" height="26" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.13 25.718L8.72101 22.13C8.77478 22.0763 8.81744 22.0124 8.84654 21.9422C8.87565 21.8719 8.89062 21.7966 8.89062 21.7205C8.89062 21.6445 8.87565 21.5692 8.84654 21.4989C8.81744 21.4287 8.77478 21.3648 8.72101 21.311C8.66723 21.2573 8.60339 21.2146 8.53313 21.1855C8.46286 21.1564 8.38756 21.1414 8.31151 21.1414C8.23546 21.1414 8.16015 21.1564 8.08989 21.1855C8.01963 21.2146 7.95578 21.2573 7.90201 21.311L5.30201 23.911L5.30201 1.02603C5.30201 0.87234 5.24096 0.724942 5.13228 0.616264C5.0236 0.507587 4.8762 0.446533 4.72251 0.446533C4.56882 0.446533 4.42141 0.507587 4.31274 0.616264C4.20406 0.724942 4.14301 0.87234 4.14301 1.02603L4.14301 23.91L1.54301 21.31C1.4344 21.2014 1.2871 21.1404 1.13351 21.1404C0.979914 21.1404 0.832613 21.2014 0.724007 21.31C0.615401 21.4186 0.55439 21.5659 0.55439 21.7195C0.55439 21.8731 0.615401 22.0204 0.724007 22.129L4.31201 25.717C4.42043 25.8255 4.56745 25.8865 4.7208 25.8867C4.87416 25.8869 5.02132 25.8262 5.13 25.718V25.718Z" fill="#202020"/>
                                </svg>
                    .filter__drop
                        .filter-drop
                            .filter-drop__vals
                                .filter-select.jsFilter__vals
                                    label.filter-select__option
                                        input(type="radio" name="price" value="По возрастанию" checked).jsFilter__val
                                        span По возрастанию
                                    label.filter-select__option
                                        input(type="radio" name="price" value="По убыванию").jsFilter__val
                                        span По убыванию
                    template.filter__template.filter-template
                        .filter-template__parent.filter-select
                        .filter-template__item.filter-select__option {{val}}
        .filters__bottom
            button(type='submit').filters__submit.btn.btn--black
                span Показать 38




















