.filters {
  --size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #bababa;
  @include sm-block {
    --size: 14px;
    gap: 10px;
    padding-bottom: 10px;
  }

  &__btn {
    font-size: var(--size);
    svg {
      display: none;
    }
  }

  &__drop {
    flex-grow: 1;
  }

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    @include sm-block {
      gap: 15px;
    }
  }

  &__item {
    &:last-child {
      margin-left: auto;
    }

    &:nth-child(2){
      .filter__drop{
        @include sm-block{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__bottom {
    background: $bg;
    padding: 30px;
    display: none;
    justify-content: center;
    border-bottom: 1px solid #dfdfdf;
  }

  &__submit {
    width: 224px;
    height: 56px;
    font-size: 18px;
  }

}

.filter {
  position: relative;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  @include lg-block {
    cursor: initial;
  }

  &:hover {
    z-index: 10;

    .filter-view {
      &__arr {
        transform: translateY(-50%) rotate(-180deg);
        @include sm-block{
            transform: none;
        }
      }
    }
  }

  &.active{

    .filter__drop{
      height: auto;
    }
    .filter-view {
      &__arr {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  &__drop {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    overflow: hidden;
    @include tr;
    @include lg-block {
      left: 0;
      transform: translateX(-10%);
    }
  }
}

.filter-view {
  position: relative;
  padding-right: 15px;

  display: flex;
  align-items: center;

  &__name {
    font-size: var(--size);
    position: relative;
    z-index: 10;
  }

  &__vals {
    display: none;
    font-size: var(--size);
    position: relative;
    z-index: 10;

    &--visible {
      display: block;
    }

    &--right {
      margin-left: auto;
    }
  }

  &__arr {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include tr;

    svg {
      display: block;
      @include sm-block{
        width: 7px;
        height: 5px;
      }
    }
  }
}

.filter-drop {
  background: $bg;
  border: 1px solid #dfdfdf;
  padding: 30px;

  @include sm-block {
    padding: 20px;
  }
}

.filter-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  @include sm-block{
    width: 130px;
  }

  &__option {
    cursor: pointer;
    padding: 5px 0;
    font-size: var(--size);

    input {
      display: none;

      &:checked + span {
        text-decoration: underline;
      }
    }

    span {
      white-space: nowrap;
    }
  }
}

.filter-colors {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  width: 300px;
  @include sm-block{
    width: 240px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    &--view {
      gap: 10px;
    }
  }

  &__item {
    flex-shrink: 0;
  }
}

.filter-color {
  display: block;
  cursor: pointer;

  &--view {
    .filter-color__wrap {
      width: auto;
      height: auto;
    }
  }

  input {
    display: none;

    &:checked + .filter-color__wrap {
      border-color: #707070;
    }
  }


  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &__round {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.filter-sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 35px;
  width: 300px;
  @include sm-block {
    gap: 25px;
    width: 240px;
  }

  &--view {
    gap: 10px;
  }
}

.filter-size {
  cursor: pointer;

  &--view {
    .filter-size__num {
      width: auto;
      height: auto;
    }
  }

  input {
    display: none;


    &:checked + .filter-size__num {
      background-color: #202020;
      color: $bg;
    }
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: var(--size);
  }
}
