.breadcrumbs{

  &__item{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    @include sm-block{
      font-size: 12px;
    }

    &:hover,&:focus,&:active{
      text-decoration: underline;
    }

    &--sep,&--active{
      &:hover,&:focus,&:active{
        text-decoration: initial;
      }
    }

    &--active{
      color: $link;
    }
  }
}