.order-info
    .order-info__left
        .order-info__img
            img(src="/images/content/women/collections/product/img1.jpg" alt="lorem")
    .order-info__right
        .order-info__title КОСТЮМ-ТРОЙКА
        .order-info__chars
            .order-info__char
                | Стандарт размера:&nbsp;
                b US
            .order-info__char
                | Размер:&nbsp;
                b 38
            .order-info__char
                | Рост:&nbsp;
                b 168 - 175
        .order-info__price
            .order-info__price-name Стоимость:
            .order-info__price-val $218.82
