.tutorial
    .tutorial__list
        each i,x in props.list
            .tutorial__item
                if x==13
                    h2.tutorial__title.title ИНФОРМАЦИЯ ПРО КЛИЕНТОВ И ПРЕИМУЩЕСТВА КОМПАНИИ
                .tutorial__wrap
                    .tutorial__left
                        a(href="https://www.youtube.com/watch?v=81URf1L22rk" data-fancybox).tutorial__video
                            img(src="https://img.youtube.com/vi/81URf1L22rk/hqdefault.jpg" alt="lorem")
                            span.tutorial__btn
                                <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
                                <path class="tutorial__btn-btn" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path>
                                <path class="tutorial__btn-arr" d="M 45,24 27,14 27,34">
                                </path>
                                </svg>
                    .tutorial__right
                        form(action="/php/subscribe.php" method="POST" data-action="subscribe").tutorial__form.bordered.jsAction
                            .tutorial__name.title= i
                            .tutorial__txt Посмотрите видео и напишите обратную связь по этому видео в форму ниже:
                            .tutorial__fields
                                .tutorial__field
                                    textarea(name="msg" placeholder="Запишите ваш вывод" data-rule-required="true" data-msg-required="Запишите ваш вывод").input.input--area
                                .tutorial__field
                                    input(type="text" name="name" placeholder="Ваше имя" data-rule-required="true" data-msg-required="Заполните Имя").input
                            button(type='submit').btn.btn--black.tutorial__submit
                                span Отправить
    //.tutorial__banner
    //    include banner/index
