.tutorial
    .tutorial__list
        each i,x in props.list
            .tutorial__item
                if x==13
                    h2.tutorial__title.title ИНФОРМАЦИЯ ПРО КЛИЕНТОВ И ПРЕИМУЩЕСТВА КОМПАНИИ
                .tutorial__wrap
                    .tutorial__left
                        a(href="https://www.youtube.com/watch?v=81URf1L22rk" data-fancybox).tutorial__video
                            img(src="https://img.youtube.com/vi/81URf1L22rk/hqdefault.jpg" alt="lorem")
                            span.tutorial__btn
                                <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
                                <path class="tutorial__btn-btn" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path>
                                <path class="tutorial__btn-arr" d="M 45,24 27,14 27,34">
                                </path>
                                </svg>
                    .tutorial__right
                        form(action="/php/subscribe.php" method="POST" data-action="subscribe").tutorial__form.bordered.jsAction
                            .tutorial__name.title= i
                            .tutorial__txt Посмотрите видео и напишите обратную связь по этому видео в форму ниже:
                            .tutorial__fields
                                .tutorial__field
                                    textarea(name="msg" placeholder="Запишите ваш вывод" data-rule-required="true" data-msg-required="Запишите ваш вывод").input.input--area
                                .tutorial__field
                                    input(type="text" name="name" placeholder="Ваше имя" data-rule-required="true" data-msg-required="Заполните Имя").input
                            button(type='submit').btn.btn--black.tutorial__submit
                                span Отправить
                                <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25.271 3.758L21.683 0.169998C21.5744 0.0613919 21.4271 0.000377652 21.2735 0.000377655C21.1199 0.000377658 20.9726 0.061392 20.864 0.169998C20.7554 0.278604 20.6944 0.425906 20.6944 0.579498C20.6944 0.73309 20.7554 0.880392 20.864 0.988998L23.464 3.589H0.579C0.425307 3.589 0.277909 3.65005 0.169232 3.75873C0.0605546 3.86741 -0.000499725 4.01481 -0.000499725 4.1685C-0.000499725 4.32219 0.0605546 4.46959 0.169232 4.57827C0.277909 4.68694 0.425307 4.748 0.579 4.748H23.463L20.863 7.348C20.7544 7.4566 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.2756 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.2756 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32052 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z" />
                                </svg>
    .tutorial__banner
        include banner/index
