//USER
@import "default/css/variables";
@import "default/css/mixins";
@import "default/css/fonts";
@import "default/css/smart-grid";
@import "default/css/adjustment";
@import "default/css/common";

//BLOCKS
@import "default/blocks/header/header";
@import "default/blocks/nav/nav";
@import "default/blocks/footer/footer";
@import "blocks/bordered";
@import "blocks/fancybox";

//COMPONENTS
@import "components/appointment/style";
@import "components/banner/style";
@import "components/breadcrumbs/style";
@import "components/catalog/style";
@import "components/choose/style";
@import "components/cloths/style";
@import "components/compilation/style";
@import "components/corsettech/style";
@import "components/delivery/style";
@import "components/docs/style";
@import "components/fabrics/style";
@import "components/fashion/style";
@import "components/faq/style";
@import "components/forms/style";
@import "components/filters/style";
@import "components/fitting/style";
@import "components/founder/style";
@import "components/gallery/style";
@import "components/gift/style";
@import "components/item/style";
@import "components/lang/style";
@import "components/list/style";
@import "components/map/style";
@import "components/mmenu/style";
@import "components/pagination/style";
@import "components/pay/style";
@import "components/portfolio/style";
@import "components/principles/style";
@import "components/product/style";
@import "components/revs/style";
@import "components/rev/style";
@import "components/reviews/style";
@import "components/signup/style";
@import "components/stages/style";
@import "components/subscribe/style";
@import "components/suit/style";
@import "components/team/style";
@import "components/tutorial/style";
@import "components/video/style";
@import "components/certs-choice/style";
@import "components/certs-subscrube/style";
@import "components/certs-items/style";
@import "components/certs-desc/style";
@import "components/certs-steps/style";
@import "components/certs-banner/style";


//PAGES
@import "pages/style";
@import "pages/index/style";


.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}