.compilation{

  &__title{
    margin-bottom: 50px;
    @include xlg-block{
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include lg-block{
      text-align: center;
      margin: 0 80px 40px;
    }
    @include sm-block{
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }

  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    box-sizing: border-box;
    @include lg-block{
      padding: 0 80px;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 40px 10px;
    }
    @include sm-block{
      grid-template-columns: repeat(2,1fr);
      padding: 0;
      margin-right: -15px;
      grid-gap: 10px;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;

    &:hover{
      color: $gold;
      .compilation__img{
        img{
          transform: scale(1.05);
        }
      }
      .compilation__link{
        background-color: $gold;
        color: $bg;
        border-color: $gold;
      }
    }
  }

  &__img{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    @include xlg-block{
      margin-bottom: 20px;
    }
    @include sm-block{
      margin-bottom: 10px;
    }

    &:before{
      content: '';
      display: block;
      padding-top: calc(636/433*100%);
    }

    img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }

  &__name{
    color: currentColor;
    text-align: center;
    margin-bottom: 50px;
    @include tr;
    @include xlg-block{
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include sm-block{
      font-size: 11px;
      margin-bottom: 0;
    }
  }

  &__link{
    max-width: 100%;
    width: 334px;
    height: 58px;
    font-size: 20px;
    border: 1px solid $txt;
    color: #0a0a0a;
    margin: 0 auto;
    margin-top: auto;
    @include tr;
    @include xlg-block{
      width: 100%;
    }
    @include sm-block{
      display: none;
    }
  }
}