.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $bg;
  width: 333px;
  height: 58px;
  color: $bg;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  @include tr;

  &:hover{
    background: $bg;
    color: $txt;
  }

  &--black{
    color: $txt;
    border-color: $txt;

    &:hover{
      background: $txt;
      color: $bg;
    }
  }


  svg{
    fill: currentColor;
    margin-left: 15px;
  }

}

.mb80{
  margin-bottom: 80px;
}