extends ./../../../../main

block variables
    - var title = 'Костюм'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Обувь ручной работы
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
                    .page-desc__content.content
                        p Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль
        //- tech
        section.page__tech.mb80
            .container
                - var img ="/images/content/corsetttech/img2.jpg";
                include ../../../../components/corsettech/index
        //- suit
        section.page__suit.mb80
            .container
                -
                    var props = {
                        img: "/images/content/men/services/shoes/img.png",
                        bottomNo: true
                    };
                include ../../../../components/suit/index
        //- prices
        section.page__prices.mb40
            -
                var props = {
                    title: "Цены",
                    list: [
                        {
                            img: "/images/content/men/services/shoes/prices/1.jpg",
                            title: "Оксворды",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/men/services/shoes/prices/2.jpg",
                            title: "Дерби",
                            price: "от 75 000р.",
                            href: "/"
                        },
                        {
                            img: "/images/content/men/services/shoes/prices/3.jpg",
                            title: "Броги",
                            price: "от 75 000р.",
                            href: "/"
                        },
                        {
                            img: "/images/content/men/services/shoes/prices/4.jpg",
                            title: "Монки",
                            price: "от 75 000р.",
                            href: "/"
                        },


                    ],
                };
            include ../../../../components/catalog/index
        //- appointment
        section.page__appointment.mb80
            .container
                - var img = "/images/content/appointment/img2.png"
                include ../../../../components/appointment/index
        //- principles
        section.page__principles.mb80
            .container
                include ../../../../components/principles/index
        //- gallery
        section.page__gallery.mb80
            .container
                -
                    var props = {
                        title: "Работы LEONID GRIVKO",
                        list: [
                            "/images/content/women/tailoring/gallery/1.jpg",
                            "/images/content/women/tailoring/gallery/2.jpg",
                            "/images/content/women/tailoring/gallery/3.jpg",
                            "/images/content/women/tailoring/gallery/4.jpg",
                            "/images/content/women/tailoring/gallery/5.jpg",
                            "/images/content/women/tailoring/gallery/6.jpg",
                            "/images/content/women/tailoring/gallery/7.jpg",
                            "/images/content/women/tailoring/gallery/8.jpg",
                        ]
                    };
                include ../../../../components/gallery/index
        //- revs
        section.page__revs.mb80
            .container
                include ../../../../components/revs/index
        //- appointment
        section.page__appointment.mb80
            .container
                include ../../../../components/appointment/index
        //- founder
        section.page__founder.mb80
            .container
                include ../../../../components/founder/index
        //- gift
        section.page__gift.mb80
            .container
                -
                    var props = {
                        list: false,
                        cls: 'gift--nowrap'
                    };
                include ../../../../components/gift/index
        //- signup
        section.page__signup
            .container
                include ../../../../components/signup/index