extends ../../../../main

block variables
    - var title = 'Женские костюмы'
    - var isWomen = true

block content
    main.page
        //- desc
        section.page__desc
            .container
                .page-desc
                    h2.page-desc__title.title.title--line Женские костюмы
                    .page-desc__breadcrumbs
                        include ../../../../components/breadcrumbs/index
                    .page-desc__content.content
                        p Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины. Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность и неповторимый запоминающийся стиль
        //- catalog
        section.page__catalog.mb80
            -
                var props = {
                    filters: true,
                    listClass: "jsFiltersContent",
                    list: [
                        {
                            img: "/images/content/women/collections/9.jpg",
                            title: "КОСТЮМ-ТРОЙКА",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/10.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/11.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/12.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/21.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/29.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/30.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/31.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/32.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/33.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/34.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        },
                        {
                            img: "/images/content/women/collections/35.jpg",
                            title: "ОДНОБОРТНЫЙ КОСТЮМ",
                            price: "от 75 000 руб.",
                            href: "/"
                        }
                    ],
                    cls: "catalog--small-title",
                    nav: true
                }
            include ../../../../components/catalog/index
        //- faq
        section.page__faq.mb80
            .container
                -
                    var props = {
                        title: "FAQ",
                        list: [
                            {
                                a:"Как заказать дистанционно?",
                                q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины.<br>" +
                                        "Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность<br>" +
                                        "и неповторимый запоминающийся стиль"
                            },
                            {
                                a:"Можно ли сделать возврат, если не понравится после примерки?",
                                q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины.<br>" +
                                        "Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность<br>" +
                                        "и неповторимый запоминающийся стиль"
                            },
                            {
                                a:"Как ухаживать за костюмом?",
                                q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины.<br>" +
                                        "Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность<br>" +
                                        "и неповторимый запоминающийся стиль"
                            },
                            {
                                a:"Если я поправлюсь /похудею , могу ли я к Вам обратиться за коррекцией?",
                                q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины.<br>" +
                                        "Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность<br>" +
                                        "и неповторимый запоминающийся стиль"
                            },
                            {
                                a:"Как вы осуществляете доставку?",
                                q: "Наша цель — подарить миру идеальные костюмы, подчёркивающие образ и индивидуальность каждой женщины.<br>" +
                                        "Команда бренда провела колоссальную работу и создала коллекцию костюмов, сочетающую красоту, элегантность<br>" +
                                        "и неповторимый запоминающийся стиль"
                            },





                        ]
                    };
                include ../../../../components/faq/index
        //- choose
        section.page__cjoose.mb80
            .container
                include ../../../../components/choose/index
        //- subscribe
        section.page__subscribe
            .container
                -
                    var props = {
                        title: "Подпишитесь на рассылку, мы расскажем много интересного.",
                        txt: "Одежда для нас – особый атрибут, в каждой детали которого<br>" +
                                "кроется история, труд и люди, влюбленные в то, что делают.",
                        fields: {
                            email: true
                        },
                        btnName: "Подписка на рассылку",
                        img: "/images/content/index/subscribe/img"
                    };
                include ../../../../components/subscribe/index