.rev{
  display: block;
  position: relative;
  width: 100%;
  color: $bg;
  overflow: hidden;

  &:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 41.77%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    @include tr;
  }

  &:hover{
    &:before{
      height: 72.6%;
      opacity: 1;
      @include lg-block{
        opacity: 0;
      }
    }

    .rev{
      &__img{
        img{
          transform: scale(1.05);
          @include lg-block{
              transform: none;
          }
        }
      }

      &__btn{
        svg{
          fill: $link;
          @include lg-block{
              fill: $bg;
          }
        }
      }
    }
  }

  &__img{
    display: block;
    padding-top: calc(663/432*100%);
    position: relative;
    overflow: hidden;

    img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      @include tr;
    }
  }

  &__btn{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    svg{
      fill: $bg;
      @include tr;
    }
  }

  &__wrap{
    position: absolute;
    z-index: 3;
    bottom: 60px;
    left: 60px;
    right: 60px;
    @include xlg-block {
      left: 20px;
      right: 20px;
      bottom: 30px;
    }
    @include lg-block{
      left: 30px;
      right: 30px;
    }
    @include sm-block{
      left: 15px;
      right: 15px;
      bottom: 15px;
    }
  }

  &__name{
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
    @include xlg-block{
      margin-bottom: 10px;
      font-size: 16px;
    }
    @include sm-block{
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }

  }

  &__txt{
    font-size: 16px;
    display: block;
    @include xlg-block{
      font-size: 14px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }

}