.banner {
  position: relative;

  &--small {
    .banner {

      &__wrap {
        @include xlg-block {
          justify-content: flex-end;
          padding-bottom: 65px;
        }
        @include lg-block {
          padding-bottom: 35px;
        }
        @include sm-block {
          bottom: 15px;
          padding-bottom: 0;
        }
      }

      &__sub {
        @include xlg-block {
          margin-bottom: 20px;
        }
        @include lg-block {
          margin-bottom: 10px;
        }
        @include sm-block {
          font-size: 16px;
        }
      }

      &__title {
        @include xlg-block {
          font-size: 36px;
          margin-bottom: 20px;
        }
        @include lg-block {
          font-size: 24px;
          margin-bottom: 10px;
        }
        @include sm-block {
          font-size: 20px;
        }
      }

      &__big {
        @include xlg-block {
          font-size: 20px;
        }
        @include lg-block {
          font-size: 18px;
        }
        @include sm-block {
          font-size: 16px;
        }
      }

      &__img {
        padding-top: calc(588 / 1760 * 100%);
        @include xlg-block {
          padding-top: calc(840 / 1760 * 100%);
        }
        @include sm-block {
          padding-top: 0;
        }
      }
    }
  }

  &--tablet-wide {
    .banner__container {
      @include xlg-block {
        max-width: 1205px;
        padding: 0;
      }
    }

    .banner__img {
      @include xlg-block {
        padding-top: calc(441 / 1205 * 100%);
      }
      @include lg-block {
        padding-top: calc(609 / 768 * 100%);
      }
      @include sm-block {
        padding-top: calc(481 / 375 * 100%);
        height: initial;
      }
    }
  }

  &__slider {
    position: relative;
  }

  &__slide {
    box-sizing: border-box;
  }

  &__img {
    position: relative;
    padding-top: calc(840 / 1920 * 100%);

    @include sm-block {
      padding-top: 0;
      height: calc(100vh - 58px);
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40.625%;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      @include sm-block {
        width: 100%;
        top: initial;
        bottom: 0;
        height: 63%;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

    img {
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  &__container {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @include sm-block {
      align-items: flex-end;
      padding-bottom: 70px;
    }

  }

  &__wrap {
    @include wrapper;
    width: 100%;
    margin: 0 auto;
    color: $bg;
    line-height: 1.2;
    padding: 0 145px;
    @include xlg-block {
      padding: 0 160px;
    }
    @include lg-block {
      padding: 0 50px;
    }
    @include sm-block {
      padding: 0 20px;
    }
  }

  &__sub {
    font-size: 20px;
    margin-bottom: 14px;
    @include xlg-block {
      margin-bottom: 20px;
    }
    @include lg-block {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include xlg-block {
      margin-bottom: 15px;
    }
    @include lg-block {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__big {
    font-size: 32px;
    @include lg-block {
      font-size: 18px;
    }
    @include sm-block {
      font-size: 16px;
    }
  }

  &__txt {
    font-size: 28px;
    @include xlg-block {
      font-size: 20px;
    }
    @include lg-block {
      font-size: 16px;
    }
  }

  &__nav {
    @include wrapper;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    @include lg-block {
      display: none;
    }
  }

  &__arr {
    display: block;
    pointer-events: all;

    &.swiper-button-disabled {
      opacity: .5;
      pointer-events: none;
    }
  }

  &__pag {
    position: absolute;
    z-index: 10;
    bottom: 35px !important;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    @include lg-block {
      bottom: 20px !important;
    }

    .swiper-pagination-bullet {
      width: 24px;
      height: 24px;
      border: 2px solid $bg;
      opacity: 1;
      background: none;
      padding: 3px;
      margin: 0 !important;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: #e0c179;
        border-radius: 50%;
        display: none;
      }
    }

    .swiper-pagination-bullet-active {
      border: 2px solid #e0c179;

      &:before {
        display: block;
      }
    }
  }

  &__form {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include lg-block {
      display: none;
    }
  }

  &__btn {
    margin-top: 35px;
    font-size: 20px;
    @include xlg-block {
      width: 212px;
      height: 40px;
      font-size: 13px;
    }
  }


}

.banner-form {
  display: flex;
  align-items: center;
  border: 32px solid $bg;
  background: url("/images/content/index/banner/bg-sharp.jpg") 0 0;
  padding: 45px 10px 45px 30px;

  &:hover {
    .banner-form__wrap {
      width: 857px;
    }
  }

  &__name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: 500;
    padding-left: 20px;
    font-size: 20px;
  }

  &__wrap {
    width: 0px;
    overflow: hidden;
    @include tr;
  }

  &__form {
    display: block;
    padding-right: 35px;
    width: 822px+35px;
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 405px);
    grid-gap: 10px;
    margin-bottom: 40px;
  }

  &__field {

    &--double {
      grid-column: span 2;
    }
  }

  &__submit {
    height: 74px;
    width: 319px;
  }
}