#formReview
    form(action="/php/review.php" method="post" enctype="multipart/form-data").call
        h3.call__title.title.title--line Оставить отзыв
        .call__photos
            include files/index

        .call__fields
            .call__field
                textarea(name="msg" placeholder="Напишите текст отзыва").input.input--area
        button(type='submit' data-action="addReviewSubmit").call__submit.btn.btn--black.jsAction
            span Оставить отзыв
            <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.271 3.758L21.683 0.17C21.5744 0.0613939 21.4271 0.00037956 21.2735 0.000379562C21.1199 0.000379565 20.9726 0.0613939 20.864 0.17C20.7554 0.278606 20.6944 0.425908 20.6944 0.5795C20.6944 0.733092 20.7554 0.880394 20.864 0.989L23.464 3.589H0.579C0.425307 3.589 0.277909 3.65005 0.169232 3.75873C0.0605546 3.86741 -0.000499725 4.01481 -0.000499725 4.1685C-0.000499725 4.32219 0.0605546 4.46959 0.169232 4.57827C0.277909 4.68695 0.425307 4.748 0.579 4.748H23.463L20.863 7.348C20.7544 7.45661 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.27561 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.27561 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32053 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z"/>
            </svg>


#formCall
    form(action="/php/call.php" method="post" ).call
        h3.call__title.title.title--line
            | записаться
            br
            | на снятие мерок
        .call__txt
            | На ней мы узнаем о ваших предпочтениях
            | и пожеланиях, снимем мерки и после этого приступим к исполнению.
        .call__fields
            each field in ["name","tel","msg"]
                include fields/index
        button(type='submit').call__submit.btn.btn--black
            span Отправить заявку
            <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.271 3.758L21.683 0.17C21.5744 0.0613939 21.4271 0.00037956 21.2735 0.000379562C21.1199 0.000379565 20.9726 0.0613939 20.864 0.17C20.7554 0.278606 20.6944 0.425908 20.6944 0.5795C20.6944 0.733092 20.7554 0.880394 20.864 0.989L23.464 3.589H0.579C0.425307 3.589 0.277909 3.65005 0.169232 3.75873C0.0605546 3.86741 -0.000499725 4.01481 -0.000499725 4.1685C-0.000499725 4.32219 0.0605546 4.46959 0.169232 4.57827C0.277909 4.68695 0.425307 4.748 0.579 4.748H23.463L20.863 7.348C20.7544 7.45661 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.27561 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.27561 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32053 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z"/>
            </svg>

#formThanks
    .call
        h3.call__title.title.title--line
            | Спасибо что выбрали нас
            br
            | Ваша заявка принята!
        .call__txt Скоро с вами свяжется менеджер

#formReviewThanks
    .call
        h3.call__title.title.title--line
            | Спасибо за Ваш отзыв
        .call__txt Скоро отзыв появится